[2014-05-26 11:28] vkostyukov opened #26 "Composable ValidationRule's"
[code]

[2014-07-23 08:26] vkostyukov opened #49 "Lightweight in-memory caching API"
Probably based on standard CHM.

It may looks like a finagled filter that a) checks the local cache and then b) performs request handling:

[code]

[2014-11-22 00:49] vkostyukov opened #79 "Brand new HTTP Routing DSL"
We still should be as close to the Finagle API as possible. But having a nicer routing DSL is a really cool feature. I think we can reuse a lot from default routing DSL but just make is a bit shorter. Like this:

[code]

Instead of:

[code]

[2014-12-04 23:23] vkostyukov opened #86 "Implement own JSON parser"
It would be nice to have own implementation of JSON parser in `finch-json`. For now, `scala.util.parsing.json.JSON.parse()` is used.

[2014-12-09 16:53] vkostyukov opened #89 "Endpoint must extends a service"
This is an open question. I personally believe that it might be a simple service.

[2014-12-14 21:05] pasviegas opened #114 "Type alias for endpoint routes"
So, I just started with finch, and I am really happy with the project.

Just as a beautifier, what do you think about having a type alias like the following?

[code]

[2014-12-15 00:04] vkostyukov opened #115 "Improve finch-json"
At least two improvements should be done:

* Use `tailrec` annotation whenever its possible to use
* Use `scala.Dynamic` for querying
* Provide mechanism of case-class to JSON conversion (this may be moved to `0.5.0` milestone).

[2014-12-18 23:50] vkostyukov opened #121 "Add benchmark"
We can add a sub-project `finch-benchmark` with JMH-based benchmark to test core basic blocks. I would pay a special attention for `RequestReader` abstraction, which is the cornerstone of the Finch applications. We can also test `finch-json` project in the same benchmark.

[2014-12-19 23:27] vkostyukov opened #122 "Do we need a RequestReader that reads URI/path params?"
Usually, we route the requests by path/URI, so we don't need to use `RequestReader` to fetch them, since we do it with `Path`. I was wondering if it's useful to have a special request reader that fetches the URI params. This will allow users to not instantiate services for every request, but reuse it. The quick start example would be something like this:

[code]

[code]

This issue is open for dis

[2014-12-22 19:17] vkostyukov opened #123 "Publish scaladoc somewhere"
GitHub pages might be a good place to start.

[2015-01-04 16:02] rpless commented on #79
I don't actually think we need to anything more than import `import com.twitter.finagle.httpx.Method._`.
All of the Methods are exposed from the message object: https://github.com/twitter/finagle/blob/master/finagle-httpx/src/main/scala/com/twitter/finagle/httpx/Method.scala

[2015-01-04 17:50] vkostyukov commented on #79
I was wondering if we can get rid of `-> Root /` in the path. To use it like `case Get / "users" / id => ???`. Ryan @rpless, do you think this is possible to do?

[2015-01-04 18:53] rpless commented on #79
I had missed that part. I think it might be. We'll probably have to extend the `Path` object to include a `Method`. I'll experiment with it a little and let you know what I find.

[2015-01-06 01:11] vkostyukov commented on #49
Yeah. And it looks exactly like calling a downstream service (i.e., memcached or redis). So, we probably don't need to enable caching in Finch: users might be able to instantiate a clients to their remove storages like redis and use them as caches.

[2015-01-08 17:53] vkostyukov opened #128 "Extend Demo with new service that return all users in the database"
The idea is to show how to handle `Seq[ToJson]` objects. And also uses the rich http request type like:
[code]

[2015-01-09 01:31] vkostyukov opened #129 "Use crazy scalac flags"
See details here: http://tpolecat.github.io/2014/04/11/scalac-flags.html. We probably might want to use those flags.

[2015-01-11 06:30] vkostyukov commented on #122
There are new details on this issue: recently asked question on gitter:

"I have a quick question
I've seen a few examples like this for routing requests:
 val endpoint = Endpoint[HttpRequest, HttpResponse] {
    case Method.Get -> Root / "hello" / name => hello(name)
  }
}
This message was deleted
so here, restructuring is used to pull apart the path
does anyone know if it's possible to capture t

[2015-01-13 21:09] vkostyukov opened #133 "Add support for the Jackson library"
See details here: https://github.com/FasterXML/jackson-module-scala

[2015-01-14 22:12] vkostyukov opened #134 "Get rid of `Req <: HttpRequest` in Endpoint"
A very interesting issue come up today after the discussion on Gitter. For now, if you want to use rich request type you have to extends `httpx.Request` since `Endpoint` has a constraint on its type parameter `Req` so `Req <: HttpRequest`. This is needed for routing (more precisely for converting the endpoint into service) since we access `path` and `method` members on request.

So far so good. Bu

[2015-01-14 22:41] vkostyukov commented on #134
What I'm thinking about right now is to have an endpoint defined as `Endpoint[Req, Rep]` and have method `toService` defined as:

[code]

where `ReqToPathAndMethod` (name may be better) looks like:

[code]

We can define it for `httpx.Request` so users won't see any difference. But in case if you want to implement your own rich http type: you have to provide a converter for it.

[2015-01-14 23:43] vkostyukov opened #136 "Add support for finagle-oauth2 library"
The idea is just to provide an implicit view from `OAuth2Request` to `HttpRequest` and put it into `oauth2` module. I'm also open for discussion on how can we make a better integration.

[2015-01-15 00:15] amartinsn commented on #134
I have implemented a RequestProxy for httpx Request type. It's based on the original http RequestProxy.

[code]

So from that I created my specialized request type:

[code]

It seems to work fine. Will get back here once I finish all tests.

[2015-01-15 00:23] vkostyukov commented on #134
Thanks @amartinsn for following up! That approach should work fine. I'm pretty sure you will get the code compiled. The issue you faced is kinda bigger. Finch should follow the path of its father :) So, we probably have to provide an alternative way of using custom request types in `Endpoint` w/o inheritance. The nice thing about approach I suggested is that you won't need to rewrite you current c

[2015-01-15 00:28] rodrigopr commented on #134
For the current version @amartinsn code is a good solution, but I think @vkostyukov's is a more generic.

It will probably also solve a small problem I faced recently using finch 0.3.0 (finagle-httpx) along with other finagle-http services (using twitter-server). I had to implement a [filter](https://gist.github.com/rodrigopr/d556b6a0f7b7a79b544c) to map between the representations

[2015-01-15 00:37] vkostyukov commented on #134
@rodrigopr yeah I've seen the discussion on finaglers. We should migrate Twitter server to `httpx`. For now, your filter is a good solution.

I'm not sure how `Route` is going to help with it. You can definitely use `http.Request` in the endpoint, but  `RequestReader` still depends on `httpx.Request`. The only one thing may help here is having an implicit conversion from `Req` to `httpx.Request`.

[2015-01-15 00:46] vkostyukov commented on #134
Hm. I think is not a bad idea to have a converter from `Req` to `httpx.Request`. This will allow users to create custom request types and pass them into `RequestReaders`, which is really nice.

[code]

[2015-01-15 01:43] rodrigopr commented on #134
yeah, you're right, I forgot about of the RequestReader.
There is also other things that are tied to the httpx implementation.

We could use the `ToHttpRequest` to construct the router, instead of having the `ReqToPathAndMethod`

[2015-01-15 01:58] vkostyukov commented on #134
Yeah. I was playing with that idea and kinda stuck. All I want do is to keep the current API unchanged:

[code]

Here is what I have for now: https://gist.github.com/vkostyukov/60e658da7d5c674c9d97. The only issue is that `Foo("foo")` returns an instance of `Foo` not `RequestReader` so we can't compose it. Would be happy to get some help with that.

[2015-01-15 02:17] rodrigopr commented on #134
In your gist you can do:
[code]

But it fail to call `Foo("...")(10)` due to the implicit conversion parameter conflict. if split in two statement it works.

[2015-01-15 02:19] vkostyukov commented on #134
Yeah. I was thinking about keep the API unchanged. So, we want to have both cases: `Foo("s")` and `Foo("s")(i)`. What do you mean by "split in two statement"?

[2015-01-15 02:22] rodrigopr commented on #134
Either
[code]
Or `Foo("s").apply(i)` works.

The compiler expects `ToString[I]` on `Foo("s")(i)` on `i` parameter.

[2015-01-15 02:25] vkostyukov commented on #134
Yeah. But we still want to be able compose readers:

[code]

And it's not going to work since it's `Foo` not `R` (where map/flatMap is defined).

[2015-01-15 02:42] rodrigopr commented on #134
Using the code I posted `Foo("a")` returns a `R[Int, String]`.
But what if we do a different approach:

[code]

[2015-01-15 02:57] rodrigopr commented on #134
With the last gist I'm mostly playing with the idea.
And it would avoid the implicit problem I mentioned, at cost of add complexity to the core lib.
I think that having the route extractor as you did in #135 seems to be enough for most use case.

[2015-01-15 05:57] BenWhitehead commented on #134
I like the idea of being able to decouple `Endpoint` from the http request object, and from what I've read in this issue and in PR#135 it seems like things have been through through pretty well.

One thing I thought about when reading this is that it might be nice (cool?) to take it a step further and decouple the Route from the `(Method, Path)` tuple and have some sort of `Route` type that could

[2015-01-15 05:58] vkostyukov commented on #134
@rodrigopr I updated a PR: used implicit views instead. The current implementation looks good to me. I think this is a good start point for further refactoring. We can use evidences for `RequestReader`.  I payed around different approaches with `RequestReader` in this gist: https://gist.github.com/vkostyukov/60e658da7d5c674c9d97. The last snipped is using [Magnet Pattern](http://spray.io/blog/2012

[2015-01-15 06:03] vkostyukov commented on #134
@BenWhitehead, right! I also was thinking about decoupling the Route (making our own abstraction?). It's big step though. While it's nice to have the things wrapped with own abstractions, we should go crazy since we're still sitting on top of Finagle. I personally think that we should follow the `httpx` package (which is going to be an immutable HTTP implementation). So, I think we should end up u

[2015-01-15 06:34] rodrigopr commented on #134
@vkostyukov, If we move the implicit view further in the execution we can give enough evidence to the compiler to make it work:

[code]

Following the gist, would be something like: https://gist.github.com/rodrigopr/b35279109df7926054a9

[2015-01-15 06:45] vkostyukov commented on #134
This is really cool! Thanks @rodrigopr! I think we should follow that idea. We may achieve the same result using:

[code]

Do you have an opinion on what is better for our case: implicit views (`ev`) or context bounds (your approach)?

[2015-01-15 07:03] rodrigopr commented on #134
Was trying simplify the method signature a bit, as it will be used in all request reader implementations
But the context bound approach requires to use `implicitly[X]` every time, so there's little gain.

I think people are more used to implicit view/parameters too, so I would go with this approach.

[2015-01-15 17:23] vkostyukov commented on #134
I personally like implicit views: you can use your underlying object as a converted object  w/o calling `ev` explicitly. And it gives you a nice compiler error, in our case it would be: `error: No implicit view available from Req => HttpRequest`. The only think I don't like about them is their definition. You have to define an `implicit def ... ` which gives you a warning by default unless you hav

[2015-01-15 19:14] vkostyukov commented on #134
I updated a PR to use new technique with `RequestReader`. Please, have a look.

[2015-01-15 23:23] jeremyoday commented on #133
Any schedule estimate on this?  I spent some time working a solution with Finch 0.4.0 but ran into type erasure problems (sample included, DefaultObjectMapper is just a pre-configured mapper).

[code]
Any help would be appreciated as we are currently skipping the RequiredBody path to parse directly with Jackson.  Let me know if my Scala is off as I am coming over from Java.  Thank you, we are enjo

[2015-01-15 23:45] vkostyukov commented on #133
Thanks @jeremyoday! Nice too know that we're heading the right direction. I've moved this ticket to this milestone. I expect the 0.4.0 release in a couple of weeks. Not too much work is left.

I'm not an expert in Jackson, but the I believe you have use [ClassTag](http://www.scala-lang.org/files/archive/nightly/docs/library/index.html#scala.reflect.ClassTag) which contains erased information. Both

[2015-01-16 00:48] rpless commented on #129
I've started adding flags to the compiler and have run up against some interesting warnings:
- `Xlint` - "it is not recommended to define classes/objects inside of package objects" -- This happens all over the project
- `xLint` - "Selecting value Db from object Main, which extends scala.DelayedInit, is likely to yield an uninitialized value" -- -Xlint causing trouble again
- `Ywarn-value-discard`

[2015-01-16 01:04] jeremyoday commented on #133
Thank you for the note, really appreciate it.  Unfortunately that won't compile because classTag is just a type.  I played with it a bit but every permutation seems to yield scala.Nothing as the type.

This where I left off but the type seems to always be gone at runtime so was wondering if something further up in the Finch stack needed to altered to pass the type through:
[code]
Let me know what

[2015-01-16 01:23] rodrigopr commented on #133
@jeremyoday, Changing `val classTag = implicitly[A]` to `val classTag = implicitly[ClassTag[A]]` should make it work.

[2015-01-16 01:32] vkostyukov commented on #133
This should work: I experimented in REPL:

[code]

[2015-01-16 01:51] jeremyoday commented on #133
Thanks for the hints, appreciate it.  Things compile and execute properly but the type is still not coming through for Jackson.  Here is the full implementation:

[code]
The output is:
```Runtime Class:class scala.runtime.Nothing$```
With the Jackson exception:
[code]

I will continue to work with it but let me know if you think of anything potentially causing the issue.

[2015-01-16 01:51] vkostyukov commented on #129
Nice job @rpless on this comprehensive analysis!

I think we can postpone enabling `Xlint` flag for now (I have some plans on how to reduce the amount of code in `package.scala` classes, but this is not urgent at all). We can definitely enable `xLint` and `-Xfatal-warnings` (once we fix #86). I'm not sure I understood `Ywarn-value-discard` flag semantic. Do we really use `intercept`? I was thinkin

[2015-01-16 02:02] rodrigopr commented on #133
How are you testing it?
Calling `decodeJacksonJson` make the compiler imply `A` to be `Nothing`, try `decodeJacksonJson[String]`

[2015-01-16 02:09] jeremyoday commented on #133
Here is the Service being executed pulling in the package in question:
[code]
Thanks.

[2015-01-16 03:11] rpless commented on #129
We still have a couple of `intercept`s hanging around and its also happening on `an [Exception] should be thrownBy`.

[2015-01-16 04:26] rodrigopr commented on #133
Yeah, the fact that `DecodeRequest[+A]` is covariant in `A` makes the compiler pick `Nothing`.
Need to take a closer look, but I saw that using `RequiredBody(decodeJacksonJson[TestParseObject])` works, so something like this may be a option:
[code]

Maybe there is other ways to do this.

[2015-01-16 04:43] #123 closed

[2015-01-16 05:00] jeremyoday commented on #133
Great, thanks, that is what I suspected.  I will keep working with it, let me know if you see a different solution or are able to get the Jackson support in a different way, appreciate the time.

[2015-01-16 05:08] vkostyukov commented on #133
There is should be a way to make if looks like nicer. @jeremyoday I hope @rodrigopr and I will come up with something useful and ship jackson support in 0.4.0 stable release.

[2015-01-16 05:21] jeremyoday commented on #133
Great, thank you, appreciate your time on this.  We are looking forward to it and Finch as a cornerstone of our platform.

[2015-01-16 05:24] vkostyukov commented on #133
Cool! Let me know once you decide to be in the adopters list :)

[2015-01-16 05:34] jeremyoday commented on #133
Will do and thanks.

[2015-01-16 06:15] #134 closed

[2015-01-16 06:16] #89 closed

[2015-01-16 18:23] vkostyukov commented on #114
@pasviegas do you mind if I move this to 0.5.0 release. Since we're trying to hide the dependency on `httpx` we might want to have our own abstraction for route in future. So it would not be an _alias_ but a standalone abstraction. Maybe.

[2015-01-16 19:18] vkostyukov commented on #129
Done by @rpless.

[2015-01-16 19:18] #129 closed

[2015-01-16 19:22] vkostyukov commented on #122
Moving this to the next milestone, since it's not really clear what exactly we want to see.

[2015-01-16 21:08] vkostyukov commented on #133
I added an `urgent` badge for this issue. Planning to work it out this weekend. This is a hi priority ticket for Finch now.

[2015-01-17 03:51] vkostyukov commented on #133
@jeremyoday you might be interested in #143. It still requires some improvements but already works fine with some workaround.

[2015-01-17 07:58] jeremyoday commented on #133
Thank you, I will take a look and get it implemented on our side.  Appreciate your time on this.

[2015-01-17 08:17] vkostyukov commented on #133
I will publish this in the SNAPSHOT version once it get merged, so you can just wait and grab a snapshot.

[2015-01-17 14:54] jeremyoday commented on #133
Great, thank you and appreciate your time on this, implementation looks great.

As an enhancement, you may consider allowing one to supply their own ObjectMapper or at the least have access to the internal ObjectMapper.  This would allow for additional configuration and use in other areas such as serializing objects to lower tier services, Kafka, etc.  Generally speaking, you want one ObjectMapper

[2015-01-17 15:59] rodrigopr commented on #133
I've come with something up.
I think this API make more sense for a decoders like jackson, which share the same instance, only changing the type hint(`Class[_]` in the case)

I had to split into two decode classes, and use magnet pattern to decide which one to use.

[code]

@vkostyukov, @jeremyoday, what you guys think?

[2015-01-17 16:32] rodrigopr commented on #133
I also think we should use jackson's `constructType[A]` [[1]](https://github.com/FasterXML/jackson-module-scala/blob/master/src/main/scala/com/fasterxml/jackson/module/scala/experimental/ScalaObjectMapper.scala#L56) instead of pure `classTag[A].runtimeClass`.
That or require a ScalaObjectMapper, and use their `readValue[A]` api.

[2015-01-17 19:12] vkostyukov commented on #133
I like the idea really much. @rodrigopr is right. There are json libraries for which is make sense having a different `DecodeJson`/`EncodeJson` signatures. Like the suggested ones (I changed methods names a bit)

[code]

We should also consider creating encoder and decoder from object mapper. I see the definition like this:

``scala
def decodeJackson(mapper: ObjectMapper) = new DecodeGeneralReques

[2015-01-17 19:19] rodrigopr commented on #133
No problem @vkostyukov, go ahead.

[2015-01-18 06:34] vkostyukov commented on #133
There is some good news for you @jeremyoday. Checkout #143!

[2015-01-19 04:57] jeremyoday commented on #133
Sorry, been away for the weekend.  This looks great and thank you to everyone, really appreciate the time on this and I suspect many others will as well.  I will work on our implementation this week, looking forward to getting it in.

[2015-01-19 05:07] vkostyukov commented on #133
@jeremyoday I'm in the middle of publishing this as a snapshot 0.4.0. All you would need to do is to implicitly define your object mapper and you're all set:

[code]

[code]

[2015-01-19 05:09] jeremyoday commented on #133
Great!  Looks fantastic, thank you again for your time on it.

[2015-01-19 05:38] #133 closed

[2015-01-19 06:27] vkostyukov commented on #114
Alright, moving it to the next release.

[2015-01-19 07:25] #128 closed

[2015-01-20 00:47] vkostyukov commented on #133
@jeremyoday you can grab 0.4.0 stable version. The `finch-jackson` package is part of that release.

[2015-01-20 17:19] jeremyoday commented on #133
Great, thank you, I will incorporate it today.  Really appreciate your time on this.

[2015-01-21 22:54] benjumanji opened #145 "Applicative RequestReader"
I think it would be useful to provide an applicative interface to request readers, as this would allow for validation that collected all errors rather than just the first one.

[2015-01-21 22:56] benjumanji commented on #145
I am on holiday at the moment, but would be happy to have a go at making this happen when I get back. The obvious question here, is what this should look like. Given that applicative functions aren't in scala's predef, and having scalaz-core as a dependency feels a little heavy, I guess we could just have a function for chaining request readers together that return an aggregate exception?

[2015-01-21 23:29] vkostyukov commented on #145
Hi @benjumanji! I was trying to avoid the scalaz dependency as long as possible. The only thing we needed so far is `Reader` which is a `RequestReader`. It would be nice to avoid this dependency in this time also. Let's wait for the third time we need scalaz. It might be a good sign to add it.

I agree, we should provide a way to collect all the exceptions thrown by `RequestReader`. This will allo

[2015-01-21 23:36] vkostyukov commented on #145
BTW, there is a light-weight version of scalaz that appears like 1 hour ago: https://github.com/mpilquist/fundamentum. The project is still in progress, but I think it's worth to look at it.

[2015-01-22 05:01] vkostyukov opened #146 "Route Combinators"
I was thinking quite a long time on combinators for `Route` abstraction. The idea is to replace the partial function `route` in  `Endpoint` by special type `Route`, whose instance may be build to plenty of predefined combinators. Thus the particular `Endpoint` is actually something like this:

[code]

So, we still will be able to compose a bunch of endpoints by `orElse` operator.

The `Route[R]` a

[2015-01-22 14:22] rpless commented on #146
I like the direction. One of the potential benefits is that we'll be able to inspect routing and users could extend it with meta data (as desired in #73). The other issue with routing currently is we can't really define it independently of the service it maps to. I had a lot of issues with this when I was experimenting with #79. Right now all of our routing is built on a set of extractors that are

[2015-01-22 17:33] vkostyukov commented on #146
Looks like with such change we may close at least the following tickets: #114, #79, #122 and also make a good progress towards #73. There is also an old issue that hasn't been properly resolved: #54. We can support this having a `route` value.

And regarding the combinators name. Ryan @rpless is right: we don't need string labels for each combinator. So, it might be just `int`, `double`, etc. The

[2015-01-22 18:47] rodrigopr commented on #146
Nice, I like the idea a lot.

How the proposed api would handle endpoints with multiple routes? Or do you plan to use endpoint composition for that?

[2015-01-22 18:57] vkostyukov commented on #146
Thanks for the feedback @rodrigopr!

What I want to do at the high level is have a `Route` with is a function:

[code]

So, it's just responsible for fetching the path params. There is also an `Endpoint[Req, Rep]` that has the same meaning as previously but now it's more strict. Instead of partial function `route`, there is should be a simple function:

[code]

It takes a request and tries to rout

[2015-01-22 19:46] vkostyukov commented on #146
Just one question I've got so far. How can we unflat tuple to avoid problems like this:

[code]

We can use something like shapeless `HList` or provide a bunch (up to 22) Route[A, B, ..., Z] which is probably the better idea if we want to avoid heavy dependencies.

[2015-01-23 17:51] jenshalm commented on #146
A third option would be a mechanism like in Scala's parser combinators where based on a simple case class `case class ~[A,B](a:A,b:B)` you can then write `Route[A ~ B ~ C ~ D]` instead.

This avoids both, heavy dependencies as well as having Route0 to Route22 in the type system.

[2015-01-23 18:03] jenshalm commented on #145
Note that this would very likely also require to change the DecodeRequest API. It currently just returns a None in case of parsing/validation error, so even if we combine the parameter and header errors, the error handling would still be incomplete if we cannot report body parser errors more precisely than with a generic "parsing JSON body failed".

[2015-01-23 18:08] pasviegas commented on #146
Really like the idea!!

Would be nice to have something in a branch to actually test it out.

I also would like StringRoute or IntRoute to be substituted by case classes
[code]

[2015-01-23 18:55] vkostyukov commented on #146
@jenshalm this is a really nice idea!

I just experimented in REPL a bit:

[code]

We can use this approach for sure. The code of `Parser` is [here|https://github.com/scala/scala/blob/v2.10.2/src/library/scala/util/parsing/combinator/Parsers.scala].

Thus, the API would look like:

[code]

[2015-01-23 19:04] vkostyukov commented on #145
Thanks for the feedback @jenshalm! You're right, we might consider redesigning the `DecodeRequest` to return `Either` or `Try` instead of `Option`.

[2015-01-23 22:59] vkostyukov commented on #146
BTW, @pasviegas thanks for the feedback!

I finally just got something in mind. I'm really happy with how it looks like. I'm planing to publish an experimental branch with package `io.finch.route` this weekend.

[2015-01-26 18:09] travisbrown commented on #145
Just wondering—how would people feel about an Algebird dependency? You'd probably still want to add some syntax on top of its `Applicative`, and it's not a super light dependency, but it'd give you this abstraction (and others—in fact it includes a reader monad implementation, although I don't know off the top of my head how easy it'd be to drop in here) in a Twitter-friendly form.

"That's a terr

[2015-01-26 18:20] vkostyukov commented on #145
Hi Travis! This is probably one of the possible roadmaps for Finch. What I'm planing to do is to release 0.5.0 with applicative reader and route combinators. The next step would be analyzing the possible libraries we can use to put Finch abstraction on top of them. There are not to many libraries we can use. But we can definitely extends that list with Algebird. I will create a ticket regarding th

[2015-01-27 09:27] #145 closed

[2015-01-28 03:50] #146 closed

[2015-01-28 03:52] vkostyukov commented on #122
No longer actual, since we have route combinators.

[2015-01-28 03:52] #122 closed

[2015-01-28 03:52] vkostyukov commented on #79
No longer actual because #146.

[2015-01-28 03:52] #79 closed

[2015-01-28 04:03] vkostyukov opened #149 "Allow pattern matching over the route combinators"
The API may looks close to:

[code]

[2015-01-28 04:03] vkostyukov commented on #114
I think this is no longer actual due to #146. @pasviegas do you think I can close it?

[2015-01-28 05:45] vkostyukov opened #150 "Update demo to use recently introduced API"
We should use both route combinators and applicative request reader.

[2015-01-28 05:48] vkostyukov commented on #26
Since we introduce the applicate request reader we might think about refactoring the validation rule. I think we can go with something like `when` method on a request reader.

val r = RequiredInt("a") when("greater then 10") { _ > 10 }

[2015-01-28 05:58] rpless commented on #26
I like this a lot better than adding implicits to the String type. I can try to put something together tomorrow (I should have time seeing as I'm snowed in, #snowpocalypse2015).

[2015-01-28 06:15] vkostyukov commented on #26
Yeah. Ryan could you also make a research regarding `withFilter` method? Maybe we can use it instead of `when` and get some syntactic sugar in for-comprehension.

[2015-01-29 18:24] vkostyukov opened #153 "Cleanup scaladoc"
It turned out that scaladoc syntax `''X''` means italic _X_. We need to use monospace (just like in markdown) syntax instead.

[2015-01-30 04:55] rpless opened #155 "Sabre Labs link is 404ing"
Right now I'm getting redirected to the tumblr 404 page when I click on the adopters link to Sabre Labs. Maybe @penland365 knows more?

[2015-01-30 14:33] penland365 commented on #155
Thanks for the heads up @rpless - that website isn't supposed to be down.  Not really sure what happened.  It's really just an about me, but it should be there.  I've pinged some people in the organization and it should be back up today.

[2015-01-30 18:38] vkostyukov opened #156 "Cleanup tests"
We should be comprehensive in the test style we use. I'm suggesting the following style:
* `class XSpec extends FlatSuite with Matchers` - a configuration
* `x shouldBe y` - an assertion
* `a [x] should be thrownBy y` - excepted exceptions

I should probably create a document `CONTRIBUTING.md` that addresses these items and other ideas.

[2015-01-31 09:02] jenshalm commented on #26
Ok, continuing the discussion here. We can keep validation errors with two properties, but we cannot have a single class with a string parameter for the item. I think we have two options:

Option 1, little explosion of error types:
[code]

Option 2, keep one error, but use a little ADT for the item:
[code]

Both options have pros and cons. Option 1 is better for scaladoc, as in option 2 the types

[2015-01-31 09:09] jenshalm commented on #26
There is an option 3 to keep it simple and continue using the existing type, but the `item` property could no longer just hold the name then. So if we keep:

[code]

then `item` would need to be `param 'a'` or `body`, which is probably less nice than option 1 or 2.

[2015-01-31 11:34] jenshalm opened #157 "Semantics for optional number parameters feel wrong"
I just stumbled across the implementation for optional number values. I think the behaviour is almost never what a user would expect. If an API has optional parameters, the usual semantics are that they can be left out or otherwise, if present, must be valid. Treating a missing optional value the same as an invalid value can easily lead to silent failure and unexpected behaviour. I would expect:

[2015-01-31 11:53] jenshalm commented on #157
I'll add a concrete example to illustrate my point. Let's assume this route:

[code]

would by default return 10,000 rows, but I'm on a slow mobile connection, so would prefer to use the optional `limit` parameter, but thanks to chubby fingers I'll type:

[code]

With Finch the parameter would just be ignored, the same as if it would not be there and I would be waiting for the 10,000 rows (and pro

[2015-01-31 16:35] benjumanji commented on #157
I'd agree that if a validation rule was specified I would expect it to enforced when a parameter is provided.

[2015-01-31 17:43] vkostyukov commented on #157
Sounds good to me. Can we plan this be done at 0.6.0 milestone? There are a bunch of big/important changes in this release 0.5.0, so we probably want to feature-freeze it. The last feature I'm planing to release is #26. What do you think folks?

[2015-01-31 17:46] jenshalm commented on #157
Can you wait for my weekend PRs? I am in the process of preparing 5 of them. Should all be ready on Sunday evening, so you can have a look how many of them you want to discuss for 0.5.0 timeframe and how many you want to defer? It's not crazily important though, if we still allow a few API changes for 0.6.0 and do not wait for too long for the next release.

[2015-01-31 17:53] vkostyukov commented on #26
How about the following option. We can have a validation failed exception wit 3 properties:

[code]

This should allow us to use just one exception for all validation errors. And it's probably very intuitive for Scala developers. We have an `itemType` for all of the things we can read, and we have `itemName` just for prarm, header and cookie. So, users may handle it like this:

[code]

@jenshalm,

[2015-01-31 17:56] benjumanji commented on #157
We can anything we want before 1.0, including becoming a full featured ASN.1 serialization library that has nothing to do with the finagle!

*maniacal laughter*

[2015-01-31 17:56] vkostyukov commented on #157
Sure! 5 PRs sounds crazy :) I'm fine with API changes, I just want to do them incrementally. Please, go ahead with the PRs, we will review them and merge either in 0.5.0 or in 0.6.0.

[2015-01-31 17:57] vkostyukov commented on #157
I usually do short cycles between releases, like 2-3 new features and 20-25 commits (around a month).

[2015-01-31 17:59] jenshalm commented on #157
Ok, then you'll probably just pick one or two of them for 0.5.0. Some are straightforward and not really controversial, while others might stir some debate. I guess everything that needs a debate is for 0.6.0 then (which is fine).

[2015-01-31 18:03] vkostyukov commented on #157
Cool, thanks! I will be really smooth. The 0.5.0 release should happen in a week (since there is some documentation changes that should be done).

[2015-01-31 18:04] jenshalm commented on #26
Possible in a sense of easy to implement, yes, certainly. I'm just wondering about the best API. Do you think
[code]
is superior to
[code]
or
[code]

It just feels a bit unfamiliar for Scala to have everything just string based. Or do you want to avoid to have sealed types for the item type to keep it extensible/flexible?

[2015-01-31 18:19] vkostyukov commented on #26
We definitely covered almost everything in request reader, so extension would not be a problem. I'm just trying to say that `itemType` and `itemName` are just strings. I'm not sure we have to wrap them in something, that has no behaviour. A typical use case of a validation rule is to pattern-match it and send over the JSON to a client, which means it will be forced to be a string.

I agree that st

[2015-01-31 18:26] jenshalm commented on #26
Yes, it's certainly not a big deal. I just wanted to hear opinions. `itemName` and `rule` have to be strings anyway. It's just the itemType which could be an enum type to have safer pattern matching. But if you think the standard use case is not pattern matching, but instead just JSON encoding, having strings might make sense.

Anyone else having any thoughts?

One other thing that just came to mi

[2015-01-31 18:57] vkostyukov commented on #26
That's a good question. What I don't like about changing the number of arguments in a pattern, i.e., `ValidationFailed` is that users would need to add an extra `_` in their `case` expressions. But, usually it's just a one place when users handle Finch/Finagle exceptions. So, it wouldn't be a problem. I'm just trying to understand whether or not users would need this `cause`.

@rodrigopr, @rpless,

[2015-01-31 19:02] jenshalm commented on #26
We change the number now anyway, so if we go from 2 to 3 or from 2 to 4 does not matter. :-)

The cause is needed in case of JSON decoding for example, that's not as simple as Int decoding. Usually the rule would then be "cannot be converted to MyDomainObject", whereas the cause would hold the detail coming from the JSON parser, like "property age in object user cannot be converted to an int".

We

[2015-01-31 19:06] vkostyukov commented on #26
Can we use a different exception for body readers? We already have `BodyNotParsed`, so we can incapsulate additional there. How does it sound?

[2015-01-31 19:09] jenshalm commented on #26
Yes, we could do that. So `ValidationFailed` would be solely for issues coming from a `ValidationRule`, and for everything else we figure out some other error type.

[2015-01-31 19:16] vkostyukov commented on #26
Do you mean we have to involve something like `ParamNotParsed` to be symmetric with `BodyNotParsed`?

[2015-01-31 19:25] jenshalm commented on #26
I think we should be consistent. If we only use a single type for validation errors, which seems to be your preference, we might go for a single type for decoding errors, too, e.g. `DecodingFailed`. And a single one for missing stuff. So we would have just three main request reader errors in the end, which is attractive for simplicity. They could look like that:
[code]
(in case you prefer everythi

[2015-01-31 19:40] vkostyukov commented on #26
Sounds interesting. Since we're breaking the API, we could come up with a different name for a `ValidationFailed`. I'm a big fan of symmetric names for similar things. How about:

[code]

And I think we probably don't need `targetType` property on `NotParsed` since we can inclose this information into `error`:

[code]

Any thoughts?

[2015-01-31 19:49] jenshalm commented on #26
Yes, I like those names better, too. Would you want `NotParsed` or `NotDecoded` to match with `DecodeRequest`?

[2015-01-31 19:52] jenshalm commented on #26
And it could be even shorter: `NotValid` :)

[2015-01-31 20:08] vkostyukov commented on #26
`NotValid` sounds cool!

Yeah. I think `DecodeRequest` should throw `NotParsed` if the underlying library doesn't provide it's own exception.

[2015-02-01 06:35] BenWhitehead commented on #26
I think the naming convention proposed is very reasonable and intuitive.
[code]

With regard to the question about parameters, having an ADT to represent the item type would probably provide the best balance.  There are types there that can provide help to the users when writing case statements and want to handle the different item types differently (the compiler will warn if the developer provide

[2015-02-01 06:56] vkostyukov opened #159 "io.finch.auth should not be in finch-core"
It should probably be in the separate package `finch-auth` or similar.

[2015-02-01 09:50] jenshalm commented on #26
I like this proposal a lot! The only little issue I see is with having `name` in the base class. I think generic code that produces strings for messages like `param 'foo'` could then produce `body 'body'` for the body. How about:
[code]

To further back up Ben's preference for an ADT: I am currently looking at the ways to implement this type of error handling, and I think it will be very hard to a

[2015-02-01 09:53] BenWhitehead commented on #26
@jenshalm I think that modification makes sense.

[2015-02-01 18:13] vkostyukov commented on #26
What makes me worried in case of ADT for items is that they conflict with existing Finagle entities, i.e. `io.finch.request.Cookie` vs `com.twitter.finagle.httpx.Cookie`. Also, looking at the full class names: `io.finch.request.Header`or `io.finch.request.Param` looks like these are actual header and param but not their simplified versions for error handling.

I'm totally agree that the current im

[2015-02-01 18:21] BenWhitehead commented on #26
Perhaps we could move the request validation code into it's own package (`io.finch.request.validation`) so that it's more clear that it relates to validation and not HTTP request constructs.

[2015-02-01 18:22] jenshalm commented on #26
Just to make it clear, even though I already mentioned it, we do need some form of `RequestItem` representation at least internally, to keep track of the target item within the respective readers. The current approach of relying on `toString` does not work properly.

However, the concern in respect of conflicting types is also fairly valid.

We could alternatively use:
[code]
to be exposed as a pr

[2015-02-01 18:35] vkostyukov commented on #26
I like @jenshalm's proposal with single case class for items. I believe this is a reasonable trade-off. The handle-exception code would look like

[code]

which look pretty good to me. @jenshalm do you happy with single case class approach? You got my vote on this :)

Also, would be nice to here other contributors.

[2015-02-01 18:55] jenshalm commented on #26
I'm reasonably happy with this compromise. On a general level I prefer Ben's ADT proposal, as it feels like the Scala-way to do it, but the name conflicts do indeed suck. We would even have to deal with that ourselves, as we use Finagle's `Cookie` type in areas where we'd also use our `Cookie` type, and soon you end up with writing `TheirCookie` and `OurCookie`.

With that in mind I would favor th

[2015-02-01 19:12] #159 closed

[2015-02-01 19:15] vkostyukov commented on #26
We may definitely come up with `CookieItem`, `HeaderItem`, etc. But I'm not really happy with how the exception handling looks like. `Item` postfix feels redundant.

[code]

[2015-02-01 19:20] jenshalm commented on #26
Yes, but somehow both are not optimal:
[code]

How common is it in Finch to pattern-match on errors? What are the common use cases?

[2015-02-01 19:33] BenWhitehead commented on #26
The thing that worries me about relying on strings is it becomes harder to try and present the types of errors that can happen in each scenario. When using strings we would now have to maintain a set of strings somewhere to document the string values a developer could expect to encounter.

With no help from the compiler, it also makes bugs like this possible:
[code]

Where as the following wouldn'

[2015-02-01 19:37] vkostyukov commented on #26
For my understanding (how I used Finch <0.1.0) the main goal is to provide a reasonable error response to a client (REST client: web-site, curl, etc) but not react somehow on it. We're lucky here, since the whole REST story is about a function that takes a request and returns a response with either result or error. We don't really need provide a super rich and flexible handling, since usually Finc

[2015-02-01 19:50] jenshalm commented on #26
Ok, I agree with that. But I think from a perspective of convenience for rendering responses it would not make a difference whether you use an ADT or a string-based class. The ADT could be designed in a way that it makes zero difference.

I think I don't have a strong opinion here. I'm only against using the conflicting names. I think the ADT `XxxItem` approach and the string approach will work. T

[2015-02-01 19:52] vkostyukov commented on #26
Right. Jens is right. We can treat case classes as `something` in the example above. Thus, I'm totally fine with having both ways to handle the errors: rich and thin. Let's think about names and provide users both ways. This should be a right way to solve it.

[2015-02-01 19:55] BenWhitehead commented on #26
Sounds good

[2015-02-01 20:01] vkostyukov commented on #26
BTW, we can introduce `RequestItem` in 0.5.0. Ask for feedback from users on Gitter for example and extend it to ADT (`CookieItem`, `HeaderItem`) in the next release. It should be possible to keep the users' API unchanged:

[code]
If we introduce items as objects with `unapply methods`, which sounds reasonable to me, since we only need these classes to pattern match.

[2015-02-01 20:02] jenshalm commented on #26
[code]

This would give you a base class that allows for using it the same way as our string-based proposal.

I am just not sure about the name for the last one. It can no longer be `RequestItem`, but the string representation should be `request` for error messages of the form `the request should have a startDate before the endDate`.

[2015-02-01 20:05] vkostyukov commented on #26
How about `MultipleItems`?

[2015-02-01 20:06] jenshalm commented on #26
Yes, that's better.

[2015-02-01 20:16] jenshalm commented on #26
We can also wrap them inside the package object:
[code]
This way these little helpers do not pollute the top level namespace and do not show up the scaladoc navigation bar, but can be easily imported by those who really want to use them for matching.

[2015-02-01 20:19] vkostyukov commented on #26
How about `io.finch.request.items`?

[2015-02-01 20:21] jenshalm commented on #26
Yes, better, would you want that as a real package or as `object items ...` inside the request package object?

[2015-02-01 20:25] vkostyukov commented on #26
Let's go with object for now.

[2015-02-01 21:17] jenshalm commented on #26
Ok, all working well, the unification effect is quite significant. Now I only have to adjust 36 tests that started failing from that change... :-)

[2015-02-01 21:39] vkostyukov commented on #26
Good job! You should probably just change `ValidationFailed` to `NotParsed` in error handling.

[2015-02-01 21:59] jenshalm commented on #26
I wish it was that easy. :-)

There are many subtle things to adjust. The tests that expect that invalid optional items produce a None (that is also fixed), the applicative tests that do not only check for the error type, but also its content, etc...

[2015-02-01 23:27] vkostyukov commented on #114
I think we can close it for now, since the route combinators approach is preferred.

[2015-02-01 23:27] #114 closed

[2015-02-01 23:41] pasviegas commented on #114
yes, we should close it :)

[2015-02-02 19:53] #26 closed

[2015-02-02 20:06] vkostyukov opened #164 "Add predefined validation rules for common cases"
The following list looks like a good start:

[code]

[2015-02-02 21:24] vkostyukov commented on #164
Also it would be nice to allow users write simple rules on optional params:

[code]

[2015-02-02 23:56] vkostyukov commented on #157
I've also start thinking that we have to change the semantic for required params a bit. Let's say we would allow having an empty string be a required param (for now it throws error). And if users actually don't accept empty strings `""` they may mix `BeEmpty` predefined validation rule from #164. Like this:

[code]

[2015-02-03 17:06] vkostyukov commented on #157
Yeah. Right. 99% params should not be empty. If we had this way of explicitly allowing the empty strings for params, we might change the behavior for optional prams to return `None` be default.

[2015-02-03 17:21] vkostyukov opened #166 "Add CONTRIBUTING.md"

[2015-02-03 19:45] #166 closed

[2015-02-04 09:44] jenshalm commented on #164
Wouldn't it read better with lowercase: `should(beEven)`. I think it will be more lightweight to implement these rules with `val`s and `def`s, not with `object`s like the readers.

The convenience for optional values is already covered for reusable rules, through an implicit conversion. It would be nice to also cover it for inline rules, but I did not have a good idea yet. I think it would require

[2015-02-04 09:48] jenshalm commented on #157
Should we change the title on this issue? My original concern was that invalid optional values lead to a `None` instead of an error, the refactoring in PR 4 already solves this issue. So I'd suggest I'll add "fixes #157" to that commit and we create a new issue "Unify handling of empty strings".

[2015-02-04 16:54] vkostyukov commented on #164
Agreed. Lower case sounds good for me. I will update the issue description. Thanks!

[2015-02-04 16:56] vkostyukov commented on #157
Sounds great! I will create a new issue.

[2015-02-04 16:56] vkostyukov opened #171 "Unify handling of empty strings"
See #157 for details.

[2015-02-04 19:15] vkostyukov commented on #133
Just curious, @jeremyoday did you manage to enable Jackson support using the 0.4.0 version. If you face any issues, there is a Gitter room where you can find help: https://gitter.im/finagle/finch. Also, just a friendly remainder: I would be glad to see a PR from you adding your company into the adopters lists.

[2015-02-04 21:49] vkostyukov opened #172 "Allow mixing of futures/services in the same endpoint"
There is a PR #169 that tries to address it.

[2015-02-04 22:54] #157 closed

[2015-02-05 02:54] jeremyoday commented on #133
Yes, we successfully implemented and are continuing to test through API iterations.  We will definitely list our company once we get out of private mode.  Thanks again for everything and we are closely watching the 0.5.0 release.

[2015-02-05 03:08] vkostyukov commented on #133
Thanks for the update! The 0.5.0 release involves a lot of new features as well as some API changes. The major changes are about exception handling. I will write up a migration guide from 0.4.0 version so you can safely migrate the new version.

[2015-02-05 04:15] rpless commented on #156
How do you feel about testing Lists or Seqs? Currently we use the following:
[code]
Do we want to keep doing this, or do we want to use something like:
[code]

[2015-02-05 04:19] vkostyukov commented on #156
Hm. Good question. The first variant looks fluent and works great for the big sequences. But we usually deal with small seqs/lists. So, I think the second variant is shorted and fits well into the whole style. What do you think?

[2015-02-05 04:26] rpless commented on #156
We don't currently have any large Seqs in tests and I think the second form fits better with our style. I'll do it that way when I make the PR, and if we decided we don't want it, I can change it.

[2015-02-05 04:58] rpless commented on #156
Also we could be do:
[code]
Instead of
[code]
I kinda like the first better, but the second probably unifies the style better. Thoughts?

[2015-02-05 06:31] vkostyukov commented on #156
Can we left the parents out in the first example?

[2015-02-05 10:58] jenshalm commented on #164
Is `beZero` a common use case? And `beEmpty` is a tricky one, people might expect it to work with `Option` and `Seq`. Maybe we can use structural typing here and allow it to be used with anything that has an `isEmpty` method?

[2015-02-05 14:02] rpless commented on #156
It seems like the answer is no. The compiler expects a semicolon but founds a period at `Await.result`.

[2015-02-05 18:06] vkostyukov commented on #164
I was thinking about adding `beEmpty` because of readers that allow empty strings. So, users would explicitly specify the requirement of not being empty. It's no longer actual for now, since we decided to handle it as separate ticket #171. But the idea of structural typing sounds cool! Do you think we can start with simple rules and then extend the set in the next releases?

Regarding the `beZero`

[2015-02-05 18:13] vkostyukov commented on #156
The first one fits the style better. But the second one is already used everywhere. Do you think it's a pain to replace it with the first variant? I would go with the first variant if it's possible.

[2015-02-05 18:28] jenshalm commented on #164
I see. But yes, I think if you want to add `beEmpty`, using structural types might be more intuitive for the user. Structural typing is based on runtime reflection, so not insanely efficient, but for this little use case it's probably acceptable.

And yes, I think there are more use cases around `should bePositive` and `shouldNot beNegative`. I guess `shouldNot(beZero)` is only relevant for a math

[2015-02-05 23:21] vkostyukov commented on #150
I'm working on it.

[2015-02-05 23:53] rpless commented on #156
I can do the first variant. I'll also update contributing.md to reflect this.

[2015-02-05 23:56] vkostyukov commented on #156
Cool! Thanks a lot Ryan!

[2015-02-06 00:04] vkostyukov opened #174 "Scalastyle sbt plugin?"
Do we need https://github.com/scalastyle/scalastyle-sbt-plugin? It would be nice to enable it in Travis CI, so we can easily check the incoming PRs style.

Any thoughts?

[2015-02-06 00:26] vkostyukov commented on #174
This rule http://www.scalastyle.org/rules-0.6.0.html#org_scalastyle_scalariform_NullChecker is from nightmare I recently had after we merged the patch with `null` :) //c @jenshalm

[2015-02-06 00:43] pasviegas commented on #174
There is also https://github.com/puffnfresh/wartremover. Which is more about linting than style.

:)

[2015-02-06 02:23] vkostyukov commented on #174
Sounds cool! Thanks @pasviegas! Do you think we can use them both?

[2015-02-06 02:27] vkostyukov commented on #156
Fixed by #175.

[2015-02-06 02:27] #156 closed

[2015-02-06 07:11] vkostyukov commented on #174
The `scalastyle` plugin is enabled. But I still would love to see `wartremover` enabled. Moving ticket to the next milestone.

[2015-02-06 08:44] jenshalm commented on #174
I wish these engines would allow for annotations on methods to ignore. For a rule like a null check it would be best to have it active per default and then explicitly allow yourself the use per annotation in just one place.

[2015-02-06 10:08] pasviegas commented on #174
Yeah, I use both normally, but I miss the annotations, sometimes is necessary to break some rules :)

[2015-02-06 15:21] jenshalm opened #178 "Rewrite section about requests in the documentation"
The PRs for 0.5.0 have changed some areas of the request package in fairly significant ways. For the features I contributed I added documentation mostly in the form of "patches", leading to a format that is no longer that well organized.

Here I'll propose a new structure for this section and would also be able to work on this over the weekend, so that we have it ready for the 0.5.0 release.

* __

[2015-02-06 18:52] vkostyukov commented on #178
@jenshalm thanks a lot for posting this plan. This looks very solid to me! Let's treat the applicative syntax as a default one. Especially, since we removed the old-style validation rule, this is the only way to validate two or more dependent parameters:

[code]

[2015-02-06 18:58] vkostyukov opened #179 "Restructure docs"
This issues depends on #178.

I have plans of restructuring the docs:

* Use multiple files instead of just one
* It should be in a folder `docs`
* It should have an entry point `index.md` with the table of contents within a short introduction copied from [here](https://github.com/finagle/finch/blob/master/core/src/main/scala/io/finch/package.scala#L33). This file should make it clear that Finch i

[2015-02-06 21:32] jenshalm commented on #178
That's a good point. Although multi-value validation is maybe not really convenient yet anyway. Because the `should` would often be followed by a `map` and then you end up duplicating the pattern match:
[code]
It would make it attractive to have a method like the SDKs `collect` (on collections, Option, etc.) to combine the two:
[code]
where the mapping only occurs when the partial function is defi

[2015-02-06 21:45] jenshalm commented on #179
I definitely like the structure. The only question is how comfortable we can make the navigation. It will probably work well enough when you always have to go back to `index.html`, although this is not ideal. It would be better if you can jump from each page directly to each other page.

I just noticed, there are no docs for routing yet?

[2015-02-06 21:47] vkostyukov commented on #179
Yeah. That's what I planning to do: add routing docs. It's quite possible to have cross-links between pages in markdown. Also, I'm planning to add a link "Read next: bla bla bla", so folks can just read through the entire documentation just following this links.

[2015-02-06 21:55] vkostyukov commented on #178
We can actually avoid repetition of the pattern matching like this:

[code]

Although, we still repeat the pattern matching but with a different pattern. I think, having a `collect` method on request reader is a good idea. But we can definitely introduce it later either in the 0.6.0 or 0.7.0 releases. What do you think? We can make a note in the docs to advice users firstly map their readers to a

[2015-02-06 21:56] jenshalm commented on #178
Yes, sound good, this is in the range of polishing features, so no need to hurry and better take time to find the best idea.

[2015-02-06 21:59] vkostyukov commented on #178
I like the way Finch docs grow. It feels more like "Finch in Action" or even "Effective Finch", since it's not just sad official documentation but also the collection of advices and best known practices :)

[2015-02-08 01:34] vkostyukov commented on #164
This is done in #180. So, I think we can close this for now.

[2015-02-08 01:34] #164 closed

[2015-02-08 01:34] vkostyukov commented on #150
This is introduced in #181.

[2015-02-08 03:57] #150 closed

[2015-02-08 04:01] vkostyukov commented on #155
The web-page is still not found, but I think we can close it, since this is not a Finch issue.

[2015-02-08 04:01] #155 closed

[2015-02-08 22:52] vkostyukov commented on #174
We can also revise the Scalastyle rules and enable as much as we want: http://www.scalastyle.org/rules-0.6.0.html.

[2015-02-09 06:30] #153 closed

[2015-02-09 17:06] #178 closed

[2015-02-11 19:10] vkostyukov opened #186 "Default value for optional readers"
I was wondering if it might be useful. The idea is to instead of

[code]

to allow users write something like this

[code]

We can also use `orElse` instead of `withDefault`.

[2015-02-11 19:11] vkostyukov commented on #186
I'm putting this into the next milestone.

[2015-02-11 21:32] vkostyukov opened #187 "Unify request reader names"
I was thinking about simplifying/unifying the request reader names. We can make readers optional by default and name them as `param`, `header`, etc. And then provide a way to make reader required. There is already a method `failIfEmpy`, which does exactly what is needed. But we can come up with a better name. I was thinking about just function `required`:

[code]

[2015-02-12 21:45] jenshalm commented on #187
It would be an interesting direction, and tbh I thought about something similar when I started to work on the request package, but did not want my changes to become too scary/radical. :-)

So in case we really want to send our users onto another API rollercoaster :-), then here are my thoughts:

From the user perspective I'd have two concerns:

* In my projects I tend to have more required request

[2015-02-13 00:29] vkostyukov commented on #174
There is also https://github.com/scala/scala-abide.

[2015-02-13 06:27] #179 closed

[2015-02-13 08:32] jenshalm commented on #186
I think that would be quite nice to have. If the value passed to the function is a simple value, `withDefault` works better as a name, as the expected signature for an `orElse` method would have an `Option[T]` param instead. For maximum flexibility you could have both:

[code]

[2015-02-13 19:09] vkostyukov commented on #49
I think we can close it since this is no longer fits into the Finch roadmap. True Finch way would be to use Finagle client to Memcached or similar.

[2015-02-13 19:09] #49 closed

[2015-02-13 19:16] vkostyukov commented on #186
Nice! Let's plan this for the 0.6.0 release.

[2015-02-13 21:21] vkostyukov opened #190 "Composing routers with Finagle filters/services"
For now there is only way to do it: convert router into service. I was wondering if it would be useful to apply filters/service directly to router (just like we did for old-style endpoint).

[2015-02-13 21:24] vkostyukov opened #191 "Reverse routers"
It would be nice to finally support this. I don't know in which way we can do it now. But I decided to create an issue before I forget about this.

[2015-02-13 21:26] vkostyukov commented on #121
We can also test `Router`.

[2015-02-16 23:58] vkostyukov opened #196 "Code formatter?"
There is a code formatter for Scala: https://github.com/mdr/scalariform. We might think about enabling it.

[2015-02-17 13:29] jenshaase opened #197 "Multipart/form-data support for file uploading"
Hi,

If I'm correct Finagle currently doesn't support `multipart/form-data` out of the box. However, Finatra (http://finatra.info/docs/index.html#uploads) has build in support for it.

It would be nice if there is the possibility to upload a file within finch.

Cheers,
Jens

[2015-02-17 14:33] jenshaase commented on #197
This code may be a solution (adopted from the finatra code):

[code]

[2015-02-17 16:17] vkostyukov commented on #197
Interesting. Thanks @jenshaase for failing a ticket. Do you mind to create a pull-request? It would be fair if you implement this since it's your idea/code. This is an amazing feature.

[2015-02-17 17:26] jenshaase commented on #197
Ok. I can submit a pull request in the next days.

[2015-02-17 17:34] vkostyukov commented on #197
Cool! Thanks again!

[2015-02-19 17:06] vkostyukov opened #200 "Fix warnings from Wartremover"
We enabled Wartremoved in #199. For now it produces around 100 warnings. It would be nice if we can fix them and change the level from warning to error to prevent new things.

This is a perfect issue for newcomers. It's not necessary to fix all the warnings in one PR. The best idea would be to fix them file-by-file.

[2015-02-19 22:52] vkostyukov commented on #174
I've enabled WartRemover and it produces around 100 warnings :) See #200. I think it's enough having just two tools enabled WartRemover + Scalastyle. I just want to make sure that we use all the rules we need from Scalastyle.

[2015-02-20 22:57] vkostyukov commented on #174
@jenshalm just found out that we [can suppress some scalastyle warnings](http://stackoverflow.com/questions/21931431/how-can-i-suppress-scalastyle-warning) by comment
[code]

We should probably enable `null`-rule.

[2015-02-21 10:11] jenshalm commented on #174
Yes, if they support this kind of annotation, our use of `null` is a perfect use case for that, as we only need it due to exceptional circumstances (java interop in this case). We should enable the rule then.

[2015-02-22 08:14] #174 closed

[2015-02-22 15:19] pasviegas commented on #174
Just found out this: https://github.com/scala/scala-abide

Might be good to check it out. :)

[2015-02-22 17:38] vkostyukov commented on #174
Yeah. I mentioned it previously. Looks like it's repeating the functionality of WartRemoval, so I decided to stick to the last one for now.

[2015-02-23 05:33] #171 closed

[2015-02-23 16:58] vkostyukov commented on #197
Fixed by #201.

[2015-02-23 16:58] #197 closed

[2015-02-23 22:24] vkostyukov opened #204 "Finch in Action"
This is a big ticket that related to #190, #172 and PR #184. For now we have amazing and highly-composable basic blocks but it's still not really clear how to use them together. One and simple example is shown in the demo project, although I was wondering if we could do better.

There is nothing wrong with using Finch in a straightforward way (via `Service[HttpRequest, HttpResponse]`). But we also

[2015-02-23 23:15] vkostyukov commented on #204
Would be nice to hear others opinion on this direction. /cc @BenWhitehead, @jenshalm, @rpless, @rodrigopr, @benjumanji.

[2015-02-24 00:05] benjumanji commented on #204
This seems like a nice idea. I was just writing some code (not yet finch'd) that basically involved a bunch of filters to turn `Service[Request, Respose]` to `Service[C,D]`. This kind of thing would make that pretty pleasant, so once we have an impl, I have some code I can test this on.

[2015-02-24 00:35] vkostyukov commented on #204
Although, it's not clear yet how to fetch the details from a custom request type:

[code]

[2015-02-24 06:33] vkostyukov commented on #204
I've came up with an interesting idea. The answer in an a cornerstone abstraction that should _glue_ all the basic blocks together. This approach doesn't involve changes of the current abstractions but adds new that wires everything together.

I'm thinking about adding `io.finch.Microservice` that looks as follows:

[code]

Microservice is a lightweight and domain-specific version of a Finagle `Se

[2015-02-24 06:49] BenWhitehead commented on #204
I'll try and spend some more time digging into this tomorrow, but I'm a bit worried about `Endpoint` breaking.  I realize finch is evolving to try and offer more expressive ways of doing things that what endpoint provides but I have several services that were built on finagle 0.1 and it's becoming more involved to update to newer versions.

There's also the matter that I think is mentioned in #190

[2015-02-24 06:57] vkostyukov commented on #204
Thanks for the feedback Ben!

Pattern matching over combinators is on this milestone #149.

This approach doesn't prevent us from using filters. You can always convert `Microservice` to `Service` and apply filter to it. We can always come up with a new name for endpoint and do not break the current API. So, you can keep using `Serivce`s and old-style endpoints (or even new route combinators API).

[2015-02-24 07:29] BenWhitehead commented on #149
:eyes:

[2015-02-24 07:33] BenWhitehead commented on #204
Thanks for the link to #149.

If we come up with a new name that makes sense it might be good to use that so that we can distance ourselves from the old name that is going to be deprecated.

I'll try and make sure to carve out some time to see what it will take to update one of my projects (unfortunately I can't make any guarantees as the next few weeks are going to be very busy for me).

[2015-02-24 07:52] jenshalm commented on #204
Yes, that was the main reason why I've put #184 on hold. If I have a filter/service that does Auth and then a reader, how can I have the "real" service deal with a domain object that contains the userId and the result from the reader? It almost smells like something that would require a new combinator:

[code]

[2015-02-24 08:14] jenshalm commented on #204
I've only just seen it and I haven't put too much thought into it yet. But my initial gut feeling is that I'm not too fond of the `Microservice` type. One reason is consistency. For `Router` and `RequestReader` we introduced combinator types (`A ~ B` and `A | B` respectively), in the case of the `RequestReader` mainly to avoid a lot of plumbing in our impl (we could have made it more convenient wi

[2015-02-24 10:19] jenshalm commented on #204
Ok, I thought about it a bit more and I'm afraid I would really recommend against introducing the `Microservice` trait. Apart from all the things I already wrote above, these additional concerns come to mind:

1) Speed of API evolution. We just introduced a lot of new APIs in 0.5.0. Normally it would be best to first let users try these out and report back and get a better feeling about all the us

[2015-02-24 16:35] vkostyukov commented on #204
We don't have to solve this ticket in this milestone but we definitely must do it before 1.0.0. I wish we could solve this w/o introducing new API. @jenshalm could you please elaborate how the `!` is going to help us?

In my understanding the problem we're trying to solve is to allow users write domain-specific services rather than `HttpRequest => HttpResponse`. We can define a mock problem here t

[2015-02-24 16:54] jenshalm commented on #204
The `!` in my example was only a demonstration that implicits can distinguish between `A ~ B ~ C` and `A ~ B`, so that we could potentially use implicit conversions, e.g. to take a `RequestReader[A ~ B]` and chain a plain `(A, B) => C` to it and promote everything to a full service as a final step. I just wasn't sure the implicits would work, as `A ~ B ~ C` is also an `A ~ B`, but the former is pr

[2015-02-24 17:31] jenshalm commented on #204
Maybe we can build a mini-demo app for just the sample scenario you mentioned? Having a custom request carrying user info (coming from a filter?), a router extracting one param, a request reader extracting one param, a service function that only knows domain instances and a json encoder for the result. All wired with the existing 0.5.0 API as a fully working demo app and as a starting point to dis

[2015-02-24 17:40] vkostyukov commented on #204
I finally got what you mean! Instead of changing the request type with `auth` filter we apply a request reader `auth` that fetches the current user id. Like this:

[code]

So we can solve our counter-example as follows:

[code]

Yes. We can start with simple demo to have a sandbox for experiments.

Although, I like the idea of using RR instead filters for authorization. I don't think that changing

[2015-02-24 18:55] jenshalm commented on #204
Yes, that's kind of what I meant. The only downside I see is that the `auth` reader has to be chained explicitly for each route. I guess there is no easy way to say `authFilter ~ router` and then magically get access to the result of the filter inside all the individual routes. But in general it would be beneficial if the RR could be reduced back to extending `HttpRequest => Future[A]`, it would m

[2015-02-24 19:05] vkostyukov commented on #204
Yeah. I will create the single-file mini-demo project here as a sub-project. Probably it make sense to name it a `quickstart` or `bootstrap`.

[2015-02-25 16:37] vkostyukov commented on #204
Playground is on review #205. My plan for this weekend is to play with it and come with PR for Finch in Action problem.

[2015-02-26 18:22] benjumanji opened #207 "New router combinators don't seem to allow for "/" as a valid path"
I would like to be able to do something like
[code]

But this throws an axception because we call a partial function (tail in this case), without checking if there is in fact a tail.

Is there a conscious reason for this or would a patch to fix this behaviour be welcome?

I could imagine making anobject called Root or something like that if we didn't want to allow bare MethodMatchers to have the r

[2015-02-26 18:37] vkostyukov commented on #207
This should definitely work as it's written. Not sure if I understood the problem. On which input it fails?

[2015-02-26 18:40] vkostyukov commented on #207
I've probably fixed it here: https://github.com/finagle/finch/commit/8d1c163704cf158d4ac691fd406fe158ece47eec#diff-013dead8f7e981221fbdc102176fa21dR100. Did you try the SNAPSHOT version?

BTW, WartRemoval helped to fix it :+1:

[2015-02-26 19:34] vkostyukov commented on #207
Although, I found an interesting issue with your example. In case if both routers consume the same number of route tokes the current implementation of `orElse` choses the second router, which is wrong. I added a fix in #208.

[2015-02-26 20:24] vkostyukov commented on #207
Just published a snapshot with a fix. @benjumanji please check it and report back so we can close the issue.

[2015-02-26 21:12] benjumanji commented on #207
I;ll get that done before I sign off for the night. Thanks @vkostyukov!

[2015-02-26 22:26] benjumanji commented on #207
I can declare this fixed.
Thanks @vkostyukov!

[2015-02-26 22:26] #207 closed

[2015-02-26 22:26] vkostyukov commented on #207
Super cool! Thank @benjumanji!

[2015-03-01 04:21] vkostyukov commented on #204
I've put a gist that describes the approach suggested in #206. Please, have a look.

[2015-03-01 16:18] mfirry opened #209 "Does this look like "idiomatic" Finch?"
Hi, I'm trying to make a (rather silly, I admit) comparison between a few web framework for Scala.

What's important for me is the "look-and-feel" sort of  experience with them.

I'd like to know if I got Finch alright: [take a look](https://github.com/mfirry/web-frameworks-templates/blob/master/finch/src/main/scala/WebServer.scala)

I've also found a little issue: importing both io.finch._ and io

[2015-03-01 17:35] vkostyukov commented on #209
Hi @mfirry!

That is exactly what we're trying to understand right now - how _good_ Finch code looks like. The brief explanation and possible answers are in [this gist](https://gist.github.com/vkostyukov/e0e952c28b87563b2383).

Regarding the name conflicts. It's also a known issue and [it's mentioned](https://github.com/finagle/finch/blob/master/docs/route.md#filters-and-endpoints) in the document

[2015-03-01 17:55] mfirry commented on #209
Hi @vkostyukov and thanks for the super-quick reply.

Don't bother with the PR. This is really just a "rainy sunday" project for me.
I'll keep following Finch and update my thingie no problem.

One thing I'd like to add is:
I loved being able to *one-line* like this: ```Get /> Ok(Json.arr(1, 2, 3)).toFuture``` but apparently there was no (easy?) way to do it with text/plain responses. Or am I wron

[2015-03-01 18:14] vkostyukov commented on #209
You should be able to write `val e: Endpoint[HttpRequest, HttpResponse] = Get /> Ok("plain/text").toFuture`.

[2015-03-01 18:17] mfirry commented on #209
I tried. I get
```could not find implicit value for parameter encode: io.finch.response.EncodeResponse[io.finch.route.string.type]```

The endpoint looks like: ```Get / string /> Ok(string).toFuture```

[2015-03-01 18:19] vkostyukov commented on #209
You're trying to create an HTTP response from type `Router`, since `string` is an instance of type `Router[String]`, a router that extracts string value from the route. You can change it in a way like this:

[code]

[2015-03-01 18:26] mfirry commented on #209
That doesn't work either

```missing parameter type for expanded function ((x$1) => Get.$div(string).$div$greater(Ok(x$1).toFuture))```

[2015-03-01 18:31] vkostyukov commented on #209
Yeah. You should probably wrap closure with `{}`:

[code]

[2015-03-01 18:32] mfirry commented on #209
Yeah great. Thanks a lot again!

[2015-03-01 18:47] vkostyukov commented on #209
Np. Feel free to ping in case of any questions either here or in Gitter room.

[2015-03-01 18:47] #209 closed

[2015-03-04 19:22] vkostyukov commented on #204
I want to merge #206 PR as an experimental feature of 0.6.0 release. The gist that describes experimental features is here: https://gist.github.com/vkostyukov/e0e952c28b87563b2383. Please let me know if you have any concerns.

[2015-03-05 09:48] ImLiar commented on #204
I'm really excited about the job you did there guys!

We've started using finch in our project and made few abstractions over `Service[HttpRequest, HttpResponse]`.

At first I wrote some implicit conversions from `Function2[A, B, R]` to `PartialFunction[A/B, R]` so now we are able to map simple functions like `def someResponse(a: String, b: Int)` with `/>`.

Then we've came with an idea to hide `S

[2015-03-05 19:37] vkostyukov commented on #204
Thanks @ImLiar! That is super cool what are you doing with Finch. Hopefully, something similar will be shipped in 0.6.0 release. BTW, feel free to add your company into the adopters list.

What you described first two paragraphs: `RequestContext` and implicit conversion to `/` type is exactly what has been implemented in #206. The PR is on review, a couple of things should be finished but the gene

[2015-03-05 20:57] ImLiar commented on #204
@vkostyukov

There are still some important cases to think about.
For example: what about custom error handling? How route should react to different failures in `Future[A]` and where should I handle em and describe failure behaviour.

[2015-03-05 21:01] vkostyukov commented on #204
The typical use case is have a top-level filter that handles all the possible errors from the stack. All the different failures in `Future[A]` is nothing more than just `Future[Nothing]`. See an example [here](https://github.com/finagle/finch/blob/master/demo/src/main/scala/io/finch/demo/Main.scala#L55-L83).

The scenario is following: you write your micro-services that respond some `Future[A]` or

[2015-03-22 16:12] nicmart commented on #200
Hi all, I love scala and in particular this project, and I am happy to start contributing with these "easy" issues, since I am quite new to the language.

I have just fixed a couple of "inferred type containing Nothing" warnings in RequestReader.

Now I am just wondering how to fix the problem "Function has default arguments", since removing default arguments changes the api, and so it's not BC co

[2015-03-23 22:43] vkostyukov commented on #200
Well. I think we can leverage between sane and super-functional approach. Default arguments is the most arguable wart in WartRemover (there is [an epic ticket](https://github.com/puffnfresh/wartremover/issues/116) about it). Let's just disable this wart for now and keep default args in Finch.

[2015-03-24 14:05] nicmart commented on #200
Ok, as soon I have time I will go on with the other fixes, disabling the wart for default args.

[2015-03-25 05:25] vkostyukov commented on #204
This is solved in #206.

[2015-03-25 05:25] #204 closed

[2015-03-26 18:57] vkostyukov commented on #186
Fixed in #186.

[2015-03-26 18:57] #186 closed

[2015-03-27 23:17] #187 closed

[2015-03-29 15:48] vkostyukov opened #215 "Investigate usability of "micro" package"
In order to make further steps, we have to understand whether or not Finch will be focused on "micro" style.

[2015-03-30 12:40] ImLiar commented on #215
Is there a simple way to combine simple `RouteN` with `PRequestReader` within one route?

Something like
[code]

it would be super useful to process requests with params from route, payload etc with just one line

[2015-03-30 15:18] vkostyukov commented on #215
It's totally possible. You can look at [playground example](https://github.com/finagle/finch/blob/master/playground/src/main/scala/io/finch/playground/Main.scala#L54). The idea is following:

1. You can route request directly to `Micro` if there is no route params
2. You can route request to a function that return `Micro` if there are router params

[code]

[2015-03-30 16:41] vkostyukov commented on #215
Sorry, I probably wasn't clear. For now the only way to do it is to deal with type `RouterN[Micro[A]]`, which is a `RouterN` _composed_ with `Micro` and called `Endpoint`. Is it something that you wanted @ImLiar?

[2015-03-31 00:00] vkostyukov opened #221 "Use Shapeless in finch-core: Heterogenous Routers"
See the fist comment.

[2015-03-31 06:32] ImLiar commented on #215
Well, probably it is. I got sick a little, so I'll check it out later. Thx @vkostyukov

[2015-04-02 12:16] lderks opened #222 "body.as[Json] breaks on null values"
I have extended the demo project to accept some json that is being posted. See the code below. This works fine.

Except when I post json with a null value (which is still valid json), the server returns a 500 Internal Server Error. Also this error is not handled by the case _ => InternalServerError() in the handleExceptions method.

json:
[code]

RequestReader[Json]:
[code]

[2015-04-02 12:48] lderks commented on #222
Actually I think it is the TurnIntoHttp[Json] which can't handle the Json with null values

[2015-04-02 16:09] vkostyukov commented on #222
Thanks @lderks for the report! I probably found a cause for this.

[2015-04-02 16:12] #222 closed

[2015-04-02 16:24] vkostyukov commented on #222
Fix is deployed as `0.7.0-SNAPSHOT`.

[2015-04-06 15:48] nicmart commented on #200
There are a lot of "isInstanceOf is disabled" errors in simple pattern matches, like in this
[code]
How to solve this? It looks to me like a normal pattern matching, maybe I'm missing something?

[2015-04-06 15:59] vkostyukov commented on #200
Internally pattern `Some(a)` looks like `a: Some[_]`, so it's till uses is instance of. Perhaps, we can also skip this check.

[2015-04-06 16:10] travisbrown commented on #200
This looks like a bug in WartRemover—there definitely will be a synthetic `isInstanceOf` here, but it's safe (not actually type-case). Here's a quick stab at a minimization:

[code]

[code]

At a glance at WartRemover I don't see why there's a difference here, or any open issues that report this.

[2015-04-06 16:14] vkostyukov commented on #200
Hm. This is nice. Maybe the difference is that we match over two layers instead (tupple -> option)? Maybe test `Some(Some(1)) match { .. }` will confirm it.

[2015-04-06 16:18] travisbrown commented on #200
The following doesn't get the warning, so it looks like the tuple and `Some` are interacting somehow:

[code]

I'm going to spend ten minutes looking into this and then just report it if I can't tell what's up.

[2015-04-06 16:19] vkostyukov commented on #200
Awesome! Thank you @travisbrown! At lest it fit well into a FixItWeek :)

[2015-04-06 16:35] travisbrown commented on #200
Okay, [reported](https://github.com/puffnfresh/wartremover/issues/152). Doesn't look like there's a trivial solution, unfortunately.

[2015-04-06 19:08] nicmart commented on #200
Thanks @travisbrown!

I've ran into another problem in the Json package, I get a lot of "Inferred type Any" just because Json case classes have the Any type in the constructor arguments. I don't think that is the expected behavior for the Any check.

I've already [reported](https://github.com/puffnfresh/wartremover/issues/153) the problem.

[2015-04-08 21:17] vkostyukov commented on #221
Just an idea of the top of my head. What if we can define a heterogeneous `Router[L <: HList]` like this:

[code]

and then serve it with `Httpx` if there is an instance of `EncodeResponse[A]` available for every type `A` from the `HList` (polymorphic fold?):

[code]

[2015-04-09 14:27] lderks opened #226 "decoding JSON"
Decoding of a string into Json fails in the following code. The code returns the getOrElse result, while the tmpJson is valid json.

[code]
results in
[code]

[2015-04-09 14:31] lderks commented on #226
The decoding works correctly when using the json string in the following format:
[code]

[2015-04-09 17:50] trane opened #227 "Different typed Router/Endpoints should be composable"
Let's say your RESTful service has authenticated and open endpoints, you could model it as such:

[code]

It would be helpful if you could then compose them with something like

[code]

[2015-04-09 17:55] vkostyukov commented on #227
Perhaps, this relates to #190.

It would be possible to do so if `authFilter andThen authApi` returns `Router[Micro[_]]`.

[2015-04-09 18:08] trane commented on #227
One problem I'm seeing is that `authFilter andThen authApi` forces that implicit conversion from `Router[Micro[_]]` to `Service`. (btw, I'm on 0.7.0-SNAPSHOT)

[2015-04-09 18:10] vkostyukov commented on #227
Right. That's the reason. I should think more about it.

I'm starting to think that _lazy auth_ (using the `RequestReader` after routing) is probably the right way to do auth Finch.

[2015-04-09 23:19] vkostyukov opened #228 "Consuming HTTP (Finagle) services with Finch"
From Gitter:

@trane

it would make it nicer to implement conversions and transformations via implicits in a unifying api, rather than a hodge-podge of service/filter transformations
vkostyukov a minute ago

[2015-04-10 04:25] ceedubs commented on #226
I don't believe that `tmpJson` is actually valid JSON, because of all of the `|` characters. If you call `stripMargin` on it first, it works.

[2015-04-12 19:12] nicmart commented on #200
Hi all,
I think I have finished at least what I could do...
Summarizing, the remaining warnings are:
1. Some false `isInstanceOf` warnings due to https://github.com/puffnfresh/wartremover/issues/152
2. A lot of `Inferred type containing Any` in the Json package, see [this issue](https://github.com/puffnfresh/wartremover/issues/153). It is not clear if that rule should allow Any in some signatures

[2015-04-13 14:37] lderks opened #230 "Router: Type mismatch, expected: Int, actual: Any"
Finch: 0.6.0
The code below( from the route.md file )
[code]
gives the following compilation error:
[code]

and for the code getUserTicket(userId, ticketId) IntelliJ complains with the following message:
[code]

[2015-04-13 16:50] vkostyukov commented on #230
Well. This is a typical example of an outdated documentation. It should be much simpler in 0.6.0:

[code]

[2015-04-13 16:53] vkostyukov commented on #230
@lderks do you mind to make a PR that updates docs?

[2015-04-13 16:53] vkostyukov commented on #226
Thanks @ceedubs! I'm closing this.

[2015-04-13 16:53] #226 closed

[2015-04-13 18:02] lderks commented on #230
@vkostyukov <https://github.com/vkostyukov>

https://github.com/finagle/finch/pull/231 <https://github.com/finagle/finch/pull/231>

[2015-04-13 18:04] vkostyukov commented on #230
I bet we can close it now.

[2015-04-13 18:04] #230 closed

[2015-04-14 16:11] mfirry commented on #215
Hi, I've been (briefly) fooling around with `Micro` and what's hard to get (for me) is how to write functions and then sort of attach them to Finch endpoints.

I found your playground example a little bit too much in that it also deals with filters and custom requests and so on.

If I don't look at that I can only find simpler example (like this `get10` and `get10xA` one).

This basically shows ho

[2015-04-14 16:16] vkostyukov commented on #215
Hi @mfirry!

Thanks for the feedback!

There is probably no docs for this, but there are 2 new combinators described in [release notes](https://github.com/finagle/finch/releases/tag/0.6.0): `~>` and `~~>` that allow you to compose `Micro[A]` with `A => B` and `A => Future[B]` correspodningly.

You'r example would look something like this:

[code]

[2015-04-14 17:28] mfirry commented on #215
Awesome! Thanks so much.

[2015-04-14 21:43] vkostyukov opened #232 "Idea: Compose Routers with RequestReader's"
I remember we discussed something like this previously.

The idea is to introduce combinator `?` (like query string separator) on `Router` type that allows to compose routers and request readers together:

[code]

[2015-04-14 21:50] vkostyukov commented on #232
I believe this idea fits well into the concept of heterogeneous routers (see #221). Combining these two concept will allow us to write some crazy code like this:

[code]

[2015-04-15 13:39] rpless opened #233 "Remove finch-json library"
Following up on a twitter conversation from last week, I propose we cease support of the finch-json library. While the API is nice, it has been causing us a lot of issues recently and it depends on deprecated scala APIs. There are plenty of other nice json libraries out there (some of which we support out of the box). I don't think we should be spending our cycles supporting a hand-rolled json lib

[2015-04-15 13:56] penland365 commented on #233
:+1: to this idea - there is plenty of work to go around focusing on `finch` proper. I'll also throw a :+1: to the idea of using [Argonaut](http://argonaut.io) for the default json library.

[2015-04-15 14:52] travisbrown commented on #233
:+1:—I like the idea of a lightweight, dependency-free option, but agree that it's not worth the cost, especially if it's not a viable choice for actual use.

[2015-04-15 15:55] vkostyukov commented on #233
:+1:

Let's deprecate `finch-json` in this release and make a note in the docs regarding the preferred JSON implementation. @rpless do you mind to do that?

[2015-04-15 19:11] rpless commented on #233
@vkostyukov sure thing, I should be able to do it this weekend.

[2015-04-16 01:50] BenWhitehead commented on #233
:+1: We haven't been using finch-json since 0.1.0 as it was too slow for our needs.

[2015-04-16 12:59] rpless commented on #232
:+1: I'd like to see this. Its been in the back of my mind for a while because Finagle has extractors for params in addition to route elements and HTTP methods.

[2015-04-16 14:37] travisbrown commented on #232
I'm planning to put some time into a demo of a Shapeless-supported heterogeneous router this weekend (in preparation for a talk at a Twitter HQ meetup in a couple of weeks)—I'll look into this as well.

[2015-04-16 14:46] vkostyukov commented on #232
Thanks @travisbrown!

This should be relatively easy to do once we unify the composite type for both `RequestReader` and `Router`. Here is what I have in mind right now:

[code]

Note that `&` is basically an alias for `?`. This gives us a DSL that looks pretty close to just URL.

Another crazy idea that is bothering me is to merge `RequestReader` and `Router` into a single abstraction called `End

[2015-04-17 15:44] vkostyukov commented on #86
No longer actual due to #233.

[2015-04-17 15:44] #86 closed

[2015-04-17 15:45] vkostyukov commented on #115
No longer actual due to #233.

[2015-04-17 15:45] #115 closed

[2015-04-20 15:59] penland365 commented on #215
Howdy, I got the chance to dive into the `Micro` stye pretty heavily at the end of last week - I'm looking at this style for my next project.  Two things:

1.) When I first started playing w/ it, I got super excited at the ability to compose + separate out business logic. Then after a couple of hours I realized . . .

2.) It feels like the abstraction `HttpRequest => (A => B) => HttpResponse`  is

[2015-04-20 16:11] vkostyukov commented on #215
Hi @penland365!

Thanks a ton for this feedback!

It's true. You thoughts are similar to mine. That's why there is a ticket about a heterogeneous router (see #221). The motivation for that is basically to provide users more flexibility on what is the proper response. (and this is exactly what confused you) Within a heterogeneous router we no longer stick to the abstraction `HttpRequest => (A => B)

[2015-04-20 18:47] ImLiar commented on #232
damn man, thats what I was looking for! :+1:

[2015-04-20 18:49] ImLiar commented on #221
I'll try my best and dig this way. Was looking for a chance to try shapeless in the real world

[2015-04-20 18:56] travisbrown commented on #221
@ImLiar I'm aiming to have a WIP pull request up by tomorrow night. You're definitely welcome to start looking and we can compare notes then, though.

[2015-04-20 19:09] ImLiar commented on #221
@travisbrown ok, its cool for me

[2015-04-20 19:10] vkostyukov commented on #221
Great! Thank you @travisbrown, @ImLiar!

[2015-04-20 21:12] penland365 commented on #215
@vkostyukov Thanks for the reply!  I had typed up a response earlier, then went to eat lunch and forgot about it. Yeah, the heterogeneous router feels a little closer to what I was mulling over this morning.

[2015-04-21 21:21] mfirry opened #235 "Participate in Web Framework Benchmarks by TechEmpower"
I'd love to read results of those benchmarks for Finch. [round 10](https://www.techempower.com/benchmarks/#section=data-r10) - [source](https://github.com/TechEmpower/FrameworkBenchmarks/tree/master/frameworks/Scala)

[2015-04-22 16:10] travisbrown commented on #233
Now we'll have [automatic API doc links to Argonaut](https://github.com/argonaut-io/argonaut/pull/175) after the next release!

[2015-04-22 16:49] vkostyukov commented on #233
@travisbrown This is great! :+1:

[2015-04-23 00:12] travisbrown commented on #235
Agreed, this would be great. There was a Finagle entry in a previous round, but it was very broken—I don't know the original contributor, but @stevegury has started repairing it [here](https://github.com/stevegury/FrameworkBenchmarks/commit/facf5ef8a0770d81a56d0b29bb771aeb3ac36d46).

[2015-04-23 03:40] stevegury commented on #235
I'm just waiting for the new open-source release of finagle, and I will send a PR.

[2015-04-23 03:42] vkostyukov commented on #235
That's a good idea. We can wait for 0.7.0 and send a PR. Although, I believe that it will have the Finagle performance.

[2015-04-23 04:14] vkostyukov opened #238 "Revise all the implicit conversions"
We might probably want to move them into the corresponding companion objects (if possible) to make the compilation faster for both Finch contributors and Finch users.

[2015-04-23 07:02] mfirry commented on #235
Thanks guys!

[2015-04-26 02:35] vkostyukov opened #242 "Replace RequestReader's composite type ~ with HList"
I'm sold to add a dependency to Shapeless and replace our hack types `~` and `/` with `HList`. This should be relatively easy to do right now, since in 0.6.0 release I tried to hide types `~` and `/` from users API, so they could use implicit conversion and deal with types `(A, B, ..., Z)` instead of `A ~ B ~ ... ~ Z`.

How about to make something similar to scodec combinators API:

[code]

I'm no

[2015-04-26 02:36] vkostyukov commented on #221
I've created a separate ticket to track the progress on replacement the composite types with HList: #242.

[2015-04-26 23:07] IgorWolkov opened #244 "EncodeResponse for byte arrays"
It would be very helpful to have implicit response encoder for byte arrays and use it with TurnIntoHttp[Array[Byte]].

[2015-04-27 07:12] vkostyukov commented on #244
I was thinking about deprecating the `TurnIntoHttp` class in favour of #221 but the overall idea still makes sense. What `contentType` should be for the byte array body?

[2015-04-27 23:13] cocodrino opened #245 "doc is broken: when will be available new doc?"
Hi, I'm interested in use finch but seems than the doc is broken:

Endpoints

[code]
endpoints seems to be an important part in the old versions and for me it's not clear how replace them, please let me know when new doc will be available, thanks!...

[2015-04-27 23:23] vkostyukov commented on #245
HI @cocodrino,

It's just a broken link. All the docs on [Route Combinators AP](https://github.com/finagle/finch/blob/master/docs/route.md) are available since 0.5.0. I will fix the link. Thanks!

[2015-04-28 02:46] BenWhitehead commented on #244
It would be nice to be able to specify the `Content-Type` when using a binary serialization (or any serialization that can be represented as a `Array[Byte]`). Though a reasonable default could be `application/octet-stream`

[2015-04-28 02:53] vkostyukov commented on #244
Right. Although, I'm not sure if there is a nice way to specify the `Content-Type` for an implicit encoder. Can we just stick with the hard-coded `application/octet-stream`?

[2015-04-28 14:24] cocodrino commented on #245
oh thanks, seems pretty promising I'll check it in the weekend ;D thanks

[2015-04-28 16:23] vkostyukov commented on #215
Micro is going to be deprecated in 0.7.0 since it was probably a bad idea. The current big thing that replacing Micro is Heterogenous Routers #221.

[2015-04-28 16:23] #215 closed

[2015-04-28 16:28] vkostyukov commented on #245
Let's keep it open until I fix the broken link.

[2015-04-28 16:32] vkostyukov commented on #242
Fixed in #246.

[2015-04-28 16:32] #242 closed

[2015-04-28 16:38] vkostyukov opened #249 "Replace Router's composite type `/` with HList"
Similarly to #242, we have to replace the underlying composite type `/` with `HList`. I'm not quite sure we can do it w/o breaking API changes, but I don't think it might be a problem for the end users since I don't think they use the `/` type directly.

[2015-04-28 16:47] vkostyukov commented on #249
I've moved it to the next milestone sine I'm not 100% sure how (and why) to do it.

The following API looks inelegant:

[code]

It feels like we have to use the `::` compositor, but we can't since we use it for other needs (see #221). We should probably keep the `/` type.

[2015-04-28 20:18] BenWhitehead commented on #244
Right now `EncodeResponse` is defined as returning a `String` from it's `apply` function.  Maybe it could be updated to always return `Array[Byte]` and in the case of json return the UTF-8 bytes.

[2015-04-29 03:27] #244 closed

[2015-04-29 03:27] #245 closed

[2015-04-29 04:08] vkostyukov commented on #172
This is a duplicate of #221.

[2015-04-29 04:08] #172 closed

[2015-04-29 13:57] ImLiar commented on #249
I think it could be possible via type alias
Smth like `type /[A, B] = ::[A, B]`

I tried it already a time ago and AFAIR it works

[2015-04-29 22:02] vkostyukov opened #254 "Single Abstraction for everything: Endpoint"
This is a discussion issue - there is no milestone for this yet.

I'm still thinking about "Your REST API as a Monad" approach and it seems to me that we still can do that given there is a Heterogenous Router is on the way.

The idea is to have just a single abstraction (`Endpoint`) that combines both `Router` and `RequestReader` together, so we can organize the code in separate endpoints. We can

[2015-04-30 06:30] ImLiar commented on #254
As far as I understand your idea its pretty simple to make monadic trait `Endpoint[Route[_]]`, with two applies: one for "saving callback", and the second one (abstract) for applying callback on request. Just like it works in `Route`.
And all you need is an implicit conversion from Route[_] to Endpoint[Route[_]]

[2015-05-02 00:42] vkostyukov commented on #221
I can't stop thinking about heterogeneous routers. And I'm not quite sure I know how it should look lilke. But here are my current thoughts (according to #254).

I really like the colon `::` operator we have right now on `RequestReader` and I believe it should migrate to `Endpoint`s (a merged version of `Router` and `RequestReader`). So we should be able to write something like this:

[code]

Note

[2015-05-03 21:16] vkostyukov commented on #254
As mentioned in #256 by @ImLiar, the suggested API is less intuitive than the old (current) one. My understanding is following. There are to possible directions for the future Finch:

1. Keep both abstractions: `RequestReader` and `Router` and compose them like this:

[code]

2. Merge `RequestReader` with `Router` (they basically do the same thing - take a request and produce some type `A` from it

[2015-05-03 21:58] penland365 commented on #254
I am in favor of the second approach, with some modifications, for three reasons:

1.) Given some of my Rails background with the ubiquitous `routes.rb`, defining endpoints in general feels like the correct abstraction point. I see something like this:
[code]

2.) Unifying the result type to `HList` should make composition much more sane - I'm currently dealing with that in the demo project now -

[2015-05-03 22:26] vkostyukov commented on #254
Thanks for the feedback @penland365! See my comments bellow.

1. That's totally possible to do within the suggested approach. `Endpoint`s are just values so you can define them wherever you want and reuse them if needed. It's the question of a style but I like the idea of defining both route and business logic in the one place.

2. That's true. I personally like the idea of having just _a one_ way

[2015-05-03 23:44] travisbrown commented on #254
Here's my thinking, which I'm working into a draft PR.

The following are pretty close approximations of the current types (leaving out some of `RequestReader`'s error message tools and a handful of custom combinators that can be provided via value classes):

[code]

(I find the `StateT` and `ReaderT` terminology useful for my own thinking about how we're modeling these things—they shouldn't be ta

[2015-05-03 23:57] travisbrown commented on #254
@penland365 In response to your proposal: my own feeling is that in general we don't want to be defining things like `Endpoint[A :: B :: HNil]` very often. You'll have an `Endpoint[A :: B :: HNil]` in an intermediate step, but you'll map the `HList` to a more meaningful type (using `as` or `~>`) before your definition is complete. In many or most cases, users won't have any traces of `HList` in th

[2015-05-04 00:41] vkostyukov commented on #254
Thanks @travisbrown!

I have completely forgotten about `Coproduct` type. This is exactly what we need here! The only thing is I wish we could keep the functionality of the `|` compositor in the meaning of `def |[B >: A](...)` since it's quite useful for the things like `Get / ("user" | "users")` or even `(Head | Get) / etc`.

Re request readers and routers. I believe it's quite possible to encode

[2015-05-04 00:46] vkostyukov commented on #254
Sorry, forgot to mention. Maybe we could introduce a new compositor `:+:` on `Router` in the meaning that it composes to routers into a router of `Coproduct`:

[code]

Also, re converting `Router[Coproduct]` into `Router[HttpResponse]`. The beautiful thing about this approach is that we can add a conversion from `CNil` to a service that always return `NoFound` HTTP response. So, router `Router[Int

[2015-05-04 02:33] penland365 commented on #254
Thanks @travisbrown - the idea of a type involving a `coproduct` was missing for me. Under that definition, I agree that `|` is preferable to a `cons` style `::`.

[2015-05-04 06:34] ImLiar commented on #254
Well, I agree that the second approach is more prefered as true monadic composable, scalish & _anyotherbuzzwords_ way to do things.
But still it's increasing learning curve of finch to the skies and making its API mad just like a scalaz/shapeless sources.

Let me explain it.
Few days ago I showed some finch routing code to JS dev from our team:
[code]
_or something like this_

And he easily unders

[2015-05-04 12:54] travisbrown commented on #254
@ImLiar In the request reader API, `::` replaces `~`, which doesn't mean much of anything, either, and the current API is designed in such a way that in most cases users don't have to know anything in particular about hlists.

The goal for the endpoint / router API is similar. Some combinator (maybe called `|`, maybe something else) allows you to chain together endpoints, and the result will be an

[2015-05-04 13:24] ImLiar commented on #254
@travisbrown Yea, its an old discussion about whether users should/should not understand how works `CanBuildFrom` to map over collection of ints.
Whatever, from my point of view blind usage of libraries/design patterns is a dark & dangerous way to shoot in the leg.

[2015-05-04 13:48] travisbrown commented on #254
I sometimes think `CanBuildFrom` gets a bad rap :smile:. Sure, it makes trying to implement your collection types difficult, but in general that's not something you should be doing anyway. For ordinary usage it works pretty well, in my experience—it stays out of your way until you need it, which isn't very often.

I think the `~` / `::` distinction in `RequestReader` is a useful example to push on

[2015-05-04 15:46] vkostyukov commented on #254
I agree with @travisbrown on this. There are a lot of libraries that use Shapeless in a way that end users usually don't even have an idea there is `HList` somewhere (e.g., scodec, Spray). I hope we can go in the same direction with Finch.

Re `::`. Basically, we can call this compositor whatever we like. It's just easier to reason about `::` when you know that it constructs `HList`. But, it's not

[2015-05-04 16:26] penland365 commented on #254
@ImLiar I certainly understand and appreciate where you're coming from - if I'm being honest, I only understand what a `coproduct` is about 1 / 3 times, and I'm still scared to use `Kleisli` because I'm a redneck and still occasionally pronounce it like the Game of Thrones Queen.  My original suggestion for syntax related to constructing Endpoints had more to do w/ the simple fact that I like the

[2015-05-04 16:48] travisbrown commented on #254
@penland365 Some little pieces of the syntax will end up being different, but what you're describing is possible and is exactly what I'm aiming for.

[2015-05-04 16:51] vkostyukov commented on #254
Thanks @penland365! I should probably start watching the Games of Thrones given there is a queen called Kleisli.

The big picture is following. As mentioned by @penland365. The `Endpoint[A]` encodes something at the end: it takes a request and produces some type `A` from it. So we can serve any endpoint within HTTP and `A` will be automatically serialized into the HTTP response body.

Examples:

[

[2015-05-05 08:31] lderks opened #259 "Make argonaut-json depend on argonaut 6.1"
finch-argonaut still depends on 6.0.4

https://github.com/finagle/finch/blob/master/build.sbt#L147

Would be better to update this to 6.1, which is also available:

http://mvnrepository.com/artifact/io.argonaut/argonaut_2.11/6.1

[2015-05-05 15:29] vkostyukov commented on #259
Fixed in #260.

[2015-05-05 15:29] #259 closed

[2015-05-06 13:40] ImLiar opened #263 "Best practices and abstractions"
When we've started to use finch (from v0.5) as a basis for our REST/HTTP API we've struggled with a lack of some practices, guidelines and how-to about abstractions on top of underlying `Service[HttpRequest, HttpResponse]`.

Finch by itself is a pretty low level layer which responds to work with HTTP requests/responses with some neat monadic extensions/ways to do. And nothing more. Finatra, for ex

[2015-05-06 14:28] travisbrown commented on #263
I'll defer to @vkostyukov and others, of course, but my own feeling is that providing higher-level abstractions like this in a Finch subproject would be reasonable—keeping it in this repository would make it easier to stay synced with core, and it would be pretty trivial to move it to a new `finch-extensions` (or whatever) repository in the Finagle organization if we decide we want to do that some

[2015-05-06 16:43] vkostyukov opened #264 "Better errors for missing/wrong JSON properties"
It would be nice if we could better understand what's wrong with an incoming JSON body and throw a reasonable error about it. For now, we throw `NotParsed(BodyItem, ....)`. Would be nice if we could promote `BodyItem` to a case class `BodyItem(name: String)` and wrap missing/wrongly decoded properties in it.

See discussion in #261 started by @lderks.

[2015-05-06 17:52] vkostyukov commented on #263
Thanks @ImLiar!

This is a very very good question. And I believe everybody who is using Finch nowadays faced the same question. We've discussed this at lot, and I remember your participation in early discussions. Here is the short story.

The was a ticket #204 "Finch in Action" about the same question - how to write services (organize your code) with Finch. We tried to come up with something that

[2015-05-06 18:07] vkostyukov commented on #263
@ImLiar Just wanted to make it clear. I'm completely on board with publishing this as a blog post right now and have a link to it from Finch docs. We probably need a new sections in the docs: case studies.

[2015-05-07 03:24] zdavep commented on #254
Late to the party but I think that merging RequestReader with Router is the best option.  I do feel that `|` and `/` are preferable to `::` from an accessibility point of view. Now, having said that, I don't think converting to `::` would be a huge problem.  Our finch code-bases are very small and changes so far have been relatively simple.

[2015-05-07 03:40] vkostyukov commented on #254
Thanks @zdavep! That's right. We're basically trying to change the API in a way that end users could do migration mechanically.

[2015-05-07 04:00] zdavep commented on #254
Yes, well done! Also...

Yay!

[2015-05-07 06:12] ImLiar commented on #263
Okay, guys, I hear you. Let's wait until 0.7 release and I'll write smthing about actual version of finch.

[2015-05-07 07:56] ImLiar commented on #264
It hardly depends on underlying JSON lib, but I think it would be nice to unify error output (exception) on decode step at least in our libs.

[2015-05-07 18:05] vkostyukov commented on #121
As discussed in the Gitter channel, we might want to test different JSON libraries supported in Finch.

[2015-05-08 22:19] vkostyukov commented on #249
I'm going to work this out this weekend.

[2015-05-09 12:31] travisbrown commented on #121
I've just been putting together some initial benchmarks, since I want to keep an eye on the performance impact of the API additions and changes I'm making. I'll have a pull request ready this morning, but in the meantime I thought people might find this interesting:

[code]

There's no noticeable difference between using Finch with Jackson over the vanilla Finagle HTTP API (also with Jackson), and

[2015-05-12 20:46] vkostyukov opened #271 "How to run demo?"
Somehow, sbt-jmh plugins believes that `demo` is a benchmark and tries to process it while running `sbt 'project demo' 'run io.finch.demo.Main'`:

[code]

We should understand if there a way to to just run the demo w/o generating a benchmark.

Reported by https://twitter.com/dkovalenko_fun.

[2015-05-12 21:17] #271 closed

[2015-05-25 23:30] dszeto opened #275 "finch-json4s missing from central repository"
Thanks for the great work of Finch! Is there a reason why finch-json4s is not published on the central repository? Adding it to any SBT project currently give resolution error. It is not on snapshot Sonatype repository either. It would be really great to have this particular artifact published. Thanks!

[2015-05-26 05:29] vkostyukov commented on #275
Should be in Maven Central now. Thanks @dszeto!

[2015-05-26 05:29] #275 closed

[2015-05-29 11:46] ImLiar commented on #221
Hi guys. Any progress with shapeless?

[2015-05-29 16:59] vkostyukov commented on #221
Hi @ImLiar,

The current state is here: https://github.com/finagle/finch/pull/276. Hopefully, we will merge this in a couple of days.

[2015-05-31 16:45] vkostyukov commented on #221
This is fixed by #276.

[2015-05-31 16:45] #221 closed

[2015-06-02 03:04] yanana opened #281 "Enable native binary response support"
Current `io.finch.response.EncodeResponse`'s `apply` method returns a `String` value, a response body is inevitably encoded as `String`. Consequently, binary content invalid as UTF-8 string, e.g. `Array[Byte](0xFF)` results to `Array[Byte](0xEF, 0xBF, 0xBD)`.

[2015-06-02 15:16] travisbrown commented on #121
We can close this now that #266 is merged, no?

[2015-06-02 15:20] vkostyukov commented on #121
Sure. Let's close this.

[2015-06-02 15:20] #121 closed

[2015-06-03 03:32] vanyacohen commented on #238
I'm happy to help make this happen, but I've encountered some trouble identifying offending code. It seemed like every implicit method I found was already in an object (or trait extended by an object). Would you be willing to help me understand what needs to be fixed?

[2015-06-03 03:46] vkostyukov commented on #238
@vanyacohen, Travis and I are addressed a lot of conversions in #278, but I'm pretty sure something is left. Otherwise, we can just close this issue.

[2015-06-03 03:54] vkostyukov commented on #281
Let's make this happen in 0.7.0.

[2015-06-03 12:16] travisbrown commented on #238
Hi @vanyacohen—one example I just noticed by grepping for `implicit def` is `toOptionalRule` in the `request` package object. Right now you have to import the contents of the package object to get it to apply, and then it's just another implicit conversion in scope that the Scala compiler has to consider all the time. If it were in the `ValidationRule` companion object (since it has `ValidationRul

[2015-06-03 13:47] travisbrown opened #286 "Deprecate finch-jawn"
We discussed this on Gitter but it doesn't look like it made it into an issue. I agree that it might be a good idea to deprecate finch-jawn in 0.7.0 (it's not really the same kind of library as the others). I would like to experiment with using Jawn as a parser for e.g. finch-argonaut at some point to see if that buys us any performance improvement, but I can create a separate issue for that.

[2015-06-03 13:51] travisbrown opened #287 "Experiment with Jawn as a parser for finch-argonaut"
Jawn supports parsing into the Argonaut AST, which would allow us to replace the stock Argonaut parser while still using the AST, codec type classes, etc. There's a chance this could improve performance, and it wouldn't be too hard to try.

[2015-06-03 14:29] travisbrown commented on #249
For the sake of consistency it'd be nice to get this into 0.7.0—it's basically the same kind of thing that we did with `RequestReader`.

About the type alias issue—my feeling is that in this new flavor of the API, there's a class of intermediate values that the user shouldn't generally need to name or provide types for. Something of type `Router[Int :: Int :: HNil]` (or `RouterN[Int / Int]`) will

[2015-06-03 15:07] vkostyukov commented on #249
My current attempt to approach this is #268. Although, it needs to be rebased.

[2015-06-03 15:09] vkostyukov commented on #286
:+1: Let's do it in 0.7.0.

[2015-06-03 15:18] travisbrown commented on #286
Cool—I'll do a quick PR right now.

[2015-06-03 16:58] #286 closed

[2015-06-03 17:07] vkostyukov commented on #238
Thanks @travisbrown! `ValidationRule` is probably the lowest hanging fruit for this ticket. Once we fix it we can probably close the ticket.

[2015-06-03 17:21] travisbrown opened #289 "Move class definitions out of package objects"
I mentioned this on Gitter but am creating an issue for more inclusive discussion.

I think it'd be a good idea to move all class (and trait and object) definitions that aren't implicit classes out of package objects, since having `package$` prefixes on the JVM class names makes a number of things inconvenient (`javap`, Java interop, etc.).

This would be a breaking change but mostly (entirely?) s

[2015-06-03 18:42] vkostyukov commented on #281
Fixed by #283.

[2015-06-03 18:42] #281 closed

[2015-06-03 20:39] vanyacohen commented on #238
Yes, thanks @travisbrown! I'll go ahead and move toOptionalRule to the ValidationRule companion object and look for similar conversions.

[2015-06-04 04:21] BenWhitehead commented on #289
+1

[2015-06-04 04:42] #238 closed

[2015-06-04 17:41] travisbrown opened #297 "Standard conventions for imports and copyright headers"
I've been tending to leave stuff as I find it or make it match its neighbors, but there's some inconsistency here—some files have copyright headers, others don't, some have imports divided into sections, others alphabetize their imports, etc.

My vote would be to remove all copyright headers (the project-level license is plenty) and include authorship information in the Scaladoc when needed. I als

[2015-06-04 17:46] vkostyukov commented on #297
That's an awesome idea!

Authorship information is also available per each source file on Github.

[2015-06-04 17:47] travisbrown commented on #297
Yeah, I don't think we need it in the file, but if some contributors did want that, the Scaladoc annotation would probably be a better place than a contributors list in the header.

[2015-06-04 17:51] travisbrown opened #298 "Remove all references to Netty"
I started this with some easy stuff in #296, but I'm pretty sure we could get rid of the remaining references to Netty classes as well (this only happens in a couple of files).

[2015-06-04 17:54] travisbrown commented on #289
`-Xlint` says we're okay here after #292 and #295.

[2015-06-04 17:54] #289 closed

[2015-06-04 18:00] vkostyukov commented on #298
I wish it was "easy" to get rid of `FileUpload` :) The context is here: https://github.com/finagle/finch/pull/201.

[2015-06-04 18:02] travisbrown commented on #298
Oh, damn. Well, the stuff in `DemoSpec` at least shouldn't be too bad.

[2015-06-05 21:38] vanyacohen commented on #297
Happy to help with this. Just a quick clarification: do we want to move the contributors to an @author annotation by default? Or just remove the header and contributors for now and add them to the Scaladoc as needed?

[2015-06-07 17:54] vkostyukov commented on #249
#268 was abandoned in favour of #306.

[2015-06-08 03:29] vkostyukov commented on #249
Fixed by #306.

[2015-06-08 03:29] #249 closed

[2015-06-08 13:06] rpless commented on #297
One possibility instead of @author is a CONTRIBUTORS file like finagle has (https://github.com/twitter/finagle/blob/master/CONTRIBUTORS).

[2015-06-08 20:24] vkostyukov commented on #233
Fixed by #309.

[2015-06-08 20:24] #233 closed

[2015-06-08 21:28] vkostyukov commented on #232
It should be possible to do it now since we have `Smash`.

![Hulk](http://media.giphy.com/media/ErDZ73YFYLSPC/giphy.gif)

[2015-06-08 23:45] vkostyukov commented on #232
Let me work on that.

[2015-06-09 13:41] rpless commented on #196
I'm not sure we should do this. Code formatters are not that flexible and will require a lot of tuning of its options to get it to a place we are comfortable with. I enabled it on the core project locally and it does some interesting things. For example it renders:
[code]
as
[code]
I'm imagine there is an option to change this behavior, and I'm going play with it a little to see if I can get it in

[2015-06-09 18:06] vkostyukov opened #315 "Imporve Smash"
I was experimenting with some simple idea: can we be a bit of smarter in smashing. More precisely, can we shams `HNil` and `A` (and vice versa) into just `A` not `A :: HNil`.

Here is an example:

[code]

It seems pretty possible to me (and it's almost workable in my branch).

@travisbrown do you have any concerns about that? What I see is a bit of problems with `/>` compositor that should be easy

[2015-06-09 18:13] vkostyukov commented on #196
Yeah. That's a weird style for sure. Maybe we can grab an initial config from some open source project that uses scalariform? That's basically what I did wit scalastyle (grabbed it from cats).

[2015-06-09 19:01] travisbrown commented on #315
My first reaction was that this just makes `Smash` a little more magical by special casing the single-element case. On second thought I don't think that's necessarily a problem, though, since the mechanics here are supposed to be mostly hidden from the user (unlike the more explicit approach Scodec takes with `dropUnits`, etc., for example). So I think it's at least a reasonable experiment.

[2015-06-12 15:49] #315 closed

[2015-06-14 20:31] vkostyukov opened #320 "Deprecate all endpoints in favor coproduct routers"
I would propose to deprecate both endpoints we have in Finch (`io.finch.Endpoint` and `io.finch.route.Endpoint`) in favor of coproduct routers introduced in 0.7. The high-level plan is to deprecate them in 0.8 and completely remove in 0.9.

Let me know if there are any concerns.

[2015-06-14 20:37] vkostyukov commented on #297
I think it's not necessary to have CONTRIBUTORS file. Everyone who's contributed is listed on Github.

[2015-06-15 01:10] vkostyukov opened #321 "Remove `playground`"
I believe it's no longer necessary to have it. We used to use this to experiment with `micro` API (Finch in Action).

[2015-06-16 02:59] rpless commented on #297
I'm fine with that. Did we settle on an order for imports? I prefer alphabetization too, but I'm open to other conventions.

[2015-06-16 18:18] rpless commented on #287
Hi @travisbrown, I think this may not be feasible. I've done the conversion [here](https://github.com/rpless/finch/blob/dont-switch-to-jawn/argonaut/src/main/scala/io/finch/argonaut/package.scala#L44), but all of the property tests for decoding now fail. I believe it has something to do with [how jawn handles longs](https://github.com/non/jawn/blob/master/support/argonaut/src/main/scala/Parser.sca

[2015-06-16 18:30] travisbrown commented on #287
Thanks for putting this together! I think we should take this up with the Jawn folks—changing that `jint` implementation to `Json.jNumber(java.lang.Long.parseLong(s))`, publishing locally, and changing your branch to depend on the snapshot makes the tests pass for me.

[2015-06-16 18:58] travisbrown commented on #287
I just ran the service benchmarks with this change and almost everything is a touch better (both times and allocation rates), but generally inside the margin of error. There's currently more emphasis on encoding than decoding in the service benchmarks, though.

So I think it's worth trying to get that change into Jawn, and then we can decide whether the improvement (if there actually is any) is wo

[2015-06-16 19:06] rpless commented on #287
Ok, sounds like a plan. If you haven't already, I can start working on a reduced test case and have a PR for jawn.

[2015-06-16 19:08] vkostyukov commented on #287
@travisbrown do you mind sharing the benchmark results?

[2015-06-16 19:16] travisbrown commented on #287
@vkostyukov [Sure](https://gist.github.com/travisbrown/2c42914fab71514e5851) (sorry about the format)!

[2015-06-16 19:19] travisbrown commented on #287
Oh, and no, @rpless—I made that one little change but haven't started preparing a Jawn PR.

[2015-06-16 20:11] vkostyukov commented on #287
Thanks @travisbrown! Looks like it gives us around 3% in both allocations/performance. I would say it worth using Jawn then, especially if we're promoting Argonaut as a preferred JSON backend.

[2015-06-16 20:52] travisbrown commented on #287
@vkostyukov That's one run on my desktop machine, which has several browsers open, etc.—we probably want to look a little more carefully before deciding for sure. But I think it's worth the effort.

[2015-06-16 23:10] vkostyukov commented on #287
@rpless :+1: for fixing the issue in Jawn!

[2015-06-16 23:13] vkostyukov commented on #321
Removed in #323.

[2015-06-16 23:13] #321 closed

[2015-06-16 23:14] vkostyukov commented on #297
I'm on board with simple alphabetical order to imports.

[2015-06-17 19:00] vkostyukov opened #327 "Lazy Routing"
The basic idea is to prevent evaluation of the `Router`s extracted value if we just want to check how many path's parts that router's matched. This would probably also involve renaming `apply` to `run` in the `Router`.

[2015-06-17 19:02] rpless opened #328 "Oddity with Encoding Raw Strings"
I've been fixing and expanding the [Finch implementation of the Tech Empower Benchmark](https://github.com/TechEmpower/FrameworkBenchmarks/tree/master/frameworks/Scala/finch).
For the [plain text test](http://example2frameworkbenchmarksdocs.readthedocs.org/en/latest/Project-Information/Framework-Tests/#plaintext), I have a router:
[code]
When I run Tech Empower's tests this yields an error saying

[2015-06-17 19:06] vkostyukov commented on #328
Hm. Interesting. I believe these quotes happened after #283. We should probable write a tase case and try to fix it.

[2015-06-17 19:15] vkostyukov commented on #328
I hope this doesn't mean that we have the same issue with JSON encoding...

[2015-06-17 19:20] rpless commented on #328
It doesn't seem to. I've cleaned up the json test too and it passes their test with flying colors.

[2015-06-17 19:23] vkostyukov commented on #328
Just double-checked the demo project. The output JSON is not wrapped with quotes:

[code]

[2015-06-17 19:25] vkostyukov commented on #328
Maybe @yanana can quickly spot the error?

[2015-06-17 19:26] rpless commented on #328
Yeah, so far it just seems to be strings. I've pushed my current work [here](https://github.com/rpless/FrameworkBenchmarks/blob/update-finch/frameworks/Scala/finch/src/main/scala/WebServer.scala). Might be a good starting put. I'll continue to look at it, but help other sets of eyes are appreciated.

[2015-06-17 19:29] travisbrown commented on #328
Argonaut provides a codec for strings that quotes them, and that's probably what's getting picked up here. As a workaround you could provide the instance in `EncodeResponse` explicitly. In the longer term we may want to consider parametrizing `EncodeResponse` on the contentType (at the type level).

[2015-06-17 19:34] rpless commented on #235
I've started [fixing up](https://github.com/rpless/FrameworkBenchmarks/blob/update-finch/frameworks/Scala/finch/src/main/scala/WebServer.scala) (and soon adding other tests to) the [existing implementation](https://github.com/TechEmpower/FrameworkBenchmarks/tree/master/frameworks/Scala/finch) for the benchmarks.

Besides the string encoding issue that we are looking at in #328, any thoughts and co

[2015-06-17 19:57] rpless commented on #328
Ok, so it seems I wasn't importing `io.finch.response.EncodeResponse._`, which means I didn't have the `encodeString` implicit on scope. Importing that package fixes the issue. I find this more than a little concerning because I don't know what implicit conversions are making the other behavior happen. I think we probably need to note this somewhere.

[2015-06-17 20:01] travisbrown commented on #328
You shouldn't need to import `EncodeResponse._` in normal usage—the compiler knows to look for the `EncodingResponse[String]` instance there. The issue is that `io.finch.argonaut` also provides an `EncodeResponse[String]`, and that one takes priority (until you import the original one explicitly).

More generally, it makes sense to want to have different `EncodeResponse` instances for the same typ

[2015-06-17 20:02] yanana commented on #328
Exactly as @travisbrown said, an `EncodeResponse` which converts String to JSON is used as `Content-Type: application/json;charset=utf-8` suggests.

[2015-06-17 20:02] rpless commented on #328
I don't think it has anything to do with argonaut. Especially seeing as the plain text endpoint doesn't use it. I just removed both EncodeResponse._ and all references to argonaut in that file and I still get the original behavior.

[2015-06-17 20:06] travisbrown commented on #328
Which original behavior do you mean?

Here's an example of how the Argonaut instance can change things:

[code]

The second `Buf` is two characters too long.

[2015-06-17 20:07] rpless commented on #328
Disregard that last message, you're right it is argonaut causing the issue.

[2015-06-17 20:16] rpless commented on #328
Ok, so then this isn't a bug with code, but more of an issue of me not being aware of all of the EncodeResponses on scope. We probably need to address this. Do you want to close the issue and open a more general one for parameterizing `EncodeResponse` or keep everything here?

[2015-06-17 20:28] vkostyukov commented on #328
@travisbrown nice analysis!
@yanana good catch of the `application/json` content-type (I somehow missed), which indicates that a wrong instance of `EncodeResponse` has been used.

For now it's good to know a workaround: an explicit import of the implicit conversion raises its priority. But we definitely have to think about type-level `EncodeResponse`.

[2015-06-17 20:43] rpless commented on #328
Thanks for figuring this out @travisbrown and @yanana! I'm going to close this, as this particular issue is fixed.

[2015-06-17 20:43] #328 closed

[2015-06-17 20:45] vkostyukov commented on #328
@rpless maybe we should keep this opened until we introduce the new `EncodeResponse` API? Although, I'm totally fine with opening a new issue for that.

[2015-06-17 20:53] rpless commented on #328
@vkostyukov My feeling is that this issue is rather specific and the idea of a new `EncodeResponse` API is only introduced about halfway through the thread. A more generic issue might better represent the problem without the noise from this issue (it can certainly reference this issue though). But I'm fine with leaving it here. It's your call.

[2015-06-17 21:36] travisbrown commented on #328
I think the way to go on this is a type member representing the content type inside `EncodeResponse`—that way most usage is unchanged, but you can ask for an encoder for a specific content type when you want one.

I'll take a stab at an implementation this evening.

[2015-06-18 08:38] mfirry commented on #235
What's wrong with the existing implementation?

[2015-06-18 13:02] rpless commented on #235
Half of the changes are purely stylistic. I've updated from `Endpoint[HttpResponse, HttpRequest]` to `Router[X]`. I've made this change because we are planning on deprecating `Endpoint` per #320. I'm also using implicit conversions of `X` to `HttpResponse`. There's nothing wrong with explicitly returning the Http Response (in a lot of cases you have to), but I think in this case it shows off a som

[2015-06-18 13:26] mfirry commented on #235
Thanks a lot @rpless .
I'll keep watching your implementation.
I'm also pretty eager to see the final results.

I've noticed a lot of Scala implementations there were out-of-date somehow, which was too bad, so I've decided to work on a few (namely finch and http4s).

Side note: I've also worked on [web-frameworks-templates](https://github.com/mfirry/web-frameworks-templates/) which is somehow rela

[2015-06-18 15:43] travisbrown opened #330 "Move smash type classes for hlists and coproducts to Shapeless and remove ours"
I've got [an issue open](https://github.com/milessabin/shapeless/issues/413) over at Shapeless and will try to put together an implementation of `Smash` and `CoproductSmash` that would fit there this weekend. Once (or if) these get released (maybe 2.3?) we'll be able to migrate and delete our implementations.

[2015-06-21 23:09] #330 closed

[2015-06-22 01:59] vkostyukov commented on #263
I have [an update](https://gist.github.com/vkostyukov/411a9184f44a136e2ad9.) on this.

[2015-06-22 07:29] ImLiar commented on #263
@vkostyukov OH NOES, 404.

[2015-06-22 13:00] rpless commented on #263
@ImLiar link: https://gist.github.com/vkostyukov/411a9184f44a136e2ad9

@vkostyukov I like the idea of having micro-frameworks built on top of Finch for those that want them. My primary concern is this line from your write-up:
`The main requirement here would be to keep those micro-frameworks as simple as possible.`
I'm concerned that they may bloat or that users may want more from the projects and

[2015-06-22 19:42] ilya-murzinov commented on #136
Hi, @vkostyukov!
I was trying to work on this issue and got stuck in the very beginning.
I added new module to the project, but can't resolve **finch-oauth2** dependency:
[code]

Am I doing something wrong? Why doesn't it work?
Thanks.

[2015-06-22 19:52] vkostyukov commented on #136
@ilya-murzinov thanks for looking into this!

Yeah. Some time ago I migrated the `finagle-oauth2` to `finagle-httpx`, but I haven't published the binaries yet. Perhaps I should publish it into the MC under the same (or difference organization).

@travisbrown do we have `io.github.twitter` already. If so we should probably publish it there.

[2015-06-22 19:57] travisbrown commented on #136
No, I haven't published anything there yet, but yes, that's probably where it should go. I'm planning to spend the week after next catching up on some of this stuff, if it can wait until then.

[2015-06-25 17:04] vkostyukov commented on #232
Just merged in #319.

It turned out, we need to make another change before start working on this one. We should probably unify `Router`s with `RequestReader`s and make them return `Future[A]` instead of just `A`. Once it's done, we should be able to compose them very easily.

This change seems pretty local to me. It doesn't touch the user-facing API so we should be fine here.

[2015-06-30 15:28] travisbrown opened #335 "Abstract encoding and decoding type classes"
We currently have `DecodeRequest` and `EncodeResponse` type classes, which works well for creating servers. The needs of clients (see #228) are very similar, though, and introducing new `DecodeResponse` and `EncodeRequest` type classes would duplicate a lot of code.

Last night I [started playing](https://github.com/travisbrown/finch/tree/topic/streaming-codecs) with more generic `Encoder` and `De

[2015-06-30 15:33] travisbrown opened #336 "Provide codecs that support streaming"
It's pretty easy to support streaming JSON parsing with Jawn and `Spool`:

[code]

It'd be nice to have generic encoding and decoding type classes that support streaming. I started [a draft of this](https://github.com/travisbrown/finch/tree/topic/streaming-codecs) last night, but it still needs a lot of work.

[2015-06-30 16:14] vkostyukov commented on #335
@travisbrown Looks very interesting!

I wish we could also get rid of `EncodeAnyResponse` and `DecodeAnyRequest`.

[2015-06-30 18:44] vkostyukov opened #337 "Disable the Nothing wart"
See some context [here](https://twitter.com/vkostyukov/status/615947659824599040).

[2015-07-01 07:42] ImLiar commented on #336
By the way

It could be a little off topic, but.

We've discussed chunk upload/streaming in finch recently in our company and didnt came to any solution. AFAIK there is a `finagle-stream` which supports async HTTP codec.

Do we have some abstraction for it in finch?

[2015-07-01 14:45] travisbrown commented on #336
@ImLiar Not off-topic at all! There's now support for streaming in finagle-httpx proper, so you don't need finagle-stream (which I believe may be on the chopping block)—see e.g. the `Reader`s in `Request` and `Response`.

There's currently no abstraction for this in Finch, but it should be pretty straightforward to use `Reader` with `Request` and `Response` directly, and the streaming codecs I'm p

[2015-07-01 17:36] ImLiar commented on #336
What about some uber abstraction? Iteratee for example. I think it would be perfect.

[2015-07-01 17:42] travisbrown commented on #336
@ImLiar In my initial sketch Twitter Util's `Spool` plays a role similar to what an iteratee would provide.

[2015-07-01 17:48] vkostyukov commented on #336
We should probably take a look at [AsyncStream](https://github.com/twitter/util/blob/master/util-core/src/main/scala/com/twitter/concurrent/exp/AsyncStream.scala), which is a modern replacement for `Spool`.

[2015-07-01 17:55] travisbrown commented on #336
@vkostyukov The nice thing about `Spool` is that `SpoolSource` makes it really easy to feed from Jawn's `AsyncParser` (and presumably from other similar asynchronous parsing interfaces). I'll try to take a look at what switching it over to `AsyncStream` would involve tonight.

[2015-07-03 01:08] vkostyukov opened #339 "Let's publish a web-site compiled from docs"
@travisbrown and I discussed this some time ago. I believe this is going to be very helpful. The idea is to publish two web-sites:
1. `http://finagle.github.io/finch/docs` - scala doc
2. `http://finagle.github.io/finch/guide` - user guide (current state of the `docs` folder)

[2015-07-03 01:21] rpless commented on #339
:+1: here. My feeling is that if we go with this, we should stop doing `gh-pages` deploys with `sbt-unidoc`. Does that sound reasonable?

[2015-07-03 17:31] travisbrown commented on #339
@rpless I haven't been doing the `gh-pages` deploys—how is sbt-unidoc involved? We'll still need it to unify the subproject docs, and we'll probably want to continue to use sbt-ghpages (if that's what we're using now)—we just might want to add sbt-site for pulling everything together.

Also, @vkostyukov, do you think it's worth setting up `/stable/` and `/nightly/` subdirectories? I like this chan

[2015-07-03 17:44] vkostyukov commented on #339
@travisbrown totally! Forgot to mention that. Maybe we should go with `/stable/` and `/snapshot/` then since we don't really publish things every night?

[2015-07-03 17:48] travisbrown commented on #339
@vkostyukov Sounds good to me!

[2015-07-03 17:55] rpless commented on #339
@travisbrown you're right it is the `gh-pages` plugin. I had thought is unidoc because they have the usage [instructions](https://github.com/sbt/sbt-unidoc#how-to-publish-scala-unidoc-to-github-pages) on their readme.

My point was less about unidoc and more that I'm not sure we should be publishing the same docs to two different places. I think it could become confusing if they get out of sync.

[2015-07-03 18:11] travisbrown commented on #339
@rpless Do you mean no `/stable/` and `/snapshot/` duplication? I definitely agree that we shouldn't be publishing the same version of something to multiple places, but do think having docs for both versions would be useful.

If we do have `/stable/` and `/snapshot/` versions of everything, ideally I think we'd have `<link rel="canonical" ... />` links to the `stable` version in each `snapshot` pa

[2015-07-03 18:17] rpless commented on #339
I think we should have `stable` and a `snapshot`. You kinda need that if your a user that wants to use the snapshots. I don't think we should continue to maintain the `gh-pages` branch if we move docs to `http://finagle.github.io/finch/`.

[2015-07-04 19:29] vkostyukov opened #341 "Remove type aliases `HttpRequest` and `HttpResponse`"
See context [here](https://gitter.im/finagle/finch?at=5596cd36f3b917e705affd60).

[2015-07-04 20:09] ilya-murzinov commented on #341
I want to work on this :)

[2015-07-04 20:15] vkostyukov commented on #341
Great! @travisbrown do you think we should deprecate them first? I'm personally fine with just removing the type aliases since the API changes are pretty mechanical.

[2015-07-04 20:19] travisbrown commented on #341
Thanks, @ilya-murzinov! And yeah, I don't see a problem with this happening in 0.8.0 without a deprecation round as long as we announce the change clearly.

[2015-07-06 19:49] #341 closed

[2015-07-06 21:35] ilya-murzinov commented on #320
I'd like to work on this.
Yep, I love removing things :)

[2015-07-08 06:58] abusch opened #345 "finch-auth jar is empty"
It looks like finch-auth_2.11-0.7.1.jar as published on maven central is empty. It only contains a MANIFEST.MF file.

Edit: it looks like the source is under `src/main/` instead of `src/main/scala/`

[2015-07-08 07:20] vkostyukov commented on #345
@abusch Oh. That's pretty interesting that we haven't noticed that before. Nice catch :)

[2015-07-08 07:24] vkostyukov commented on #345
Since we're here. Looks like nobody's actually using it. Perhaps we should remove it as sub-package?

I would say we have to think about converting the `BasicallyAuthorize` filter into either `Router` or `RequestReader` and moving it into the `core` package. @travisbrown does it sounds reasonable?

[2015-07-08 07:47] vkostyukov commented on #345
I would go with something like this:

[code]

This would allow us to apply this combinator to any router (just like filter):

[code]

[2015-07-08 20:07] ilya-murzinov commented on #320
Hi, @vkostyukov, I have couple of question, it would be nice if you clarified them.
If I understand correctly, I should just replace ```Endpoint``` with ```Router[Service]``` everywhere in the code. This part is quite clear to me. Except one question: should I remove ```EndpointSpec``` from tests or it should be removed in the next release with ```Endpoint``` itself?

Then I obviously have to chan

[2015-07-09 00:27] vkostyukov commented on #227
Looks like we've found the way to do that pretty idiomatically. See #346 for the context.

[2015-07-09 00:30] #345 closed

[2015-07-09 00:31] vkostyukov commented on #345
I will publish the snapshot tonight. So new `basicAuth` combinator will be available there.

[2015-07-09 17:40] vkostyukov commented on #320
Hi @ilya-murzinov! Thanks for looking into this.

Perhaps the first good step would be to just deprecate those endpoints (`io.finch.Endpoint` and `io.finch.router.Endpoint`) in favour of `Router` while keeping the tests for now (let's remove them in 0.9.0 together with endpoints). Please, also deprecate the implicit conversions `Endpoint => Service[Req, Rep]`.

Re docs. Until #339 happens we have

[2015-07-10 16:52] #200 closed

[2015-07-10 16:52] vkostyukov commented on #200
I think this may be closed already. We're pretty good here.

[2015-07-10 16:58] trane commented on #227
Yeah, this is definitely fixed by #346. Awesome.

[2015-07-10 17:01] vkostyukov commented on #227
Yeah. @travisbrown and I talked about it. I think we will be ready to close it once there will be a way to convert `Filter` into `Router[A] => Router[A]`. So it still requires some thinking. Let's keep this opened then.

[2015-07-10 20:33] vkostyukov opened #347 "Serving static content with Finch"
It would be great to provide some means for serving static contest (files and folders) with Finch. It might be the part of the `core` package. Basically, this means that we have to provide an `EncodeResponse` instance for static content.

[2015-07-10 23:18] BenWhitehead commented on #347
I'm curious what the motivation for this feature is.  In my experience it is much better to serve static content from something like nginx (which can apply caching and much higher throughput than finagle) and leave the API side of things in something like finch.

[2015-07-11 13:29] travisbrown commented on #347
@BenWhitehead Agreed, but it can be useful in development to have a simple, self-contained application (and in some cases that may be fine for production as well).

[2015-07-11 17:32] BenWhitehead commented on #347
@travisbrown that makes sense. I just hope that finch says a great library for making APIs and doesn't expand to being a full blown web framework.

[2015-07-11 17:37] vkostyukov commented on #347
@benjumanji. Absolutely. I don't think this will require a lot of pain. It should be pretty doable with just an additional instance of `EncodeResponse`.

[2015-07-11 17:41] BenWhitehead commented on #347
@vkostyukov Hehe, I think you meant @benwhitehead :)

That's good to hear, thanks.

[2015-07-11 17:47] vkostyukov commented on #347
@BenWhitehead Oh! My bad :)

[2015-07-11 17:48] BenWhitehead commented on #347
no worries :)

[2015-07-11 19:23] penland365 commented on #347
@BenWhitehead We use Finch to serve static content right now - when we're building smaller proto-types that don't need to see high throughput, it's rather ideal. A lot of times we're spitting JSON at an i/OS / Android app, with an admin component in the Web.  Basically, we need to serve, like, *dozens* of requests per second through the web.

[2015-07-11 21:19] benjumanji commented on #347
@vkostyukov good too see that I am always on your mind :D

[2015-07-13 19:12] trane opened #348 "RequestReader .as support for Cookies"
`DecodeRequest` is helpful for `String`, but `String` is not the only included `RequestReader` in Finch. It would be nice to not have to unpack a `Cookie` value before having access to the implicit `String => A` conversions.

We can add value classes in the `PRequestReader` object accounting for `Cookie` and `Option[Cookie]` fairly easily.

The `DecodeRequest` has an `apply` method with the signat

[2015-07-13 20:09] travisbrown commented on #348
As I understand it all of the cookie's properties except for `value` are metadata that may affect the selection of the cookie (through the success or failure of the `RequestReader`), but `value` is generally the only part we need to "decode". So for example we might have `cookie("whatever").should("cookie must be version 1")(_.version == 1)` or whatever, but we won't usually need the version durin

[2015-07-13 21:30] trane commented on #348
I can't think of a particular use case other than the `value`. The motivation for this issue was to enable `.as` directly on the return value of the `RequestReader[Cookie]`, e.g. `val foo: RequestReader[Foo] = cookie("foo_cookie").as[Foo]`.

This makes the code relatively simple in the `PRequestReader` object, since it is the same as the `String` ops..

[code]

Alternatively, we could treat the `C

[2015-07-13 21:38] travisbrown commented on #348
`cookie("foo_cookie").map(_.value).as[Cookie]` isn't too bad, though.

If we did want a more concise version, I think I'd prefer a new `cookieValue` request reader over changes to the decoder.

[2015-07-13 21:57] vkostyukov commented on #348
I would agree with Travis on this. `map(_.value).as[Whatever]` sounds super reasonable to me.

[2015-07-13 22:01] trane commented on #348
Yes, I agree that `map` isn't too bad. I also think that changing the decoder is overkill, especially since we should be able to treat the main use case of a more terse `.as` simply as a special case of `String`.

I suppose that it seems like a helpful shorthand to me, especially since the metadata in a cookie seems more useful as validation than for decoding.

I imagine a helpful api to be someth

[2015-07-13 23:58] vkostyukov opened #349 "Add Router that captures the tail of the path"
Similar to `*` but capture, not just match.

Some [context from the Gitter channel](https://gitter.im/finagle/finch?at=55a41981c1adf9245132b434).

It should be pretty straightforward to implement. The only question here is how to name that router.

[2015-07-15 20:09] ilya-murzinov commented on #349
I'm working on this.

[2015-07-23 16:54] vkostyukov opened #357 "Add docs about new Petstore demo"
We need to provide at least minimal docs on this: how to run/test.

Also the link to the demo project is broken in README.

[2015-07-23 21:37] vkostyukov opened #358 "Can we get rid of `EncodeAnyResponse` and `DecodeAnyRequest`?"
It would be nice to get rid of those two abstractions.

[2015-07-23 21:39] #337 closed

[2015-07-23 23:00] travisbrown commented on #358
I don't know of a better way to map between Jackson-style reflection-based serialization and our codecs. We could move this functionality to individual subprojects that need it, but that would just buy cleaning up core at the cost of duplication.

[2015-07-25 16:56] #320 closed

[2015-07-30 05:38] vkostyukov commented on #136
Good news: I just published the finagle-oauth2 library to MC: should be synced in a couple of hours. Once it's synced we can start working on this issue.

[2015-07-30 15:31] vkostyukov commented on #232
Fixed by #360.

[2015-07-30 15:31] #232 closed

[2015-07-30 15:31] vkostyukov commented on #327
Fixed by #360.

[2015-07-30 15:31] #327 closed

[2015-07-30 15:42] vkostyukov opened #362 "Fixed request type"
We're constantly moving to the point where we promote using `RequestReader`s instead Finagle `Filter`s. Finch's idiomatic code doesn't change the reques type, but maps it into some meaninful type that matters in the domain. For example, instead of introducing an `AuthRequest` type, we can create a `RequestReader` that fetches an anuthorized user (i.e., `LoggedUser`) from the request. With that sai

[2015-07-30 15:44] vkostyukov opened #363 "Consider Cats dependency"
As discussed per #360, it would be nice to reuse well-know primitives that community share. I'm completely sold for introducing a Cats dependency in 0.9 (and polish it in 1.0).

[2015-07-30 15:48] yanana commented on #363
😃

[2015-07-30 16:22] penland365 commented on #363
I knew it was just a matter of time before a certain someone found a valid use for introducing cats :)

:+1:

[2015-07-30 18:37] vkostyukov opened #364 "Replace WarRemover with scala-abide?"
I'm a bit tired of WarRemover's failures a la `tail of empty list` in the CI. Any thouhts on migrating off to [scala-abide](https://github.com/scala/scala-abide)?

[2015-07-30 18:46] rpless commented on #364
I'm not against trying it out, but it hasn't been published anywhere yet. I think we should wait at least until we can pull it from maven central or something like that.

[2015-07-30 18:46] vkostyukov commented on #364
@rpless Oh, I didn't know that! Let's plan this for the 0.9 release.

[2015-07-31 05:18] vkostyukov commented on #136
I've started working on this.

[2015-08-03 01:45] vkostyukov opened #368 "Add support for jfc"
It would be nice if we could ship [jfc](https://github.com/travisbrown/jfc) support in 0.8.0.

[2015-08-03 09:36] ilya-murzinov commented on #368
I will work on this, if you don't mind.

[2015-08-03 14:41] travisbrown commented on #368
I got started on this this weekend, and just wanted to add a benchmark, so it might be easiest for me to wrap it up, @ilya-murzinov (especially since jfc is still unpublished and a moving target). Thanks, though—I'd definitely like to hear your thoughts if you take a look at jfc.

[2015-08-03 15:53] ilya-murzinov commented on #368
Okay :)

[2015-08-03 21:58] vkostyukov opened #371 "Rename `Endpoint.apply` to `Endpoint.run`"
This is a small step towards cats.

[2015-08-03 22:29] vkostyukov commented on #136
I'm not quite sure yet what to do here. So I'm moving it to the next milestone.

[2015-08-04 16:35] vkostyukov commented on #297
This is not fixed yet. We still have to decide what to do with imports. I just checked and it looks like scalastyle doesn't really have a rule for that.

[2015-08-04 17:36] #349 closed

[2015-08-05 00:17] vkostyukov opened #375 "Idea: Error handling"
Instead of writing a Finagle filter we could provide a method `handle` on `Router` with the following signature:

[code]

... and do something like this:

[code]

[2015-08-05 08:42] ImLiar commented on #375
Cool! We already use something like that, but for twitter `Service`, since we works with it at the end.

[2015-08-06 00:13] vkostyukov opened #378 "The entire finch-core package should be available by single import"
Basically, I want to follow the rule: separate sub-project = separate import. The `core` package should be available by `import io.finch._`, while (for example) jfc support should be enabled as `import io.finch.jfc`.

[2015-08-06 16:25] vkostyukov opened #379 "Clean up toService cases"
Since it's already possible to compose `Router` with `RequestReader` (see #334 ) as well as with functions `A => B` and `A => Future[B]`, we don't need the following cases:

* `Future[A: EncodeResponse]`
* `Future[Response]`
* `Future[RequestReader]`

[2015-08-06 18:47] vkostyukov commented on #357
Fixed in #377.

[2015-08-06 18:47] #357 closed

[2015-08-06 18:48] vkostyukov commented on #368
Okay. Everything is ready for the 0.8 release (even the release notes are written!). This is the only ticket left that I want to close in this milestone.

[2015-08-07 02:39] vkostyukov opened #381 "Respond 501 by default for any unhandled exception"
When converting `Router` to `Service` we should rescue any unandled exception to 501 so clients will see an HTTP response, not the closed connection.

[2015-08-07 07:54] ilya-murzinov commented on #381
I'd like to work on this.

[2015-08-10 04:06] #362 closed

[2015-08-10 15:50] vkostyukov commented on #368
Fixed by #369.

[2015-08-10 15:50] #368 closed

[2015-08-11 05:26] vkostyukov opened #382 "Fix flakey test"
The is a flakey test in "test:it" target for petstore. I belive increasing a timeout should help there.

[2015-08-11 05:27] vkostyukov commented on #379
As part of this issue, we can also cleanup the code arrond `ToService` type-class, since it might be removed in 0.9.

[2015-08-11 05:28] vkostyukov opened #383 "Improve the implementation of Mapper"
We should probably avoid using the magent patter. @travisbrown had some thoughts on how to improve it.

[2015-08-11 05:30] vkostyukov commented on #371
I would vote for changing migrating from `trait` to `final case class Router(run: Input => ...)` so we could easily provide all the methods via type-classes from Cats.

[2015-08-11 17:35] vkostyukov opened #384 "Rename Router to Endpoint"
@travisbrown and I discussed offline and agreed that it's time to rename `Router` to `Endpoint` (and peraphaps put it into `io.finch.Endpoint`).

[2015-08-11 17:55] vkostyukov commented on #371
This relates to #384.

[2015-08-12 07:00] vkostyukov commented on #378
This relates to #384.

[2015-08-12 07:39] vkostyukov opened #386 "Publish performance results"
Woud be nice to compare `finch+circe` vs. `finagle+jackson` and publish it to README.

[2015-08-12 15:25] vkostyukov commented on #386
We should probably include parsing into the benchmarks.

[2015-08-12 19:16] vkostyukov opened #387 "Add section to the docs on how to use TwitterServer with Finch"
It's pretty intuitive but still we need to say that's explicitly.

[2015-08-14 15:01] vkostyukov opened #388 "Finish the TodoBackend example and publish it"
[This version](https://github.com/vkostyukov/finch-101/blob/master/src/main/scala/i/f/workshop/finch/Todo.scala) is almost finished.

[2015-08-18 06:19] vkostyukov commented on #371
That's [not quite possible to do that while keeping lazines](http://stackoverflow.com/questions/32064375/magnet-pattern-and-overloaded-methods). We should probably use something different than "Magnet Patten". I recall @travisbrown had some ideas about that.

[2015-08-19 01:33] vkostyukov commented on #379
This has been fixed in https://github.com/finagle/finch/commit/2580194663974ec92eb1453c9e7085cdfaed6fcb.

[2015-08-19 01:33] #379 closed

[2015-08-19 02:38] vkostyukov opened #390 "Testing Endpoints"
As asked [on the Gitter channel](https://gitter.im/finagle/finch?at=55d32e8a4f6c9d3018316d5d), it would be nice to provide a meaning for testing Finch endpoints (routers).

The idea I'm suggesting relies on types we expose from endpoints (that's a very good excuse to have them) and allows the users to treat endpoints as a regular functions so they could be easily tested.

Here is the example.

[co

[2015-08-22 15:26] mfirry commented on #235
Preliminary results: https://www.techempower.com/benchmarks/previews/round11/

[2015-08-31 05:41] #384 closed

[2015-09-02 14:33] travisbrown commented on #363
I've published an initial 0.1.0 release of [catbird](https://github.com/travisbrown/catbird), which provides cats type class instances for Twitter futures and other types.

[2015-09-04 08:38] ilya-murzinov commented on #388
Hi @vkostyukov!
What do you mean by "finish"?
The only thins I noticed missing is "getTodo" endpoint for single Todo.
And maybe some error handling.

So I should just fix this and then add new project "todo" to Finch?

[2015-09-09 09:38] vkostyukov opened #397 "An endpoint that dispatches requests based on the header value"
As [discussed on Gitter](https://gitter.im/finagle/finch?at=55ef76a3760979e727e9314d), it would be nice to be able to dispatch requests based on the header values. I'm not quite sure how the API should look like, but the `HeaderMatcher` implementation would be something like

[code]

[2015-09-17 03:34] vkostyukov opened #398 "Support UUID routers/endpoints"
As discussed [on Gitter](https://gitter.im/finagle/finch?at=55fa30adc588a0de6edee874), it would be great to support UUIDs as they apply to routers/endpoints out of the box.

[code]

Also, we should not forget about tail extractors: `uuids`.

[2015-09-18 20:39] #398 closed

[2015-09-24 07:25] ImLiar commented on #347
@vkostyukov
How about to make this feature as not a part of `finch-core`, but subproject. Something like `finch-static`. In that way we won't pollute "REST-directed" core API with serving of static files.

[2015-09-24 17:27] vkostyukov commented on #347
@ImLiar yep. Sounds like a good idea. Although, it'd be a pretty small pacakge: basically just an instance of `EncodeResponse`.

[2015-09-25 21:42] vkostyukov opened #402 "Migrate fileUpload/params to the brand new Finagle API"
Finch should be free off Netty 3 types. Good news: Finagle supports [an API for working with the multipart/form-data](https://github.com/twitter/finagle/commit/11e383a15934d70440cf6541c5de36d6e717be3b) content types. We should migrate once the new Finagle version is published.

[2015-10-05 21:24] vkostyukov opened #405 "Enriched version of Endpoint with "safe" operations"
One of the downsides of HTTP is that everything is string-based (headers in particular). Thus it's prety easy to mess things up and type `ConentType` instead of `ContentType` and so on. What we can do in order to make it safier is to provide an implicit class `EndpointOps` (or something like) with "safe" version of `withHeader` methods for particular cases.

Let's discuss the list of methods we wa

[2015-10-05 22:45] amartinsn commented on #405
I really like the idea of having enriched Endpoints. The motivation on my scenario is because we need to set `cache-control` headers for specific endpoints, and doing that manually is quite boring. At the same time, there are several possible variations of cache-control configuration (http://www.mobify.com/blog/beginners-guide-to-http-cache-headers/), which makes it difficult to come up with a met

[2015-10-06 23:11] vkostyukov opened #406 "Allow users to choice whether or not null keys should be dropped"
Both Argonaut and Circe support dropping null keys from the JSON output. Althoguh, the current implementation of `EncodeResponse`s from `io.finch.argonaut._` and `io.finch.circe._` is to keep nulls. What we can do is to provide an inner object `dropNullKeys` for both Argonaut and Circe that defines an implicit instance of `EncodeResponse` type class that actually drops null keys.

[2015-10-07 17:30] travisbrown commented on #406
Given [this question](https://gitter.im/travisbrown/circe?at=5615562a7e53d02c09d05e48) from @amartinsn, it might make sense to allow the user to provide a custom `Printer` (potentially for both Argonaut and circe).

[2015-10-08 17:36] vkostyukov opened #408 "Fix a bug in basicAuth"
@roanta pointed me a bug in `basicAuth` combinator when `MatchError` is thrown at runtime whenever authentifcation is uncucessful.

[2015-10-12 15:25] travisbrown opened #411 "Scaladoc hygiene for base package"
As more stuff gets moved directly under `io.finch`, its API docs are getting a little unwieldy. It'd be nice to make prioritization traits `private[finch]` so they don't show up in the docs (their methods still will, though), and possibly even to organize the definitions using Scaladoc groups (see e.g. [how I'm using them in circe](https://github.com/travisbrown/circe/blob/master/core/shared/src/m

[2015-10-12 17:10] vkostyukov commented on #411
Great idea!

[2015-10-13 06:08] vkostyukov commented on #386
Fixed by #412.

[2015-10-13 06:08] #386 closed

[2015-10-15 04:19] rpless commented on #402
@vkostyukov I'm preparing a PR for this. Would you prefer `fileUpload` and `fileUploadOption` return a `Multipart` or a `Multipart.FileUpload`? If it returned the `FileUpload`, we would `concat` all of the content `Buf`s of the `FileUpload`s in the `Multipart`.

[2015-10-15 04:27] vkostyukov commented on #402
Thanks for looking into this @rpless! I think we should return the _first_ `Multipart.FileUpload`. Perhaps we should also think about adding `fileUploads: RequestReader[Seq[Multipart.FileUpload]]`.

[2015-10-15 04:36] rpless commented on #402
Hmm, maybe I'm misunderstanding the `Multipart` class. Does the `files` field of `Multipart` map a file name to a list of pieces of the file or is it something else? My thinking was that if the former was the case then we would want to merge all of those together into one file.
Basically as I have it now, you would call `fileUpload("some-file-name") and that would extract a single `FileUpload` tha

[2015-10-15 04:56] vkostyukov commented on #402
Yeah. It basically means that a user can uppload a lot of files (as we as pass query string params) under the same name. So taking _the first one_ of them sounds like a workable approach for me.

[2015-10-15 18:16] #402 closed

[2015-10-19 16:13] vkostyukov commented on #136
Fixed in #419.

[2015-10-19 16:13] #136 closed

[2015-10-23 21:19] vkostyukov opened #422 "Make Mapper accept both Scala Futures and Twitter Futures"
We can make a conversion (powered by Bijection) happen automatically in `Mapper` so users won't be worring about that.

[2015-10-28 13:23] jparkie commented on #422
Can I solve this issue? :)

[2015-10-28 16:13] vkostyukov commented on #422
Hey @jparkie! You're absolutelly welcome to work on this. Although, I can't promise we will merged this in before 1.0 (the current milestone is 0.8.5/0.9.0).

[2015-10-28 16:34] jparkie commented on #422
That is fine. :) By Bijection, do you mean Twitter's Bijection library?

[2015-10-28 16:35] vkostyukov opened #423 "Add Endpoint.as[A] method"
The idea is to be able to reuse endpoitns that construc some instances from both query string params and path params. Here is a quick example:

[code]

This was discussed [on Gitter](https://gitter.im/finagle/finch?at=5630f6be90cea42a0583e12d).

[2015-10-28 16:39] vkostyukov commented on #422
Yep. [This](https://github.com/twitter/bijection/blob/develop/bijection-util/src/main/scala/com/twitter/bijection/twitter_util/UtilBijections.scala) gives us bijections to convert Scala Future to Twitter Future and vise versa.

[2015-10-28 16:43] travisbrown commented on #422
From what I remember of conversations with adopters who are using both futures heavily (e.g. SoundCloud, Tapad, etc.), it sounded like the consensus was that it's least painful to have clearly defined boundaries between the two—I'm not entirely sure allowing users to mix and match at the level proposed here is desirable.

It's also a bit of a shame to bring on a ~2 MB dependency for the sake of a

[2015-10-28 16:54] vkostyukov commented on #422
Thanks @travisbrown! That makes a lot of sense to me. Do you think it'd be ok to provide it as a part of separate package?

[2015-10-28 17:49] travisbrown commented on #422
@vkostyukov I don't see any reason not to. If it turns out that it actually does work well for people, it could always be moved into core.

[2015-10-29 14:18] jparkie commented on #422
I agree that introducing Bijection just for converting Scala Futures to Twitter Futures is cumbersome with the 2MB size. However, I find it useful to use Scala Futures, so I think porting the specific Bijection for Futures as an implicit import for may be nice for the core. Unless, there are very distinct uses for interoperability to require a new Finch package.

[2015-10-30 07:09] #375 closed

[2015-10-30 07:10] vkostyukov commented on #381
Finagle 6.31 will support that [out-of-the-box](https://github.com/twitter/finagle/commit/571bbe4a0168f582d725698ca8880321d465618d).

[2015-10-30 07:10] #381 closed

[2015-10-31 19:01] #408 closed

[2015-11-01 16:31] #423 closed

[2015-11-01 17:52] ilya-murzinov commented on #388
Sooooo? ;)

[2015-11-02 18:49] vkostyukov commented on #388
Hi @ilya-murzinov! Sorry for the deley on this. "Publish" here means to get Finch implementation listed on http://www.todobackend.com. That means we have to pass all the tests and actually _serve_ it somewhere (i.e., Heroku).

[2015-11-06 16:39] rpless commented on #298
All references to Netty in `FileUpload` were removed in b62c0db46d9830158bfd8d18e64a8710c55b804e. I think that may be all of the references to Netty.

[2015-11-06 16:47] vkostyukov commented on #298
Right. Thanks @rpless!

[2015-11-06 16:47] #298 closed

[2015-11-10 01:50] vkostyukov commented on #378
As part of this we might think about moving `RequestReader`s under the `io.finch._` package.

[2015-11-10 01:54] vkostyukov commented on #227
I think we can close this now given that Finch is moving/moved away from custom request types and filters to something like `Endpoint[A] => Endpoint[A]`.

@trane feel free to reopen this if it still concerns you!

[2015-11-10 01:54] #227 closed

[2015-11-10 01:56] vkostyukov commented on #149
Seems that we probably don't need this anymore: we've moved to slighlty different path - heavily using combinators API.  Close this for now.

[2015-11-10 01:56] #149 closed

[2015-11-10 01:57] vkostyukov commented on #190
Closing this since it's no longer a Finch idiomatic approach.

[2015-11-10 01:57] #190 closed

[2015-11-10 01:58] vkostyukov commented on #382
This is a done deal.

[2015-11-10 01:58] #382 closed

[2015-11-12 12:17] akiradeveloper commented on #347
If I build S3-compatible storage with finch, GET Object API should respond with file content. But since file could be larger than memory equipped, EncodesReponse that is now strict is not a good abstraction. So I will go with directly responding file stream with finagle.http.Response first. Hope that EncodeResponse becomes more abstract.

[2015-11-15 22:25] #378 closed

[2015-11-15 22:25] #297 closed

[2015-11-15 22:28] vkostyukov opened #443 "Fix flaky test in OutputSpec"
The "propagate headers to response" test is quite flaky. It looks more like a bug in Finagle's `HeaderMap`.

[2015-11-16 23:52] vkostyukov commented on #387
Done as part of [Best Practices](https://github.com/finagle/finch/blob/master/docs/best-practices.md).

[2015-11-16 23:52] #387 closed

[2015-11-17 01:55] vkostyukov commented on #443
Fixed by #447.

[2015-11-17 01:55] #443 closed

[2015-11-17 03:58] vkostyukov commented on #287
Done in #400.

[2015-11-17 03:58] #287 closed

[2015-11-18 01:21] akiradeveloper opened #454 "handle on coproduct endpoint"
Say in real application an endpoint wrapped by exception handling is of some coproduct type `A :+: B`. And if we apply `handle` that return type `C` as the output value then the resulting endpoint is of type `Endpoint[Object]` because the type of `handle` is `handle[B >: A](pf: PartialFunction[Throwable, Output[B]]): Endpoint[B]`.

pseudo code:
[code]

Since defining encoder to `Object` is meaning

[2015-11-18 01:29] vkostyukov commented on #454
You should be fine as long as you're mapping `Throwable`s to `Output.Failure`. That said, the following works as expected:

[code]

Although, as you probably noticed, there is no convinient way of rescuing the failed _coproduct_ endpoin, as long as you know how to construct Shapeless' `Coproduct`s (hint: it's quite easy). So I'd advice to move the rescuing logic to a specific endpoing you're inter

[2015-11-18 01:36] vkostyukov commented on #363
`Endpoint` now used `cats.Eval` for its lazines over futures (see #453).

[2015-11-18 01:36] #363 closed

[2015-11-18 01:44] akiradeveloper commented on #454
So, you mean `handle` is like `getOrElse(default)` so the value to get and the default value should be of the same types? Too strong restriction.

That's not what I want.

In S3, error response is always XML. and my design is that the combination of endpoints each corresponding to the REST API of S3 throws exception (e.g. mys3.NoBucket()) when some problem occurs (e.g. specified bucket is not foun

[2015-11-18 02:06] vkostyukov commented on #454
Not sure if I follow. If your underlying API throws exception, it's totally up to you to decide what to do with that: you can handle it and return the remote user some HTTP response with failure or you can try recover from it using either `Endpoint.handle` or `try-catch` or `Future.handle` or anything else that allows you to map an exception to a healthy response.

What should you return to the en

[2015-11-18 02:33] akiradeveloper commented on #454
See this. `e` is `mys3.NoBucket` and it converts to xml and then returns it. `api` is an Endpoint of Coproduct. So the resulting type of `endpoint` is `Endpoint[Object]` that matters now because there is no meaningful encoder `EncodeResponse[Object]`.

[code]

[2015-11-18 03:01] vkostyukov commented on #454
The point is you don't need to return `Payload` from handle in order to _encode_ the error content into into an HTTP reponse. If you're on Finch 0.9.2-SNAPSHOT you can do the same tick in a more idiimatic Finch way:

[code]

You also need to tell Finch on what HTTP status you want to map this exception (by using `handle` of course):

[code]

[2015-11-18 18:25] vkostyukov opened #457 "Wrap HTTP request with our own version to support lazy decoding of multipart data"
As per discussion [on Gitter](https://gitter.im/finagle/finch?at=564cbcc375346dea4133464d).

[2015-11-18 18:37] mandubian commented on #457
I'll try to propose something on this issue as we have found it in my company and are directly impacted

[2015-11-18 19:56] vkostyukov commented on #406
Fixed by #456.

[2015-11-18 19:56] #406 closed

[2015-11-18 20:20] vkostyukov commented on #457
Thanks @mandubian! Feel free to ping me here or on Gitter if you don't find a time - I'm happy do this by myself (to unblock you).

[2015-11-19 00:28] vkostyukov opened #459 "Fix RequestReader[String].as[CaseClass]"
Reported [on Gitter](https://gitter.im/finagle/finch?at=564d0a59167ee3a91d43d53a):

[code]

[2015-11-19 04:09] vkostyukov commented on #457
As discussed on gitter, @mandubian and I are agreed that this should be fixed on the Finagle side. I went ahead and put togher an internal PR that adds a `lazy val multipart: Multipart` on `Request`. I think to keep this ticket opened until we release Finagle 6.31 and upgrade Finch to it.

[2015-11-19 06:06] vkostyukov commented on #454
I'm going to close this for now. Feel free to ping me on Gitter channel, if you still have any questions about error handling.

[2015-11-19 06:06] #454 closed

[2015-11-19 12:53] akiradeveloper commented on #454
Now I see that since Output.Failure derives from Output[Nothing] so the B in the result type of `handle` won't become Object because Nothing is at the bottom of type hierarchy.

[2015-11-19 18:21] #459 closed

[2015-11-20 11:10] numesmat opened #462 "Issue with file upload"
I encountered strange error when trying to use fileUpload and fileUploadOption reader. It is not a compilation error but rather unexpected exception while handling the request

Here is the code:
[code]

And here is the appropriate curl request
[code]

Sending this request leads to the following exception:
[code]

And the really weird thing starts here. It is enough to swap the parameters in reader

[2015-11-20 16:18] vkostyukov commented on #462
Thanks @numesmat! This is a known issue (see #457) that has been reported [a couple of days ago](https://gitter.im/finagle/finch?at=564cbcc375346dea4133464d). We agreed that it should be fixed on the Finagle side and I'm workin on a fix at this very moment (it's already on review internally).

I will keep this open until we upgrade Finch to Finagle 6.31 to make sure it's fixed.

Thanks again! This

[2015-11-20 16:18] vkostyukov commented on #457
I'm going to close it as duplicate to #462.

[2015-11-20 16:18] #457 closed

[2015-11-22 18:12] nabezokodaikon opened #466 "Endpoint document "Path-based Composition" type miss?"
Run example code failed.
[code]

[2015-11-22 18:23] vkostyukov commented on #466
It's a typo. Should be `=` instead of `=>`.

[code]

[2015-11-22 18:36] nabezokodaikon commented on #466
OK. Thank you.
I was able to operate confirmation.

[2015-11-22 23:56] #466 closed

[2015-11-23 21:01] vkostyukov commented on #462
The [mutipart patch](https://github.com/twitter/finagle/commit/ed5b0e022ed824737a34b23cf287ba1f5a6df7d7) is already in Finagle's master. We'd only need to wait for finagle release.

[2015-11-25 16:29] nabezokodaikon opened #471 "How do you respond to static HTML?"
If  trying to response to static HTML, double quotation marks at the beginning and the end it has also been output.
Please tell me how to respond correct static HTML.

[code]

Response is

"
Hello
"

[2015-11-26 09:39] nabezokodaikon commented on #471
Solved.

[code]

[2015-11-26 09:39] #471 closed

[2015-12-04 19:54] #462 closed

[2015-12-06 08:30] vkostyukov opened #481 "Make content type an actual type"
For now we only deal with strings, but it would be nice to make them actual types to make it less error prone. This issue is to track the progress in https://github.com/finagle/finch/pull/329.

[2015-12-08 22:52] matteobanerjee opened #483 "Bug with body reader/Buf.Utf8 in finch 0.9.2"
This is a bug that hit us in a unit test when upgrading to finch 0.9.2. It though it may not have an impact on real usage:

When setting the `com.twitter.finagle.http.Request` body to a `com.twitter.io.Buf.Utf8` the `body` request reader adds an extra byte at the end of the byte array. This only appears to be the case with certain string, though JSON seems to be affected. The problem looks to be a

[2015-12-08 23:04] vkostyukov commented on #483
Thanks @matteobanerjee! This is indeed a good bug report. There was a recent change for [body readers](https://github.com/finagle/finch/pull/474), although I'm not sure how it my cause this.

[2015-12-08 23:36] vkostyukov commented on #483
It turns out to be a Finagle bug:

[code]

I'm going to file an internal issue so we could fix it. Although this doesn't mean we shouldn't apply a workaround in Finch until the next version of Finagle is released.

[2015-12-08 23:40] vkostyukov commented on #483
I'm wondering if we could do something like w/o allocating much. Let me run some benchamrks.

[code]

[2015-12-09 00:21] matteobanerjee commented on #483
Great, thanks!

[2015-12-09 20:21] cruhland opened #484 "Endpoint using `fileUpload` responds with a 500 status"
This was discovered when testing that a 400 status is received for sending a non-multipart request body to an endpoint that is expecting multipart. See [this gist](https://gist.github.com/cruhland/7b40eef64c257e68ba6c) for a minimal test case.

The multipart parsing code in Netty throws an exception which should be converted into a 400 status by Finch, but somehow escapes. Attempting to deal with

[2015-12-09 20:59] vkostyukov commented on #484
Thanks for the bug report @cruhland! You're right, we should explicitly require the request to be a multipart. One way of doing that is to use Netty's [`HttpPostRequestDecoder.isMultipart`](https://github.com/netty/netty/blob/3.10/src/main/java/org/jboss/netty/handler/codec/http/multipart/HttpPostRequestDecoder.java#L145-L151) method. And this definetelly should be fixed on the Finagle side. Altho

[2015-12-09 21:51] vkostyukov commented on #483
So I put together a fix and I'd say that this bug is completely Finch's fault given that `ButeBuffer.array()` doesn't guarantee to be the exact version user sees from different API. So, the fix I proposed fixes that.

[2015-12-10 04:04] vkostyukov commented on #483
Fixed by #485. Thanks @matteobanerjee for reporting! You can grab this fix as part of 0.9.3-SNASPSHOT.

[2015-12-10 04:04] #483 closed

[2015-12-10 04:05] vkostyukov commented on #484
What exception Netty throws when request is not multiaprt?

In it's current state the following code works on Finagle 6.31:

[code]

[2015-12-10 04:22] vkostyukov opened #486 "finch-jackson seems to be broken in 0.9.2"
People keep reporting that on Gitter. Here is some of the reports: [1](https://gitter.im/finagle/finch?at=56682a66accacb90489240d6), [2](https://gitter.im/finagle/finch?at=56677f39accacb9048922b63).

[2015-12-10 22:00] cruhland commented on #484
There are different exceptions, depending on the body contents. With `.buildPost(Buf.Utf8("&"))`, the stack trace is:

[code]

With a Zip file as the body contents (my original use case), the stack trace is:

[code]

The general problem seems to be that Netty's `HttpPostRequestDecoder` can throw exceptions on arbitrary (hence non-multipart) input.

[2015-12-11 17:12] #484 closed

[2015-12-15 20:23] vkostyukov commented on #263
I was tying to summarize my thoughts on this in Finch's best practices (see [Big Picture](https://github.com/finagle/finch/blob/master/docs/best-practices.md#the-big-picture)). TL;DR I wish we could keep Finch in its current state (what I call "vanilla Finch") and not layer anything on top it. Although, because of its pretty generic abstractions, it should be possible to build any kind of _face_ (

[2015-12-15 20:30] ImLiar commented on #263
@vkostyukov Yea, I believe we can close it.
I'll try to make some article with a bunch of examples of how we're using finch in our projects with some abstractions over it after 1.0 release with some stable API, just to make sure that it'll be actual for some time.

[2015-12-15 20:33] vkostyukov commented on #263
Thanks @ImLiar! Feel free to open a PR within a simplified version of CRUD-style controllers - I think it would be super helpful for newcomers. Also, having this example live in the same repo as finch-core will ensure that it's always aligned with the latest API.

[2015-12-15 20:33] #263 closed

[2015-12-17 05:30] jparkie commented on #422
I actually have been quite busy, and I don't I can dive into Finch any time soon, so if anyone else wants to solve this issue, please do! :)

[2015-12-18 10:46] ImLiar opened #497 "Glopart in adopters list"
https://github.com/finagle/finch/pull/496

[2015-12-18 20:33] #497 closed

[2015-12-21 00:16] vkostyukov commented on #486
Hope that it's fixed by #499.

[2015-12-21 00:16] #486 closed

[2015-12-21 00:17] vkostyukov commented on #358
Done in #499.

[2015-12-21 00:17] #358 closed

[2015-12-22 19:58] vkostyukov opened #503 "An Output API for empty responses"
@tarossi raised [this conversation](https://gitter.im/finagle/finch?at=56796c4b69a89a8f552fae15) on Gitter. Looks like the `Output` API is mising a big part on representing an _empty_ responses - responses that doesn't carry any payload/failure and are able to substitue `Output[A]`.

One way to achive that would be think about a third case `case class Empty(status: Status) extends Output[Nothing]`

[2015-12-22 20:06] vkostyukov opened #504 "Supports Cat's Xor as an Endpoint result"
As [discussed](https://gitter.im/finagle/finch?at=5679ab54653b30761d75be97) on Gitter. It would be useful to support endpoints that return `Xor[A, B]` representing a failure and success case.

[2015-12-22 20:09] jpfuentes2 commented on #503
Is it much more involved than what you described above? I could take a stab at it if not.

[2015-12-22 20:13] vkostyukov commented on #503
I'd say we'd need to think about classifying `Payload`s, `Failure`s and `Empty` responses by HTTP status codes. So it's relatively straightforward until you get to the `Outputs.scala` file where all the `Ok`, `NotFound`, etc live. Although, I'm not sure we'd need to provide a high-level API for `Empty` responses. It's quite easy to call `Output.Empty(Status.NoContent)`.

That said, feel free to st

[2015-12-23 05:09] vkostyukov commented on #503
Thinking about this more, I think I'd vote for moving both `NoContet` and `Accepted` (by reasons featured in this [blog post](https://benramsey.com/blog/2008/04/http-status-201-created-vs-202-accepted/)) to `Empty` (no payload or failure) as well as all the 3xx responses. I think these are reasonable defautls.

[2015-12-23 05:19] jpfuentes2 commented on #503
Definitely. Btw, have you done any digging into spray/akka-http's internals for these types of things? I know they've done a lot around type safety for headers (general are typed) as well as status codes and expected empty entities.

[2015-12-23 05:54] jpfuentes2 commented on #503
This is also some interesting reading, @vkostyukov: http://blog.ploeh.dk/2013/04/30/rest-lesson-learned-avoid-204-responses/.

I do think adhering to HTTP is more important. I'll submit a PR soon!

[2015-12-23 08:06] jpfuentes2 commented on #503
Are we sure we want to use `Empty` for `202 Accepted` given [this?](http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.2.3)

[2016-01-09 20:08] vkostyukov commented on #347
Thinking about this more, it looks like we already have everything is needed to make this happen (in an non-blocking way):

[code]

[2016-01-09 20:11] #347 closed

[2016-01-09 22:57] vkostyukov commented on #503
@jpfuentes2 any progress on this? I'm happy to grab this issue, if you haven't started yet.

[2016-01-10 09:16] vkostyukov commented on #347
Documented it [here](https://github.com/finagle/finch/blob/master/docs/cookbook.md#serving-static-content).

[2016-01-21 18:46] Saheb commented on #422
Can I grab this one?

[2016-01-21 23:21] #503 closed

[2016-01-22 21:54] vkostyukov commented on #422
@Saheb Thinking about this more, I think I'd agree with Travis on this - we shouldn't appreciate mixing of futures at this level. I've already put a [cookbook recipe](https://github.com/finagle/finch/blob/master/docs/cookbook.md#converting-between-scala-futures-and-twitter-futures) on how to convert between different type of futures. Although, it think I'd probably agree that this kind of function

[2016-01-23 15:42] Saheb commented on #422
@vkostyukov - Correct me if I didn't understand you correctly. Implement using simple functions instead of adding a dependency on bijections. I am not sure what you mean when you say subproject, do you mean to have a seperate package for those who need such kind of functionality?

[2016-01-24 16:40] vkostyukov opened #510 "Negotiate content-type"
As discussed [on Gitter](https://gitter.im/finagle/finch?at=56a3c29b6b6468374a09197e), I'd be useful to pick a response's content-type depending on request's content-type.

[2016-01-27 18:20] vkostyukov opened #511 "Eliminate meaningless to-string conversion"
When it comes to Netty -> Finagle -> Finch, the HTTP body lifecycle is `ChannelBuffer` -> `Buf` -> `String` -> `CaseClass`. If we'd be able to teach jawn to work with `Buf` instead of `String`, we'd be able to go directly from `Buf` to `CaseClass` thereby eliminating that meaningless to-string conversion, which in fact alllocates O(n^2) bytes.

This would be a huge win for Finch users, but this re

[2016-01-29 18:22] vkostyukov opened #513 "Replace ValidationRule with Cat's Validated"
I don't have a particular solution in mind, but I think it's worth to have an opened ticket for this before we forget. I eagerly want to replace Finch's data types with the ones community share and understand. `ValidationRule` is a good candidate to be reaplced (in some way) with Cat's [`Validated`](http://non.github.io/cats//tut/validated.html).

[2016-01-29 18:28] vkostyukov opened #514 "Very basic Buf-based streaming"
This work is started by @ImLiar in #498, but needs to be cleaned up before merging so I'm creating an standalone ticket for this. I think, it might be a good idea to

1. Make it part of `finch-core` given that Finch aims for first-class streaming support
2. Provide `asyncBody: RequestReader[AsyncStream[Buf]]`
3. Allow `Endpoint[AsyncStream[Buf]]` to be converted into a `Service`
4. Provide an exam

[2016-01-30 05:59] akiradeveloper commented on #514
Hi, I read the @ImLiar's code a bit and the type is `AsyncStream[Option[Buf]]` instead of `AsyncStream[Buf]` in your comments. To know the end of the stream I guess it should be wrapped by Option am I right?

[2016-01-30 08:27] akiradeveloper commented on #514
How do you think we can add status code and http headers to the response?
I have to modify @ImLiar 's PoC code so the response can be configurable for these values.

[2016-01-30 08:40] akiradeveloper commented on #514
Not sure this is the way you want but just imported @ImLiar 's code based on the master.

stream type has been changed to `AsyncStream[Buf]` as in your comment.

I guess that Http11 and Ok aren't used actually because they are going to be overwritten by finch?

[code]

[2016-01-30 08:42] akiradeveloper commented on #514
@vkostyukov  If you like this patch, I will send you PR.
And in that case do I need to add signature of @ImLiar ? (because he is the original author of this code)

[2016-01-30 20:50] vkostyukov commented on #514
This looks great @akiradeveloper!

For `asyncToResponse ` to could simply that using the `Future` returned from `foreachF`. According to [the docs](https://github.com/twitter/util/blob/develop/util-core/src/main/scala/com/twitter/concurrent/AsyncStream.scala#L83-L91), this future will be satisfied once stream is ended. So we could do something like:

[code]

Please go ahead and submit a PR so coul

[2016-01-31 07:05] vkostyukov commented on #514
Thanks again @akiradeveloper, @ImLiar! Closing this.

[2016-01-31 07:05] #514 closed

[2016-01-31 08:46] ImLiar commented on #504
We've made the same thing with scalaz `\/` in glopart. I could port some code here.

But it would be nice to know how to work with left branch in the end, when we fold it it `Response`. I mean, should we just apply encoder to an error? And what about HTTP status codes?

[2016-01-31 08:56] vkostyukov commented on #504
@ImLiar that's a great question actually. I probably need think this over, but for now I imagine this to be something like this:

[code]

So basically this should work fine (not need to change `io.finch.internal.*`) as long as we have `EncodeResponse` defined for `Xor[A: EncodeResponse, B: EncodeResponse]`.

[2016-01-31 09:58] ImLiar commented on #504
Still need a folder for `Xor[Response, Response] => Response`, but yea, I got it.

[2016-01-31 22:21] ImLiar commented on #504
Well, it would be nice to pick `Content-Type` from instance of `EncodeResponse` which is applied to `A` or `B`, depending on `Xor` content. But with current API it seems impossible:

[code]

[2016-02-02 00:20] vkostyukov opened #520 "Enable streaming for JSON arrays"
We do support some pretty basic `Buf`-based streaming in Finch via `AsyncStream[Buf]`. Let's make it stream JSON objects. The user-facing API I imagine is something like:

[code]

To solve this, we need a nice way of distinct encoders (JSON vs. XML vs. whatever). Perhaps, #518 will give us such.

[2016-02-11 18:55] vkostyukov commented on #264
I started working on this already. Perhaps I can provide a very basic for Circe in 0.10.

[2016-02-16 02:05] #254 closed

[2016-02-16 02:05] #397 closed

[2016-02-17 18:12] vkostyukov opened #528 "Add new package finch-generic"
I think it makes sense to provide `finch-generic` covering generic derivations on endpoints in Finch. As for today we can build endpoints from query string params (we used to build request readers in the same way):

[code]

I think I'm in favor of Circe-style API for this:

[code]

Would be also nice to support derivation from path segments.

[2016-02-17 18:15] vkostyukov opened #529 "Refactor io.finch.items"
They are kind of ugly right now. Let's do better.

[2016-02-18 02:20] lukewyman commented on #411
I'd like to take this one.

[2016-02-19 06:11] vkostyukov commented on #411
This is great @lukewyman! Let us know if you need any help with that.

[2016-02-19 18:24] lukewyman commented on #411
Thanks, @vkostyukov. I've been picking through the code and I can't quite find a case of (or might not understand completely) a prioritaztion trait. Can you possibly provide me with a place in the code as an example so that I can pick up the pattern? @travisbrown

[2016-02-19 18:34] lukewyman commented on #411
Perhaps `io.finch.internal.Mapper` is an example? `object Mapper` would be the public level, and then the traits lower in the chain in that file (`HighPriorityMapperConversions` and `LowPriorityMapperConversions`) would get the `private[finch]` ?

[2016-02-24 17:18] vkostyukov commented on #481
I'm working on this right now. Hopefully can put something together over the weekend.

[2016-02-24 17:21] vkostyukov opened #540 "Add example that uses finch-oauth2"
All we need to do is to implement `DataHandler` (e.g., using in-memory hash map) and provide two endpoints: the one that does auth and the one that issues tokens.

As an example: here is [the handler I implemented](https://gist.github.com/vkostyukov/00d87209c65599f3e664) for one of the first Finch applications using both hash-maps and Postgres database.

[2016-02-25 00:30] vkostyukov opened #542 "Replace our own end-to-end benchmark with Apache wrk"
I'm all for using JMH for micro-benchmarking (endpoints, outputs, etc), but I think it would be a good idea to replace out end-to-end benchmark with [wrk](https://github.com/wg/wrk) results. Reasons are following:

1. It's just less code we need to maintain
2. wrk is a world-known and -recognized way to do that

[2016-02-25 19:18] vkostyukov commented on #540
As @ImLiar noticed, there is also a bug in the current implementation when JSON decoders are picked up instead of a simple ones (see [on Gitter](https://gitter.im/finagle/finch?at=56cf38dc59ace6ac2f0c003d)). I wonder if we should distinct decoders used to parse params, headers  from JSON ones.

[2016-02-26 09:32] dong77 opened #544 "java.lang.StackOverflowError when decode bad json data from body using json4s"
I'm using finch 0.9.3 and json4s to decode/encode json data and provided my customized Formats as follows:

[code]
When I submit bad json data as HTTP body, finch throws StackOverflowError:

[code]

I tried to give ```JsonMethods.parse(input, false).extract[A])``` in console, only one simple error was throw:

[code]

It doesn't seem to be a json4s issue.

[2016-02-26 17:13] vkostyukov commented on #544
Hi @dong77! I believe I know what's going on here. Try defining `EncodeResponse[Exception]` in a way similar to [this](https://github.com/finagle/finch/blob/master/examples/src/main/scala/io/finch/eval/Main.scala#L29-L33) (but using JSON4S instead of Jackson).

[2016-02-27 14:27] ilya-murzinov commented on #540
I'd like to work on this.

[2016-02-27 17:24] vkostyukov commented on #540
Thanks @ilya-murzinov!

[2016-02-29 17:51] #540 closed

[2016-02-29 17:55] vkostyukov commented on #411
I'm going to move that to the next milestone so we can revisit that later and see what's left here.

[2016-03-01 18:47] tobias-johansson commented on #264
@vkostyukov do you have anything pushed for this? I'd like to take a look :) I'm fiddling with something related to this but in the context of circe (see https://github.com/travisbrown/circe/issues/188)

[2016-03-02 02:25] vkostyukov opened #547 "Figure out why `Encode[Exception]` is often not picked up"
Somehow the default instances from the `Decode` companion object is used. I guess it's something about priority. Hopefully there is a way to make it more pleasant for users. Right now they have to define an instance of `Encode[Exception]` right before the call to `.toService`.

[2016-03-05 16:15] vkostyukov commented on #544
Closing this. @dong77 feel free to reopen if you still experience that problem.

[2016-03-05 16:15] #544 closed

[2016-03-05 16:19] vkostyukov opened #548 "Cats instances for Endpoint"
I guess we could add `Functor` and `Applicative` for `Endpoint`. Not sure if there is anything else needs to be Cats-friendly - most of the things (i.e., `Output`, `Input`). Maybe we could add `StateT` for `Input` and do something for `Output`, but that might be done later.

[2016-03-05 19:25] ilya-murzinov commented on #388
...and I did it.

See my repo https://github.com/ilya-murzinov/finch-todo-backend
I didn't want to bring changes to finch main repo, so I created my own.
Deployed on Openshift http://diy-ilyamurzinov.rhcloud.com/todos
Implementation is already listed in http://www.todobackend.com/

@vkostyukov I would be glad if you take a look at the code.

[2016-03-05 19:30] vkostyukov commented on #388
Thanks a ton! This is awesome!

[2016-03-05 19:33] #388 closed

[2016-03-09 18:57] vkostyukov opened #549 "Add spray-json support?"
I guess it would be nice to support spray-json at some point.

[2016-03-10 22:58] ImLiar commented on #548
Could I take it?

[2016-03-10 23:02] vkostyukov commented on #548
Absolutely! Thanks for the help!

[2016-03-11 21:33] vkostyukov opened #552 "Add Endpoint.transform"
As discussed on Gitter, to simplify things like [this](https://gist.github.com/vkostyukov/750196650f381e24c7aa), it would be nice to provide the following method on `Endpoint`:

[code]

[2016-03-12 22:43] travisbrown opened #556 "Determine whether we need to worry about lawfulness of Endpoint's applicative instance"
See #555 for discussion. The issue is that `Endpoint` has an `Applicative` instance that isn't 100% lawful, since if we `product` together `Endpoint[A]` and `Endpoint[B]` the second one determines the status code and the status code of the first is ignored.

We could fix this by having a `Semigroup` instance for status codes such that `Ok` combined with anything else is the anything else. Off the

[2016-03-13 02:15] vkostyukov commented on #552
Fixed by #554.

[2016-03-13 02:15] #552 closed

[2016-03-13 02:18] vkostyukov commented on #481
I guess this has been fixed in #541. The next step would be to make content negotiation (#510) and make it possible to use different configurations (eg: all as JSON, each as X) when converting an endpoint to a service.

[2016-03-13 02:18] #481 closed

[2016-03-13 02:19] vkostyukov commented on #520
Let's start with supporting endpoints that return `AsyncStream[User]` (streaming response).

[2016-03-13 20:50] ImLiar opened #558 "Type aliases for Witness.`"content/type"`.T"
I believe it's important to hide shapeless things from finch users via simple type aliases in `io.finch` package.

It could be something like:

[code]

It will make stuff like `toServiceAs` more friendly for newcomers.

[2016-03-13 20:58] vkostyukov commented on #558
Thanks @ImLiar!

Type-level content-type is pretty much experimental and we're not yet sure how it'd look like at the end of the day (0.11 release). Although, I know for sure, that if Finch users would need to type `Witness...T` in 0.11 - it's a bug.

[2016-03-13 21:32] ImLiar commented on #520
Working on it

[2016-03-14 01:20] vkostyukov opened #560 "Provide `Encode.PlainText` for anything that has `Show`"
What do people think about providing a generic `Encode.PlainText[A: cats.Show]`? Right now we only do that for `String`, but having this conversion defined in a generic way we can also benefit from Cats' instances for `Show` and allow users to serve `Endpoint[List[?]]`, etc.

[2016-03-14 06:46] vkostyukov commented on #235
I think that might be officially closed now. Thanks @mfirry!

[2016-03-14 06:46] #235 closed

[2016-03-14 17:54] vkostyukov commented on #548
I guess we can close this now since there is #518, #551, #555 and #556.

[2016-03-14 17:54] #548 closed

[2016-03-14 17:57] vkostyukov commented on #228
There is now https://github.com/finagle/featherbed  that fits pretty nicely into the Finch ecosystem: built on top of Finagle, Shapeless, Cats and Circe. Perfect match for Finch!

I'm voting for close this issue for now and instead focus on promoting Featherbed as a recommended HTTP client to use with Finch.

[2016-03-14 17:57] #228 closed

[2016-03-14 17:58] vkostyukov commented on #335
I guess we've already moved towards that direction having `Encode` abstracted over its content type (see #541).

[2016-03-14 19:07] vkostyukov opened #562 "Refactor Decode type-class"
My take is that `Decode` should be refactored in a form of

[code]

Note that
1. it has a type-level content-type so we can control what decoders to use `body.asJson[User]` vs. `body.asText[User]`
2. It takes a `Buf` instead of `String` so we can move towards #511 and convert `Buf` body directly to JSON

This makes both `Encode` and `Decode` type-class be body-oriented, which makes the whole pictu

[2016-03-15 12:22] #560 closed

[2016-03-15 12:37] vkostyukov commented on #542
Fixed in #563.

[2016-03-15 12:37] #542 closed

[2016-03-15 21:12] ImLiar commented on #520
It's gonna be a hard time to implement async request reading from JSON since some JSON libraries doesn't support stream parsing or do it at very low "manual" level.

[2016-03-15 23:10] ImLiar commented on #562
How about abstract `apply` input? `Decode[I, A]` would allow us to work not only with `Buf` or `String` but with `AsyncStream[_]` too.

Something like following:

[code]

[2016-03-15 23:13] ImLiar commented on #562
It also wouldn't require of us to teach all of JSON libraries to work with `Buf` or `AsyncStream[Buf]`, but only those which has some kind of support for those mechanics.

[2016-03-16 04:11] mrmiywj commented on #549
I'm doing this issue.

[2016-03-16 05:37] vkostyukov commented on #549
Fixed in #568.

[2016-03-16 05:37] #549 closed

[2016-03-16 10:53] ImLiar commented on #562
@vkostyukov Do you mind if I try to refactor `Decode` this way?

[2016-03-18 23:17] ImLiar opened #574 "FromParams should respect optional values"
As far as I understand, following line:
https://github.com/finagle/finch/blob/master/core/src/main/scala/io/finch/internal/FromParams.scala#L29

isn't tolerate to missing fields in `Request` even if it's optional in target object. I'm not sure how to solve this problem since we're using `LabelledGeneric` in the end and it requires clear evidence of types equality between `Repr` (in our case it's a

[2016-03-18 23:25] ImLiar commented on #574
Probably it's better to introduce `shapeless.Poly` with cases where `HV` equal to `Option[A]` and just some `A`. So we could use `paramOption` in first case and `param` in other one.

Summoning one of the shapeless gods @travisbrown

[2016-03-19 00:31] ImLiar commented on #574
In the end I've came to following solution:
https://gist.github.com/ImLiar/eeb80eda1c26b623d244

It's very straightforward but seems to work as expected. If it's okay I could submit PR

[2016-03-20 09:52] ImLiar commented on #574
I've found that `Seq` (params) won't work out of the box too, so I've updated gist.

[2016-03-20 14:23] teodimoff commented on #574
this is cool.. but cuple of nits: we need to make it for Option[Seq[A] too but in  general we need to do it with CanBuildFrom( or do we?) to make it work with collections more generally

[2016-03-20 14:29] ImLiar commented on #574
@teodimoff Thanks

Yea, I thought about it. I guess its possible to implement such case. Nice catch with `CanBuildFrom`!

[2016-03-20 14:31] teodimoff commented on #574
i am playing with it i post what i came with in  10-15 min

[2016-03-20 15:11] teodimoff commented on #574
for some reason it does not convert it to C[V]
[code]

[2016-03-20 15:17] ImLiar commented on #574
@teodimoff  `params(key)` won't work for `Option` case since it _requires_ parameter existance in `Request`

[2016-03-20 15:18] teodimoff commented on #574
@ImLiar oh yeah... forgot it

[2016-03-20 15:25] teodimoff commented on #574
@ImLiar actually it does work but if the params are empty Option[Seq[A]] is resolved to Some(Seq()) and we don`t wont that

[2016-03-21 13:54] teodimoff commented on #574
@ImLiar any further investigations on why refuses to convert it to C[V]? -log-implicits is convinced that there is ambiguous  implicit values that both match Decode[V] namely decodeInt and decodeString

[2016-03-21 16:25] vkostyukov commented on #504
Fixed in #518.

[2016-03-21 16:25] #504 closed

[2016-03-21 16:25] vkostyukov commented on #520
Done in #566.

[2016-03-21 16:25] #520 closed

[2016-03-21 17:22] ImLiar commented on #574
@teodimoff I've lost a context. What do you mean under `it to C[V]`? `HV` parameter?

[2016-03-21 17:24] vkostyukov commented on #558
Done in #573.

[2016-03-21 17:24] #558 closed

[2016-03-21 17:25] vkostyukov opened #575 "Support multiple content-types per service"
The easies solution would be to introduce a wrapper around `Endpoint` that captures two types - its underlying type and a content type. Something like:

[code]

I think we have to keep in mind that at some point we will introduce content-type member for decoder and I guess there should be a symmetric variant of `respond` for that.

[code]

[2016-03-21 20:23] teodimoff commented on #574
in the   cbf: CanBuildFrom[Seq[V], V, C[V]] C[V] represents the other collection that is supposed to convert to

[2016-03-21 20:44] ImLiar commented on #574
@teodimoff

Oh, I see. Let me think about it

[2016-03-21 21:15] teodimoff commented on #574
@ImLiar some info :

  shapeless.this.Generic.materialize is not a valid implicit value for shapeless.Generic.Aux[List[Long],shapeless.::[String,shapeless.HNil]] because:
                       [info] hasMatchingSymbol reported error: type mismatch;
                       [info]  found   : shapeless.Generic[List[Long]]{type Repr = shapeless.:+:[scala.collection.immutable.::[Long],shapeless.:+:[sca

[2016-03-21 21:35] ImLiar commented on #574
@teodimoff I have a strong feeling that `hconsFromParams` doesn't recognize `HV` as higher-kinded type.

[2016-03-21 21:41] teodimoff commented on #574
@ImLiar could be. Any suggestions?

[2016-03-21 21:49] ImLiar commented on #574
@teodimoff I'm afraid I can't find any acceptable solution from the top of my head right now :disappointed:

[2016-03-21 22:23] teodimoff commented on #574
@ImLiar the only i have found to work is to make params Seq[A]  to string - params(x).mkString(","). and then to the Decode class construct them by splitting them back to seq and then use canBuildFrom then which is gross.

[2016-03-26 18:51] teodimoff commented on #574
@ImLiar i was thinking can make HV as instance of Poly1 too? i tried with Poly2 to include hv parameter for match along with the string but it get too complicated pretty quick. so another Poly1 to match only if HV i higherkinded?

[2016-03-27 18:51] ImLiar commented on #574
@teodimoff
What do you mean by `make HV as instance of Poly1`?
`HV` is a type of field in case class we are trying to fill.

[2016-03-27 20:52] teodimoff commented on #574
@ImLiar i was trying to make hconsFromParams[HK <: Symbol, HV, T <: HList] and hconsFromParams[HK <: Symbol, **HV[_]**, T <: HList] and another level of Poly1 to match the cases if this make sene.

[2016-03-27 21:07] ImLiar commented on #574
@teodimoff Oh, I'm not sure if it's not an overengineering.

[2016-03-27 21:14] teodimoff commented on #574
@ImLiar i couldn`t make it work either. so we will have to wait for some ancient shapeshifter (being that they are shapeless by definition) to try to find workaround it.

[2016-03-28 08:12] ImLiar opened #579 "v1.0 Roadmap"
It would be nice to create list of high-priority tasks to compete until 1.0 release. We could discuss it's content and put our efforts to complete this list, stabilize client API and release v1.0.

I believe it would help to regulate finch needs and priorities, making it more mature in all terms.

[2016-03-28 22:29] ImLiar commented on #574
Im closing this one for now.