[2016-03-28 22:29] #574 closed

[2016-03-29 00:52] vkostyukov commented on #579
Thanks @ImLiar! Here is my take on the roadmap: https://github.com/finagle/finch/wiki/Roadmap-1.0

Not so much things left to do, but there are two bold items we need to have a complete story in 1.0: streaming and type-level content-types. Otherwise, we're pretty ready for 1.0.

[2016-03-29 07:33] ImLiar commented on #579
@vkostyukov nice to hear it!
I'll do my best to move finch to v1.0
In the end, our team is kinda interested in stable API :smile:

[2016-03-29 16:32] vkostyukov commented on #579
Thanks @ImLiar! Appreciate your involvement!

I think, generally, the API is pretty settled for `Endpoint`. The only thin will change is everything around type-level content-type just because it's now written yet.

[2016-03-29 21:21] ImLiar opened #581 "ADT for Endpoint metadata"
As discussed on Gitter, it would be great to have some handy ADT which contains endpoint's input/output(?) metadata

https://gitter.im/finagle/finch?at=56faf094e4a8384a1bbd0973

[2016-03-30 12:01] teodimoff commented on #579
I can add a few combinators to Endpoint if you guys are interested? Apart from that i want to separate GenericDerivation into separate generic package (we talked about that in the past) and add incomplete instances to them.

[2016-03-30 12:11] teodimoff commented on #579
oh.. and i just saw @vkostyukov proposing finch-generic

[2016-03-30 12:27] teodimoff commented on #528
+1

[2016-04-09 23:01] vkostyukov opened #587 "Circe error accumulation"
As Travis described [on Gitter ](https://gitter.im/finagle/finch?at=5709750fddb5a2cf3bbae825).

[2016-04-09 23:53] wennergr commented on #587
More then happy to help out here, but I would need some help ;)

Some initial thoughts and questions:

## Issue One, decode function
We would need a slightly modified version of the circe [Parser.decode](https://github.com/travisbrown/circe/blob/master/core/shared/src/main/scala/io/circe/Parser.scala)

Best case (for me) would be a decode function with the following signature:
[code]

This will ho

[2016-04-10 00:05] travisbrown commented on #587
@wennergr I've just opened [a quick PR](https://github.com/travisbrown/circe/pull/260) that adds a `decodeAccumulating` method to `Parser` in circe (we'll eventually want this kind of thing for multiple web service frameworks, so we might as well do it there).

Just because `NonEmptyList` is invariant, that doesn't mean upcasting the element type isn't safe—you just have to do it "manually".

[2016-04-13 15:34] vkostyukov commented on #575
My most recent idea is to try to attach content-type to `Endpoint`:

[code]

But keep `Output` content-type-free. We can default to JSON for `body` and endpoints created with `Mapper`, but use text/plain for everything else (headers, params). This would allow us to reuse this type when resolving decoders. So basically having a single content-type on endpoint means we can use it in both places: whe

[2016-04-14 23:56] vkostyukov commented on #575
I wonder how people feel about the following syntax:

[code]

[2016-04-21 13:33] ilya-murzinov commented on #581
Do I understand correctly that once we have such ADT (abstract data type, right?) we can easily implement Swagger support?

[2016-04-23 08:40] ImLiar commented on #581
@ilya-murzinov Yeah I believe we do

[2016-05-13 07:47] Tzbob opened #593 "Add support for Server Sent Events (SSE)"
It would be nice to have support for Server Sent Events (https://www.w3.org/TR/eventsource/).

I'm not that familiar with Finch but I'm pretty sure it's already possible to comply with SSE in its current state, perhaps adding explicit support to something like `Endpoint[AsyncStream[ServerSentEvent]` would be sufficient?

[2016-05-13 18:45] jimschubert commented on #581
For reference, Swagger support request is in #73.

[2016-05-25 04:55] crispywalrus opened #596 "Cats version is getting a bit long in the tooth"
The real issue with young projects is how fast they move. In my case I'm not only using finch but also circe, cats, catbird and iteratee (thanks @travisbrown!). This leads me into spirals of dependency eviction and binary incompatibilities. This is my fix for my issue with finch trailing in the dependency race. See #595 for my version of a fix.

[2016-05-30 16:05] crispywalrus commented on #596
closing with merge of #595

[2016-05-30 16:05] #596 closed

[2016-05-31 06:40] vkostyukov opened #597 "An endpoint that returns a request"
The use case mentioned on [Gitter](https://gitter.im/finagle/finch?at=574cd0b4da3f93da6f21bf2c) by @arnihermann.

[2016-06-06 20:19] vkostyukov opened #600 "Params endpoint that keeps empty string"
As mentioned in #598 we need a simpler version of `params`:

1. Do not filter empty strings
2. Do not split values by `,`

[2016-06-07 08:23] chbrown commented on #600
I'm not aware of the original design discussion that let to the splitting and filtering, but from my perspective as a newcomer to the library, and having used all sorts of other web frameworks, it violated the 'principle of least astonishment.'

It's easy enough to `myParams.flatMap(_.split(",")).filter(_.nonEmpty)` in my Endpoint function (and clearer), so I would suggest just dropping the curren

[2016-06-08 08:47] binkabir opened #602 "web service: HowTo"
I will like to call other HTTP services from within my finch application, please how can I do that(something like playframework ws library)?
Thanks.

[2016-06-08 09:06] ilya-murzinov commented on #602
Take a look at https://github.com/finagle/featherbed

[2016-06-10 18:33] chrisbenincasa opened #604 "Cannot run HelloWorld example with Scala 2.10.4 / Finch 0.10.0"
Hello, I'm unable to compile and run the Hello World example with Scala 2.10.4. Apologizes if this version is not supported, although I am able to download finch_core-2.10@0.10.0 from Maven Central.

When trying to compile a simple App with the Hello World example from the README:

[code]

It works fine with 2.11.x

[code]

The main class:
[code]

and build.sbt (swap scalaVersion with 2.10.4 for t

[2016-06-10 18:44] vkostyukov commented on #604
Hi @chrisbenincasa! Any chance you can try using 2.10.6? This is the version Finch is compiled today and *I think* you should be able to compile your code with it.

[2016-06-10 18:45] vkostyukov commented on #602
Closing this since I think it's answered.

[2016-06-10 18:45] #602 closed

[2016-06-10 18:48] vkostyukov commented on #604
I have a long term plan to get rid of `Mapper` (and fix this issue), but I'm not sure how critical is that given that the next Finch release (0.11) will be the last one supporting Scala 2.10. We should do that if we want to stay aligned with the Finagle version (6.35 was the last 2.10 release - see http://finagle.github.io/blog/2016/04/20/scala-210-and-java7/).

[2016-06-10 18:50] chrisbenincasa commented on #604
Thanks for the quick reply @vkostyukov!

Just tried with 2.10.6 and got the same error:

[code]

And the updated build.sbt (just the version bump)
[code]

[2016-06-10 18:59] vkostyukov commented on #604
Ok, let's try to add:

[code]

to your `build.sbt` and see if it helps. Otherwise, I'm running out of ideas.

[2016-06-10 19:39] chrisbenincasa commented on #604
That worked! Thank you!

[2016-06-10 23:08] vkostyukov commented on #604
@chrisbenincasa Happy to help!

[2016-06-10 23:08] #604 closed

[2016-06-25 00:06] #597 closed

[2016-07-13 17:01] crispywalrus commented on #575
If I assume that ```post[Application.Json]``` could be ```:+:```ed  with ```post[Text.XML]``` and it could be attached to other extractors (such as ```body``` from your original sketch) then I like that. 👍

[2016-07-14 18:08] vkostyukov opened #614 "Update docs to reflect Content-Type changes"
We want to provide some insights on how to use new content-types and charsets in Finch.

[2016-07-14 18:18] vkostyukov opened #615 "Figure out a charset of `::`ed endpoint"
This is might be confusing right now. I want to have a better story (default?) for that. Right now the right-most wins (just like HTTP status). Should we do something else here?

[2016-07-15 02:03] tomjadams commented on #614
Not putting my hand up just yet :) But I had to make the following changes.

* All `DecodeRequest` and `EncodeResponse` to `Decode` and `Encode` respectively.
* I also had to remove the use of `EncodeResponse.fromString`, so:

[code]

to

[code]

where `textBuffer` is taken from `io.finch.internal.BufText`:

[code]

[2016-07-15 05:20] vkostyukov commented on #615
This somehow relates to #556.

[2016-07-18 17:33] vkostyukov commented on #390
As discussed on Gitter, we can think of two steps to solve this. The ultimate goal is to allow people test their endpoints separately w/o thinking much of HTTP.

1. Move [`OutputOps`](https://github.com/finagle/finch/blob/master/core/src/main/scala/io/finch/Output.scala#L170-L175) to finch-test and make it public
2. Provide a new, user-friendly API for building `Inputs`

We can discuss here how wo

[2016-07-18 19:26] BenFradet commented on #390
Yup, I'll start working on this.

[2016-07-18 21:23] vkostyukov commented on #600
I tried to ping people on Gitter and ask what they think about that. Given that nobody replied, maybe we're safe to change the behavior. Thinking about this more, should we also change `paramsNel` endpoint? @chbrown Any chance you want to send a PR?

[2016-07-19 20:53] vkostyukov commented on #390
Ah right. Let's just make that API open in `finch-core`?

[2016-07-19 20:58] BenFradet commented on #390
fine with me

[2016-07-28 17:28] ChetanBhasin opened #621 "Support for serialisation using Scala Pickling"
I was wondering if support for Scala Pickling could be added to JSON serialisation.

There are already nice libraries such as Circe available, but it would be nice to have something other than that.

I have been playing around with the code, and would love to take this on.

[2016-07-28 18:02] vkostyukov commented on #621
Sounds great! Thanks @ChetanBhasin!

Please, let me know if you need any help on this.

[2016-07-28 20:37] ChetanBhasin commented on #621
@vkostyukov Great! I did some tests today, and it's looking pretty good. I'll update you on this before making a pull request.

[2016-07-28 23:27] chbrown commented on #600
There are no tests for this, so it looks like removing `.flatMap(_.split(","))` from `io.finch.Endpoints.requestParams` and `.filter(_.nonEmpty)` from `io.finch.Endpoints.params` should do the trick.

Keeping with the original 'principle of least surprise' design objective, I'd recommend `paramsNonEmpty` and `paramsNel` not apply split+flatMap to the value they get back from `requestParams`, but t

[2016-07-29 06:18] ChetanBhasin commented on #621
Added pull request #622

[2016-07-29 08:51] ChetanBhasin commented on #621
Sorry about the dirty work the pull request.

Looks like we're failing for Scala 2.10 when using `org.apache.commons.codec.binary.Base64`.

I think it's because `getBytes` method on string changes the order of the bytes, which is used [here](https://github.com/ChetanBhasin/finch/blob/dev/pickling/src/main/scala/io/finch/pickling/Converters.scala).

[2016-08-13 22:22] vkostyukov commented on #621
@ChetanBhasin how is this going? Is there anything I can help with?

[2016-08-13 22:25] vkostyukov commented on #600
Thanks @chbrown! This sounds reasonable to me. Feel free to open a PR!

[2016-08-14 00:15] chbrown commented on #600
Great; see #625

[2016-08-14 02:51] #600 closed

[2016-08-14 19:05] ChetanBhasin commented on #621
@vkostyukov Sorry, I had taken a pause on the Reflection problem that I mentioned on Gitter.

I successfully managed to get Pickling working with JSON serialisation, but tests fail for binary serialisation.

You can look at the code here: https://github.com/ChetanBhasin/finch

This is strange because the same code works fine when implemented as an example (in the example subproject).
The same test

[2016-08-15 12:32] vasily-kirichenko opened #626 "Can I use Finch on client side?"
I tried to use Finagle to write a HTTP client:
[code]
Looks rather powerful with load balancing, error handling and all, but I stuck with deserializing the json response. Is there a client API in Finch? I'd like to use the same seamless approach to deserialize json with Circe as is available on service side.

[2016-08-15 15:44] vkostyukov commented on #626
Hello @vasily-kirichenko,

You can take a look at [Featherbed](https://github.com/finagle/featherbed). It wraps Finagle client with type-safe primitives for JSON decoding.

[2016-08-16 07:09] vasily-kirichenko commented on #626
Thanks. I stick with
[code]
for now.

[2016-08-16 07:09] #626 closed

[2016-08-21 00:03] #614 closed

[2016-08-21 08:29] vasily-kirichenko opened #628 "How to add a tracer?"
In pure Finagle one can add a tracer like this:

[code]
(https://github.com/openzipkin/zipkin-finagle-example/blob/master/src/main/java/finagle/Backend.java)

I cannot find a way to add a tracer in a Finch service like this:

[code]

[2016-08-22 19:00] vkostyukov commented on #628
Finch doesn't operate on a layer that involves tracing. Finagle does. That said, tracer should be passed to a Finagle server builder. Your first example should work if instead of `new Backend()` you pass `api.toService`.

It doesn't relate to this question, but we're generally recommending using the `with`-API instead of `ServerBuider`. Try something between the lines:

[code]

[2016-08-22 19:00] #628 closed

[2016-08-23 09:13] ChetanBhasin commented on #621
@vkostyukov Alright, so update on this:

I've spent some time on this, but wasn't able to figure out the reason for the use of Reflection API failure (possibly because of data type detection) for Scala 2.10.

I have a couple of questions, how important it is for us to support Scala 2.10? While the example code works for 2.10, I wouldn't want to push that code to master without proper understanding

[2016-08-23 16:55] vkostyukov commented on #621
Thanks @ChetanBhasin! I think sticking with JSON for now is quite a good idea.

[2016-08-25 15:46] chrisbenincasa opened #631 "Intellij syntax error: "Application does not take parameters""
Hello, I'm wondering if there's a way to get IntelliJ (I'm using v15.0.6 with Scala plugin 2.2.0) to be able to recognize the implicit conversion to a `Mapper` when applying an `Endpoint`.

Screenshot:
![screen shot 2016-08-25 at 11 43 32 am](https://cloud.githubusercontent.com/assets/1640671/17975822/2fc87c16-6ab9-11e6-9d00-cc0c7ff45a07.png)

The reported error is "Application does not take param

[2016-08-25 16:42] vkostyukov commented on #631
Thanks @chrisbenincasa!

I'm (and I think everyone else is) aware of this problem. One workaround I use is to disable type-checker in IntelliJ (hit that green `[T]` in the right bottom corner). Although, this basically disables the everything in the IDE besides autocompletion. I think the best we can do here is to file a ticket against the Scala plugin (and vote it!) and mention this problem as fa

[2016-08-29 17:32] #390 closed

[2016-08-29 17:34] vkostyukov commented on #621
@ChetanBhasin, how far away you from the JSON-only support for Pickling? I'm thinking of doing a release and trying to figure out should we wait for this one or not.

[2016-08-30 08:36] ChetanBhasin commented on #621
@vkostyukov Sorry about the delay on this. Stuck with Pickling errors while also busy with other things.

I'm going to give it one more shot tonight. If it doesn't work still, maybe you can do the release without Pickling this time?

[2016-08-31 14:51] ChetanBhasin commented on #621
@vkostyukov Let's push this release without Pickling serialisation for now.

It looks like the latest stable version of Pickling has problems working with collections in nested case classes for Scala 2.10.
It's good for the latest development branch of Pickling, but let's not push it until we have a stable support from Pickling.

[2016-08-31 18:28] vkostyukov opened #635 "Make Input accept JSON payload"
It would easier for users if they can shove case classes into an `Input` payload as JSON objects. I'm having something like this in mind (pseudocode):

[code]

[2016-08-31 19:58] vkostyukov commented on #635
I think `withJson` also works as a name.

[2016-08-31 20:01] vkostyukov opened #636 "Make Input accept multipart forms"
We didn't cover it in #619 and I hope we will find a way to do that in M4.

[2016-08-31 20:05] ImLiar commented on #581
@vkostyukov Hi there

The problem I've encountered during meditation about this issue a long time ago is an actual type of metadata. It could be something builded arounded `HList` in a very spirit of finch, but it would require add one more type parameter or abstract type to `Endpoint` and as for me it seems confusing.

Another way is to make a really simple ADT with underlying `Seq[String]` and s

[2016-08-31 20:19] vkostyukov commented on #581
I was thinking about something between the lines:

[code]

So we can build this `Meta` thing in the endpoint and then interpret it when we need it (eg: `toString` conversion).

[2016-08-31 23:20] vkostyukov opened #637 "Extract Mapper into a standalone syntax namespace"
Ideally, we want something better than `Mapper`, but as a first step would be nice to separate it from `Endpoint`.

[2016-09-01 22:36] vkostyukov commented on #547
Lots of changed around exceptions so I'm closing until reported again.

[2016-09-01 22:36] #547 closed

[2016-09-01 22:37] vkostyukov commented on #529
I think this will be suppressed by #581.

[2016-09-01 22:37] #529 closed

[2016-09-07 20:53] omerzach opened #641 "Support empty strings in optional params and headers"
When using `paramOption("key")` where the `key` param is present but has an empty string for its value Finch gives us `None` instead of `Some("")`.

I believe just removing the `noneIfEmpty` call solves the issue
[code]

Is there a reason we'd want to keep that? If not I'll submit a pull request to remove it for `paramOption` and `headerOption`. If there is a reason to keep the existing behavior i

[2016-09-10 10:52] BenFradet commented on #635
I'll get working on this one

[2016-09-10 19:26] BenFradet commented on #635
@vkostyukov do you think a `Buf.Text(String, Charset)` is needed in twitter util? or should we match on the given charset and do `Buf.Charset`?

[2016-09-12 20:08] vkostyukov commented on #641
Thanks @omerzach for the report!

Yeah, I think I'd agree that both `param` and `paramOption` should be as simple (even stupid?) as possible. I'm not sure I can justify why I made this decision in the first place, but my guess would be - it just made sense for the application I was writing with Finch (that first app).

So please feel free to submit a PR with changes (please, just change `param` as

[2016-09-12 21:04] omerzach commented on #641
Cool, will do that.

[2016-09-12 21:46] omerzach commented on #641
To make tests pass after this change I need to update core/src/test/scala/io/finch/EndpointLaws.scala with

[code]

but then the same test fails for empty bodies. I'm not super familiar with HTTP  but I'm guessing there's no such thing as a body that's present but empty. Should I just find a way to split off the test for bodies from the ones for params and headers since it has this special behavio

[2016-09-12 23:34] vkostyukov commented on #641
Oh I see. You want to change `header*` as well? I guess that's the right thing to do.

HTTP bodies are tricky. Looking at [RFC2616 4.3](https://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html)

So I think we should also change how we read bodies to keep everything consistent:

- No `Content-Length` = `None` (no payload)
- `Content-Length: 0` = `Some(Buf.Empty)` (empty payload)
- `Content-Lengh: n`

[2016-09-12 23:37] omerzach commented on #641
Ah so there is a way to pass an empty body—makes sense. Yeah, I'll make those changes too.

[2016-09-13 17:15] vkostyukov commented on #635
I thought about porting `Buf.Text` into util, but decided to not do that for now. The tricky part here is that each "companion" object in `Buf` has an `unapply`  method that's not possible to implement with `Text`. Anyways, you should feel free to submit a PR against util and discuss it with the team - maybe it's just me not liking non-symmetric APIs.

[2016-09-15 15:38] chbrown opened #644 "Serving static content - example fails to compile"
The example at https://github.com/finagle/finch/blob/master/docs/cookbook.md#serving-static-content isn't compiling for me:

    [error]  found   : io.finch.Endpoint[com.twitter.util.Future[com.twitter.io.Buf]]
    [error]  required: io.finch.Endpoint[com.twitter.io.Buf]
    [error]   val file: Endpoint[Buf] = get("file") {
    [error]                                         ^

To replicate:

[2016-09-15 15:56] rpless commented on #644
Hi @chbrown try changing the `file` endpoint to:
[code]
That endpoint needs to return a `Future[Output[Buf]]` instead of a `Output[Future[Buf]]`.

I also noticed that the server hangs when trying to `readAll` from `/dev/urandom`, so might want to serve another file (I think you need to stream `/dev/urandom`, not readAll from it).

As for coproducting the static file endpoint with other non-text en

[2016-09-15 21:23] vkostyukov commented on #644
Thanks @rpless! Any chance you want to open a PR with these fixes (including the missing import)?

Also thanks @chbrown for pointing this out.

[2016-09-16 21:24] vkostyukov commented on #644
Just merged #645.

[2016-09-16 21:24] #644 closed

[2016-09-16 21:38] #641 closed

[2016-09-16 21:41] #635 closed

[2016-09-20 22:13] clhodapp opened #647 "Use cats `show` to display circe decoding errors"
Right now, finch-circe calls `getMessage` on errors it gets from Circe in https://github.com/finagle/finch/blob/c447fb038943deac10d4b6137d13b345947ae920/circe/src/main/scala/io/finch/circe/Decoders.scala.

This produces really ugly error messages, such as `"body cannot be converted to Post: Attempt to decode value on failed cursor: El(DownField(systemRoles),false,false)."`

It really ought to use

[2016-09-21 16:03] vkostyukov commented on #647
Thanks @clhodapp! This is a great idea! Do you want to open a PR?

[2016-09-21 20:28] clhodapp commented on #647
Will do.

[2016-09-21 21:23] travisbrown commented on #647
👍 to this. In 0.5 it's also now possible to use the new [`HistoryOp.opsToPath`](https://github.com/travisbrown/circe/pull/267) to get the path string without the `DecodingFailure at` part, which might be a little cleaner here.

[2016-09-21 22:02] vkostyukov commented on #647
FWIW, there is an old ticket to make any JSON error more readable (pattern-matcheable): https://github.com/finagle/finch/issues/264

[2016-09-22 05:32] clhodapp commented on #647
I opted for the lazy takes-10-minutes, can-do-it-today solution that I originally suggested in my PR. I think more can be done to improve the display of decoding errors both on the finch side and the circe side at some point, though.

[2016-09-22 18:18] vkostyukov commented on #647
Fixed in #648.

[2016-09-22 18:18] #647 closed

[2016-09-26 20:42] vkostyukov opened #649 "Endpoint.collectX"
As discussed [on Gitter](https://gitter.im/finagle/finch?at=57e9840f35e0f31c6c4542ac) it would be quite useful to define `Endpoint.collectX` alternatives that determine whether or not this endpoint matches. This may help us to replace our `headerExists` and `paramExists` endpoints with something like `header("foo").collect { case Some(s) => s }`.

Right now I'm thinking about:

[code]

[2016-09-26 20:50] vkostyukov commented on #649
Also, I think we can re-implement `mapX` combinators in terms of `collectX` since it's more generic.

[2016-09-26 21:45] anatoliykmetyuk commented on #649
[This](https://gist.github.com/vkostyukov/0bce591b73273520ae9416600f07b5f0) gist can prove useful during for the task.

[2016-09-27 15:22] anatoliykmetyuk commented on #649
It seems it is not possible to implement `combineX` without calling an underlying future, for the same reason it is not possible to implement a `Monad[Endpoint]`.

[Here](https://gist.github.com/vkostyukov/0bce591b73273520ae9416600f07b5f0#file-finch-dispatch-scala-L11), you assume `output` to be an `Output`, when in reality it is a `Rerunnable[Output]`.

Both `flatMap` and `combine` have one thing

[2016-10-13 03:57] petermullins opened #652 "Streamed responses have extra newlines after each chunk"
When running the `AsyncStream` cookbook example serving static content, downloaded files get extra newline characters included where each chunk boundary was.

These seem to be included intentionally - https://github.com/finagle/finch/blob/0.11.0-M3/core/src/main/scala/io/finch/internal/ToResponse.scala#L72

But streamed responses seem to work correctly when this is changed not to add the newlines.

[2016-10-13 21:02] ilya-murzinov commented on #513
@vkostyukov can you please clarify how exactly do you see this possible?
I don't get it, because finch's ```ValidationRule``` is just a some kind of convenient DSL for combining boolean predicates, but cats' ```Validated``` is a data type which encodes validation result.

[2016-10-18 02:21] rpless commented on #593
I've started a little sketch of how this could work here: https://github.com/rpless/finch/tree/wip-sse

[2016-10-19 05:03] vkostyukov commented on #652
Thanks @petermullins! I think I see what's going on here.

It's a bug. `ToResponse.Aux[CT, AsyncStream[Buf]]` should has a higher priority than the `Text.Plain` instance. Are you in the mood of sending a PR with a fix? I'm happy to assist you with that and provide more details on why it's broken and how it should be fixed.

[2016-10-20 14:36] ilya-murzinov commented on #652
Here is the fix #657
@petermullins hope you don't mind :)

[2016-10-20 22:00] petermullins commented on #652
Not at all, thanks guys!

[2016-10-21 00:14] #652 closed

[2016-10-21 22:58] vkostyukov commented on #562
I'm thinking about making a progress on this (a baby step, actually). Will try to avoid any API-breaking changes as much as possible, but the idea (I like) is beeing explicitly about decoding:

[code]

Is that too verbose? I kind of like it for `body`, but not sure it makes a lot of sense for `param`. Perhaps making `params` and `headers` special cases (using different type-class?) would help here

[2016-10-22 09:43] ilya-murzinov opened #659 "Use tut for to documentation"
We should use [tut](https://github.com/tpolecat/tut) to make sure that documentation is up-to-date and compiles.

[2016-10-29 19:05] vkostyukov opened #660 "Scala 2.12 support"
Let's update dependencies (including Finagle and Cats) and drop 2.10 support in 0.11.

[2016-11-01 17:56] vkostyukov commented on #660
Finagle and Util are blocked by Scalatest 3.x update (https://github.com/twitter/util/issues/174).

[2016-11-02 16:05] yanana commented on #660
Scalatest is ready now!

[2016-11-07 23:58] vkostyukov opened #665 "Merge User Guide into Cookbook"
As far as OSS docs, /I think/ I much prefer a cookbook (covers a little of each concept in a single standalone example/recipe) over the user-guide (covers each concept separately, step-by-step) styles.

I sort of find the current version of the user guide too verbose, carrying lots irrelevant details. I tend to believe that the combination of a rich cookbook (solves particular problems; gives init

[2016-11-08 00:10] #562 closed

[2016-11-08 00:49] vkostyukov commented on #335
As per (#663) `Decode` now embeds content-type (a type-level string) making the whole story about implicit decoder/encoders in Finch "more explicit".

@travisbrown do you think this could be closed now?

[2016-11-08 00:54] vkostyukov commented on #593
This is done in #655.

[2016-11-08 00:54] #593 closed

[2016-11-08 01:06] vkostyukov opened #666 "Wire in the new API for Decode.Aux"
Right now `body.as[User]` is pinned to `Application.Json`. We'd like to allow users to override that and pick the appropriate decoder at compile time.

[2016-11-08 01:37] travisbrown commented on #335
Yep, thanks @vkostyukov!

[2016-11-08 01:37] #335 closed

[2016-11-08 18:08] vkostyukov opened #667 "Streaming JSON Requests"
Right now (as per 0.11) it's possible to stream JSON objects over the HTTP response (chunked) via `AsyncStream[CaseClass]`. Although, there is near zero support for the inbound streaming (streaming requests). This issue is related to #336.

I assume, for each JSON library we support, we can provide meanings for converting `AsyncStream[Buf]` into `AsyncStream[CaseClass]`. This might require a new t

[2016-11-08 20:20] spockz commented on #665
We have debated this same issue within our team as well because we noticed people coming to the docs with concrete issues to solve. Sometimes experienced developers and sometimes beginners. Both benefit from the recipe style but it also stimulates copy and paste programming which leads to less understanding and more questions about simple situations that are just a bit different from the recipe.

[2016-11-14 01:48] vkostyukov commented on #666
I'm thinking about changing the API around `as`. To be more precise, I want to keep `as` only for `HGist => Generic => Case Class` conversion. Everything else should be "more explicit".

The idea is to move implicit decoder from the `as` argument to the endpoint instantiation function (eg: `param`, `header`):

[code]

I'd like us to be consistent and do that for every endpoint in Finch.

Here why

[2016-11-14 13:43] spockz commented on #666
I like the different syntax. But how does this solve body.as being coupled to JSON?

[2016-11-14 18:31] wslulciuc commented on #637
@vkostyukov I can pick up this issue.

[2016-11-14 18:35] vkostyukov commented on #666
Great question @spockz!

I'm thinking of something as simple as `body[ContentType, CaseClass]` (so it takes two type parameters). This might go as another reason for simplifying the API: `as[Application.Json, User]` seems quite confusing given how many things `as` could mean.

[2016-11-15 08:22] nopper opened #669 "ErrorDataDecoderException while posting json containing html entities `&` and `%`."
I am on finch 0.10.0. Whenever I post a JSON data containing HTML entities I get an ErrorDataDecoderException (trace below).

The same applies for finch 0.11.0-M4.

Is there a temporary workaround?

[code]

[2016-11-16 03:42] x72002168 opened #670 "Error: "code too large" and then broken at compile time"
I have a project with lots of API functions (more than 70), when I use :+: to merge all of these functions, something like:
val export = api1 :+: api2 :+: api3  :+: api4  :+: api5  :+: api6  :+: api7 :+: api8
val result = export .toService

It will cause the error, here is the message:
Could not write class com/e104/master/oauth/server$ because it exceeds JVM code size limits. Method delayedEndpoi

[2016-11-16 03:58] vkostyukov commented on #670
Thanks, @x72002168, this is very interesting. Which Scala version are you using?

[2016-11-16 04:02] x72002168 commented on #670
@vkostyukov The version is 2.11.7 .

[2016-11-16 08:55] DieBauer commented on #669
Could you post a minimum example or test-case containing your endpoint and your input data causing the error?

[2016-11-21 01:32] vkostyukov commented on #511
Fixed in #671 (kudos to @rpless).

[2016-11-21 01:32] #511 closed

[2016-11-21 17:54] vkostyukov opened #676 "String-less encoding"
#511 was a great success and improved throughput dramatically. Although, decoding large/medium size JSON objects isn't that common in HTTP APIs. The more common path is encoding. Right now we're using JSON pretty printers that print into `String` and then convert that into a `Buf` (`BufText`). This chain involves at least 2 copies (as [per implementation](https://github.com/finagle/finch/blob/mast

[2016-11-21 19:05] vkostyukov opened #677 "body.as[CaseClass] should fail with Error.NotParsed"
As reported [on Gitter](https://gitter.im/finagle/finch?at=58316079b7cf637f2ac25d61), I missed the `NotParsed` wrapping while working on the new decoding machinery. Let's fix it.

[2016-11-21 21:16] ilya-murzinov commented on #677
@vkostyukov can I pick this up?

[2016-11-21 21:17] vkostyukov commented on #677
@ilya-murzinov Please do! Thank you!

[2016-11-22 05:35] #677 closed

[2016-11-27 21:10] erikwj commented on #659
I'm new to both Finch and tut so wanted to work on this issue to learn both.

As a starter I converted the `scala` cli examples in docs/cookbook.md to `tut` examples. But lots of examples start a server on the same port. For example
[code]

is converted into

[code]

It's a working solution, but are there better solutions? Let me know

[2016-11-27 21:50] vkostyukov commented on #659
Thanks @erikwj!

I think we can easily omit the `Http.server.serve` part, here and in the rest of the example. Having `toServerAs` call at the end of each (most?) example seems quite reasonable to me. What do you think?

[2016-11-27 22:04] vkostyukov opened #682 "Provide `Eq[Error]` and `Show[Error]`"
As discussed in #662, we might want to provide those type-classes in the `Error` companion object.

[2016-11-27 22:23] vkostyukov opened #683 "Polymorphic Encode[Exception]"
As per #680, Finch now defines `Encode.Json[Exception]` instances in the corresponding JSON packages. This means any Finch app w/o explicitly defined encode instance for `Exception` will compile if the `io.finch.$jsonLibrary` import present. Although, it's still not so friendly [for users doing anything but JSON](https://gitter.im/finagle/finch?at=58386d7eb9016e42149a7d3a).

I propose we define a

[2016-11-28 07:36] erikwj commented on #659
Yes seems like a good idea. Have 1 full example should be enough

[2016-11-28 17:30] vkostyukov commented on #683
Done in #684.

[2016-11-28 17:30] #683 closed

[2016-11-29 06:33] od0 commented on #631
Just a note - this appears to not be an issue in 2016.2, but resurfaces in 2016.3 (along with other unrelated Scala bugs)

Here is a link to download the latest good release, 2016.2.5: https://confluence.jetbrains.com/display/IntelliJIDEA/Previous+IntelliJ+IDEA+Releases

[2016-11-29 23:08] haribageski commented on #682
Hi, the issue caught my eye as I have tried Show and Eq before and I like the separation of data model and constructor from string representation and comparison. I am also currently working with Finch for my project, so I would be happy to contribute to Finch. If nobody else haven't taken the issue/task I would be happy to do it.
I was wondering what is needed to be done apart from adding an imple

[2016-11-30 06:18] vkostyukov commented on #682
Thanks @haribageski! Let's start with just adding those instances.

[2016-11-30 14:33] bergmark commented on #587
This would be super nice to have!

Did anyone start working on this? Is what @wennergr suggested the right way to go? I'd be interested in helping out if we can decide how to do this.

[2016-11-30 21:59] haribageski commented on #682
I made a small pull request: https://github.com/finagle/finch/pull/687

[2016-12-02 21:06] vkostyukov opened #688 "Remove `Encode.encodeEither`"
I doubt it's useful. It should be a concern of a JSON library to provide these kind of instances.

[2016-12-05 07:32] DieBauer commented on #688
This is closed by #689?

[2016-12-07 05:33] vkostyukov commented on #688
Yes. Thanks @DieBauer!

[2016-12-07 05:33] #688 closed

[2016-12-07 05:35] vkostyukov opened #692 "Add Endpoint.productWith"
It will save some allocations and make it easier to use.

The idea is to also pass a function that collects `A, B` into `C` such that `product` could be defined in terms of `productWith(other)(Tuple2.apply)`.

[2016-12-13 17:51] #666 closed

[2016-12-16 19:11] chrisbenincasa commented on #631
@od0 interesting. I'm on 2016.3.1 (Scala plugin 2016.3.5) and the error has changed slightly:

<img width="1187" alt="screen shot 2016-12-16 at 2 09 55 pm" src="https://cloud.githubusercontent.com/assets/1640671/21275128/57d9d518-c399-11e6-8cd9-b34fa9fa179d.png">

Basically that, but for every endpoint.

Sorry for the delay, but thank you for the reply, @vkostyukov. I'll look into opening up an is

[2016-12-16 19:24] vkostyukov commented on #665
I'd like to abandon that idea. I now think both user-guide and cookbook make a lot of sense.

[2016-12-16 19:24] #665 closed

[2016-12-16 19:27] vkostyukov commented on #371
I'd like to us to keep `Endpoint.apply` in place and, instead, change the way `Mapper` works. My current thought is:

1) It should be defined outside of `Endpoint` as a syntax extension
2) It should be "enabled" explictly: `import io.finch.syntax._`

[2016-12-16 19:27] #371 closed

[2016-12-18 22:47] vkostyukov opened #705 "Move BasicAuth out of Finch"
Turns out our HTTP Basic auth implementation has been broken for a while. While it's possible to fix it and call it a day, I'm not entirely sure that the pattern of exposing a function `Endpoint[A] => Endpoint[B]` is valid in general. At this point, I'm leaning towards making a Finagle filter (by the reasons explained [here](https://github.com/finagle/finch/blob/master/docs/best-practices.md#finag

[2016-12-21 06:02] divanvisagie commented on #705
Newcomer here, If you don't mind me being an airhead and asking a lot of questions I would be glad to assist.

[2016-12-21 06:52] vkostyukov commented on #705
Thanks @divanvisagie! I'm going to set up a Finagle Org project against which you can open a PR with the changes.

[2016-12-21 06:57] vkostyukov commented on #705
Here is the repo: https://github.com/finagle/finagle-http-auth

The way I see it is a simple sbt project with just a single scala source: `com.twitter.finagle.http.BasicAuth` (a Finagle filter) that is essentially a copy of Finch's Basic Auth. We probably need some tests for that.

[2016-12-22 05:09] divanvisagie commented on #705
Awesome. I'm guessing by the name of that repo that the intention is to be completely decoupled from the finch project so I should remove any reference to its previous ties.

[2016-12-22 06:32] vkostyukov commented on #705
@divanvisagie Yup! The idea is to express Basic Auth as a Finagle `Filter` so no dependency on Finch is necessary.

[2016-12-22 12:16] beenokle commented on #660
Seems like guys did huge work and migrated Finagle to 2.12
Does finch have any issues with 2.12?

[2016-12-22 14:17] ilya-murzinov commented on #660
Here is the PR #688
You can track progress there

[2016-12-22 18:01] miriarte commented on #660
@ilya-murzinov it is #668 not #688

[2016-12-27 22:08] vkostyukov commented on #692
Done in #709.

[2016-12-27 22:08] #692 closed

[2016-12-28 16:47] ImLiar commented on #676
So if I understand it correctly, all supplied JSON libraries should support direct print into byte array to make it happen?

[2016-12-28 16:49] ImLiar commented on #637
@vkostyukov

Correct me if I'm wrong. It's gonna be some `EndpointMapperOps` (or smthn) with all supported applies, right?

[2016-12-29 00:29] vkostyukov commented on #676
Yup! Being able to print directly into `Array[Byte]` (or similar) would be very nice. I think, I tried to look into that at some point, and I'm not sure I was able to find the proper API for that (yet).

I'm not sure how open @travisbrown would be for adding a binary printer implementation into Circe, but I somewhat believe that would give us a huge boost in the end-to-end benchmark.

[2016-12-29 00:56] vkostyukov commented on #637
@ImLiar, right.

I was hoping we could get rid of the `Mapper` thing (magnet pattern) completely. Something like `EndpointSyntax` implicit class (living under `io.finch.syntax._`) that provides those `apply` methods on an arbitrary endpoint. I imagine we have to maintain the compatibility (at lease source one) and keep this syntax available under `io.finch._` import, but I'd love us to separate th

[2016-12-29 08:41] ImLiar commented on #637
Well, I tried something like this and got type erasure problem. And solutions for this one could be really ugly.

[2017-01-02 17:13] muuki88 commented on #659
WDYT of using [sbt-microsites](https://github.com/47deg/sbt-microsites) to build the documentation? I could submit a pull request if you are interested.

[2017-01-04 13:54] spockz opened #712 "Endpoint#handle breaks output of toString"
Calling on toString on an endpoint gives a representation of the endpoint by method and path with parameters. However, if we call handle on the endpoint the representation is broken and we only see the standard java toString result.

[code]

[code]

[2017-01-04 13:57] spockz commented on #712
It appears that we can fix this by delegating the toString in the transform method. Just like with the other transforming methods such as `mapAsync`.

[code]

[2017-01-07 03:44] #660 closed

[2017-01-07 04:10] #682 closed

[2017-01-07 04:16] vkostyukov commented on #676
Actually, I'm somewhat positive that it's possible to add a variant of [`jacksonPrint`](https://github.com/circe/circe-jackson/blob/master/shared/src/main/scala/io/circe/jackson/package.scala#L17-L26) into Circe (when Jackson serializer is used) that yields byte array (byte buffer) instead of a string. This should allow us to avoid some copies.

Similar approach could be taken for finch-jackson, b

[2017-01-07 14:50] travisbrown commented on #676
I'd definitely be happy to see this in circe, for both the default printer and the Jackson one. I'd be inclined to return `Array[Byte]` for the sake of simplicity unless there's a good argument for `ByteBuffer` instead.

[2017-01-07 22:55] travisbrown commented on #676
I went ahead and [added something](https://github.com/circe/circe/pull/537) like this for circe-core, and can do the same for circe-jackson (unless someone else wants to).

[2017-01-08 00:46] adrice727 opened #715 "Support Optional Path Params?"
Should there be support for optional `path` parameters?

For example, to fetch all projects, we may have the endpoint:

[code]

And to fetch all projects of a specific type:

[code]

If `projectId` were an optional parameter, we could combine these into a single route:

[code]

[2017-01-08 08:27] ImLiar commented on #715
@adrice727 It's not my business to teach you, but IMHO filtering should be a part of query part rather rather than path. At least this is how we roll in REST API world.

[2017-01-08 19:20] ilya-murzinov commented on #615
I guess we can have ```Semigroup``` instance which encodes the current (default) behavior and let users define their own if they want.
At least it's making the logic explicit.

[2017-01-09 15:13] vkostyukov commented on #676
Some work is already in progress:

- circe-jackson: https://github.com/circe/circe-jackson/pull/11
- circe-core: https://github.com/circe/circe/pull/537

[2017-01-09 19:06] ImLiar commented on #676
Nice to hear it! I thought to pick it up on my own but @travisbrown did everything in a flash :smile:

[2017-01-11 23:47] adrice727 commented on #715
@ImLiar Correct.  A better example _might_ be:

Fetch a single project:
[code]

Fetch all projects:
[code]

[2017-01-11 23:58] ImLiar commented on #715
@adrice727 Still it's not REST-like

Usually it's something like:
[code]

But again, if `id` is a filtering criteria for you, it should be a query parameter.

[2017-01-12 04:19] vkostyukov commented on #676
So we can now encode directly into byte buffers using
- finch-circe: #717
- finch-jackson: #714

[2017-01-14 22:30] vkostyukov commented on #422
Going back to this. I can see how #637 could help us to distinguish different syntax extensions. For example, `import io.finch.syntax._` provides mapper instances for Twitter `Future`s, while `import io.finch.syntax.scala._` wires in Scala's `Future`s.

[2017-01-15 07:31] spockz commented on #422
That would be nice. How about separating the twitter/scala bijections into a separate artifact? As far as I know it's the most used, judging by the number of complaints on an extra 2MB dependency out there. If it is separate we can add it to Finch core.

[2017-01-16 14:03] vkostyukov commented on #705
I went ahead and published the very first version (https://github.com/finagle/finagle-http-auth/releases/tag/0.1.0) based on Finch's implementation. The PR removing `BasicAuth` from Finch is coming shorty.

[2017-01-16 15:53] divanvisagie commented on #705
Apologies for being absolute rubbish on this one. Was actually going to sit down with it tonight but probably would have taken me way longer than it did you.

[2017-01-16 16:57] vkostyukov commented on #705
No worries @divanvisagie! There are still things we could in finagle-http-auth in order to improve it. Just to mention in a few: add scalastyle, code coverage, better docs. So you should always feel free to send PRs there.

[2017-01-16 16:57] #705 closed

[2017-01-16 18:38] vkostyukov commented on #712
Thanks @spockz! Any chance you want to send a PR for this?

[2017-01-16 20:57] erikwj commented on #659
Have been busy, but should have time to work on this coming weeks. I thinks it's a great idea, but I will first compile all docs with tut

[2017-01-16 21:03] ilya-murzinov commented on #659
@erikwj great to hear that!

[2017-01-17 05:48] spockz commented on #712
Sure! I'll try to find a spot this afternoon or tomorrow.

[2017-01-18 23:40] ImLiar opened #723 "Endpoints to get all parameters/headers"
Sometimes it's nice to get all query parameters (or headers) from request as `Seq[(String, String)]`.
I couldn't find something like this [here](https://github.com/finagle/finch/blob/master/core/src/main/scala/io/finch/Endpoints.scala), so may be worth to make two endpoints such as `paramsAll`, `headersAll`.

@vkostyukov What do you think?

[2017-01-19 21:53] vkostyukov commented on #723
Idk, these seem like quite easy to define out of the `root` endpoint and there is nothing else we need to do with that (think of error handling of the empty case like we do for `param` or type conversions like we do for `paramsNel`).

[code]

Although, this might deserve a cookbook recepie. Any chance you're willing to contribute one?

[2017-01-19 21:56] vkostyukov commented on #422
@spockz I don't think we actually need a bijection dependency. These type of conversions are quite easy to define by hand.

[2017-01-19 22:44] ImLiar commented on #723
Fair enough. But first example is little bit tricky, because in case if there are duplicate keys in parameters `Map[String, String]` is not a case. I could describe it in cookbook

[2017-01-20 00:19] spockz commented on #422
@vkostyukov, I agree with that they are easy to write by hand. However, if they are available in a tiny package I would use that package instead of manually defining it in all of my separate small libraries.

[2017-01-20 12:05] DieBauer commented on #723
The case with multiple parameters defined with the same name comes into the area of 'parameter pollution' (HPP).
So just document the behavior (in this case only the last parameter is picked up) is fine then.

https://www.owasp.org/index.php/Testing_for_HTTP_Parameter_pollution_(OTG-INPVAL-004)

[2017-01-23 16:11] spockz commented on #712
It appears this is already fixed in the current master branch.

[2017-01-25 21:48] vkostyukov opened #727 "Include Date header in any Finch response"
We should be doing something like this: https://gist.github.com/vkostyukov/1ee5a2e0cd3192a77ee6b0de99260056

The `Date` header is required by spec. See 14.18 in [RFC2616](https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html).

[2017-01-27 19:31] vkostyukov commented on #727
Fixed in #730.

[2017-01-27 19:31] #727 closed

[2017-01-27 19:32] vkostyukov commented on #712
Sweet! Closing this @spockz.

[2017-01-27 19:32] #712 closed

[2017-01-29 21:56] vkostyukov commented on #667
I think the path forward here is to push this kind of functionality out of the finch-core and use something like fs2 and iteratee instead. There is a PR that introduces iteratee support in Finch (see #557) - this is what we need to be focusing on.

I still want to keep the very basic `AsyncStream` support in finch-core for the sake of simplicity. Although I'm not 100% sure that `Endpoint[AsyncStre

[2017-01-29 23:30] vkostyukov commented on #339
We should try adopting that sbt-microsites project in Finch. If I recall correctly, @muuki88 had offered some help on this front.

[2017-02-01 08:07] tavisca-njain opened #737 "Override Exception payload in version 0.11.1 using Play Json"
I recently updated finch from version 0.10 to 0.11.1 in my scala application.

Below are the dependencies present in the application:
scalaVersion := "2.11.8"

"com.github.finagle" % "finch-core_2.11" % "0.11.1",
"com.github.finagle" % "finch-playjson_2.11" % "0.11.1",
"com.typesafe.play" %% "play-json" % "2.4.3"

For returning error output, we are using Output.failure() method.
My requirement is

[2017-02-01 23:17] vkostyukov commented on #737
Thanks for reaching out @tavisca-njain!

Any chance you can share your `Encode[Exception]` instance? Looks like you had it in place somewhere. Looks like it gets overridden by a default instance (which should not happen).

[2017-02-02 11:45] tavisca-njain commented on #737
@vkostyukov, Please find below the Encode[Exception] instance:

implicit val encodeException: Writes[Exception] = new Writes[Exception] {
    override def writes(e: Exception): JsValue = JsString(e.getMessage)
}

Let me know in case more details are required.

[2017-02-03 03:34] vkostyukov commented on #737
Thanks @tavisca-njain! So this looks pretty close to what [we have defined in Finch](https://github.com/finagle/finch/blob/master/playjson/src/main/scala/io/finch/playjson/package.scala#L30). What your error responses look like on 0.10? Is that a JSON object?

[2017-02-03 05:25] tavisca-njain commented on #737
Yes, error response is a JSON object.
As per my requirement, error response should looks like:
{
  "code" : "xx",
  "message" : "Some error occurred",
  "info" : []
}

I am able to achieve this in 0.10 version.

After updating to 0.11.1 version, error response looks like:
{
    "message": "{ "code" : "xx", "message" : "Some error occurred", "info" : [ ] }"
}

Output.failure, first encode error obj

[2017-02-03 05:29] vkostyukov commented on #737
I see. Where's your implicit instance is defined? Mind trying moving it under the same scope you call `toService`?

[2017-02-04 14:56] muuki88 commented on #339
@vkostyukov yeah, I can give it a try when I got some time on the weekend.

However I'm not sure how the `stable` / `snapshot` build could look like. `sbt-microsites` doesn't support any kind of versioning IIRC, so we would have some special step in the release that copies the content from `snapshot` to `stable` during a release.

[2017-02-04 15:51] spockz commented on #339
We could run the publish step as part of the release?

[2017-02-06 21:08] erikwj commented on #659
I'm ready with most of the work, but see that the `/docs` structure has changed a lot. Will add my `tut` codeblocks to the latest version.

I'll put it under `/docs/src/main/tut` or any other preferences ?

[2017-02-07 14:57] divergence082 opened #739 "Unable to start finch app (AbstractNioWorkerPool warning)"
Code:
[code]

Output:
[code]

Dependencies:
[code]

[code]

[2017-02-07 15:02] rpless commented on #739
The warning is a [known issue with Finagle](https://github.com/twitter/finagle/issues/581), but I haven't noticed any real problems running the one app that I do have using Scala 2.12.

However, I don't think this is the issue here. I think if you change the last line of your app to:
[code]
it will work. Basically, the application is actually just completing and exiting successfully if you do not

[2017-02-07 15:05] divergence082 commented on #739
Thanks! It works!

[2017-02-07 15:05] #739 closed

[2017-02-07 15:08] rpless commented on #739
@divergence082 Glad to help! You may also want to check out our [gitter channel](https://gitter.im/finagle/finch) too. There a lot of great folks who hang out there and are always willing to help with Finch questions.

[2017-02-12 23:53] erikwj commented on #659
Docs via microsite is progressing. Does anyone has some logo's in different formats and any suggestions / preferences what theme to use? Currently used same theme as Circe, could be ok if there is an inversed logo, otherwise a light side bar makes more sense.

![image](https://cloud.githubusercontent.com/assets/3870830/22867306/1abcf8ca-f186-11e6-9dd7-5e571f92d1cf.png)

[2017-02-13 20:50] vkostyukov commented on #659
So cool @erikwj! I think, [the logo in the repo](https://github.com/finagle/finch/blob/master/finch-logo.png) has a transparent background. I might help and cut the bird-in-the-circle off if that's something you want to try.

[2017-02-13 20:57] vkostyukov commented on #659
So I cut the bird and brushed black into white (hope you can see it).

![finch-logo-inverted](https://cloud.githubusercontent.com/assets/1098539/22902955/d4c0cd22-f1eb-11e6-8e6d-3fee3a143965.png)

[2017-02-14 06:10] erikwj commented on #659
Awesome, I will give it a go with this one. Thanks @vkostyukov

[2017-02-15 07:55] omerzach commented on #670
I'm seeing this too on 2.12.0 with finch 0.11.1 :(

[2017-02-15 08:14] vkostyukov commented on #670
@omerzach How many endpoints do you have? Does grouping help in your case?

[2017-02-15 21:13] omerzach commented on #670
We have 67 endpoints total (files with 2, 4, 10, 2, 8, 28, and 13 `:+:`ed together then another file that combines each of those as `("foo" :: fooEndpoints) :+: ("bar" :: barEndpoints) :+: …`

It worked until I added one of those files of 2 endpoints, so maybe @x72002168 and I are both right near a cutoff point.

And yep, grouping solves the problem.

(Sorry for not including any details yesterday

[2017-02-15 21:28] vkostyukov commented on #670
Very interesting. Thanks a lot, @omerzach! Looks like ~70 composed endpoints compile into something bigger than 65k bytecodes. I will look into that as part of 0.14 milestone.

[2017-02-15 21:30] vkostyukov commented on #676
I intend to close this given that we already support string-less encoding for Circe and Jackson. I'd like us to track other supported libraries separately.

[2017-02-15 21:30] #676 closed

[2017-02-16 10:03] bergmark commented on #631
Has anyone reported this bug on the scala plugin issue tracker?

[2017-02-16 16:05] chrisbenincasa commented on #631
@bergmark This totally slipped my mind; I never opened up an issue.

[2017-02-18 01:36] rpless opened #747 "Decode error with Netty 4"
I enabled Netty 4 on one of our services that use Finch. Some of the endpoints on the server (but not all) started returning 500s and the Root Monitor started logging an error propagating up to it from `HttpContent$.asByteBuffer` in Finch. I created a [reduced case](https://gist.github.com/rpless/28527f44c839378737625b3e2ee89ee5) of the error I'm encountering and included a full stack trace.
Some

[2017-02-18 06:01] vkostyukov commented on #747
Thanks @rpless! I think I know what's going on here. Let me craft a branch that with a fix. Would you be able to verify that it fixes the issue? I guess you'd need to compile Finch from source and depend on it locally.

[2017-02-18 08:29] vkostyukov commented on #747
The fix is here: #748. @rpless, please let me know if you want to try to reproduce this bug against that branch.

[2017-02-18 15:44] rpless commented on #747
@vkostyukov Thanks so much for looking at this. That was so fast!
I have built your branch locally and tested the reproduced case for Scala 2.11 and 2.12 and I tested the fix on the service we saw issues with. Everything appears to be working correctly.

[2017-02-18 18:41] #747 closed

[2017-02-18 18:42] vkostyukov commented on #747
Thanks a lot, @rpless! I'm doing a patch release now.

[2017-02-19 16:02] rpless commented on #631
I've seen noticeably fewer of these errors after switching to the 2017 EAP release. And the errors are usually fixed by invalidating caches. Has anyone else tried the EAP?

[2017-02-19 20:34] erikwj commented on #659
Had some time again during the weekend to continue working:

![image](https://cloud.githubusercontent.com/assets/3870830/23106038/078515c8-f6e8-11e6-8a41-10f27c89e8c6.png)

![image](https://cloud.githubusercontent.com/assets/3870830/23106265/f83d911e-f6ea-11e6-8cbd-848c52dfe9ca.png)

Not sure if black is the best way forward, comments appreciated

Need to sync with latest docs version and fix some

[2017-02-19 20:48] muuki88 commented on #659
This looks amazing!

[2017-02-20 16:09] od0 commented on #631
@rpless I'm on the latest EAP and it's as bad as ever :/

[2017-02-20 16:13] od0 commented on #747
Awesome work @rpless

[2017-02-20 22:59] manub commented on #631
Having a problem which may be related to this. Both on IntelliJ 2016.3 and 2017 EAP. `sbt compile` works.

<img width="591" alt="screenshot 2017-02-20 22 56 16" src="https://cloud.githubusercontent.com/assets/662190/23144518/072bea92-f7c0-11e6-94c9-059f8eb4db2c.png">

[2017-02-20 23:26] vkostyukov commented on #631
I went ahead and filed an Intellij ticket (against Scala plugin): https://youtrack.jetbrains.com/issue/SCL-11386

[2017-03-07 06:36] #659 closed

[2017-03-07 08:10] vkostyukov commented on #339
I know it sounds like a miracle, but it's done in #751.

[2017-03-07 08:10] #339 closed

[2017-03-16 11:35] nicojs opened #757 "TLS support with SSLContext not working"
Starting a web server with TLS enabled doesn't seem to work when using an SSL context (haven't tried with certificate path and key path).

I've prepared an example which reproduces this problem here: https://github.com/nicojs/poc-finch-tls

Basically we're doing this:

[code]

The server seems to just *totally ignore* the fact that we ask for TLS transport security and just provides the server ove

[2017-03-16 12:04] spockz commented on #757
This has more to do with Finagle itself than with Finch. Which versions are you using?

[2017-03-16 12:14] DieBauer commented on #757
Used versions are

[code]

[2017-03-16 12:42] rpless commented on #757
I agree this is a Finagle thing. Out of curiosity did you try Vladimir's suggestion from gitter of using it on port 443?

[2017-03-16 13:48] nicojs commented on #757
We've just got a major breakthrough! Turning netty4 on seems to solve it:

[code]

Is this by design somehow? Any ideas on whats going on here would be wonderful.

[2017-03-16 15:11] spockz commented on #757
I'm not sure what exactly is going on but a recent discussion on Gitter hinted on things being reworked for netty4. Maybe some things broke for netty3 in the process?

[2017-03-16 16:30] vkostyukov commented on #757
@nicojs It's not by design. Both versions (Netty 3 and Netty 4) should work just fine. The only difference between those two is that N3 will use JDK SSL implementation and N4 will try to do OpenSSL first.

[2017-03-16 17:36] BenWhitehead commented on #757
I spent some time figuring out the args to get this to work for my project finch-server.

Here is the code I ended up with to bootstrap an `Http.server` with TLS support. https://github.com/BenWhitehead/finch-server/blob/master/src/main/scala/io/github/benwhitehead/finch/FinchServer.scala#L146

(When I wrote this code it was back against `"com.twitter" %% "finagle-http" % "6.31.0"` which was only

[2017-03-17 08:59] nicojs commented on #757
@BenWhitehead thanks for your comment! We've seen that project and tried it, but we really need to build our own SSLContext.

@vkostyukov so this is an actual bug? Or are we doing something wrong? Maybe not using the JDK SLL implementation or something?

[2017-03-17 17:14] vkostyukov commented on #757
It might be a bug since I'm not sure we use `SSLContext` internally. I'm going to try to reproduce it and then file an internal issue if it's confirmed.

[2017-03-17 17:40] vkostyukov commented on #757
Funny story (kudos @ryanoneill for helping me to figure this out).

Turns out that configuration method (`withTransport.tls(SSLConext)`) was never supported on Netty 3 and, in fact, there is [a note in the Scala doc about that](https://twitter.github.io/finagle/docs/com/twitter/finagle/param/ServerTransportParams.html#tls(context:javax.net.ssl.SSLContext):A). Even though there is a way to configur

[2017-03-17 17:41] #757 closed

[2017-03-31 17:02] #528 closed

[2017-03-31 23:19] vkostyukov commented on #723
Thanks to @ImLiar, we've got this covered in the cookbook.

[2017-03-31 23:19] #723 closed

[2017-04-10 02:13] xelibrion opened #764 "Marshalling - how to deserialise optional parameters from query string?"
Hey guys, hoping that would be a quick one. Everything works just fine if I use `param()` method, but as soon as I replace it with `paramOption()`, code no longer compiles looking for `shapeless.Generic.Aux` instance.

Looks like it's missing implicit but, I can't quite figure out where to get it from.

[code]

[2017-04-10 02:53] vkostyukov commented on #764
Hello @xelibrion!

`paramOption` has a type `Endpoint[Option[String]]` so you'd need to change you case class to be

[code]

to make that compile.

[2017-04-10 03:19] xelibrion commented on #764
I knew that was easy, thanks a lot!

[2017-04-10 03:19] #764 closed

[2017-04-21 04:17] od0 commented on #670
@vkostyukov any new findings on this front? I'm at around 60 composed endpoints split into 7 files. Compilation is fine (a bit slow but no huge issues) but the macros are pretty rough on IntelliJ - CPU and heap go through the roof in the files where endpoints are defined and syntax highlighting never fully completes in the main API file where all the endpoint definitions are finally composed toget

[2017-04-21 18:35] aroberts opened #765 "Failed outputs are rendered as responses with no body"
I'm trying to upgrade to 0.14 (from 0.11), and I'm encountering an issue with custom error responses. I am using finch-circe, and I have a custom `Encoder[Exception]` which is imported into the implicit scope where I'm calling `toServiceAs`, but I don't see my custom output. Also, logging that I injected into my encoder never fires, which further indicates that my code is not getting run.

I see r

[2017-04-21 19:49] aroberts commented on #765
It appears that omitting
[code]

was the cause of this issue in my particular case. I'm going to close this issue, as I think it's too tied up in my personal dependency situation to have a clear path forward.

[2017-04-24 20:21] vkostyukov opened #768 "Figure out if we need to roll back printing to ByteBuffers in finch-circe"
See https://github.com/circe/circe/issues/542.

I feel quite terrible given I completely forgot about TE tiny messages. It was more or less know that String-based printing is faster for small input, I didn't think it will hurt us as much [as 30% score degradation on TE results](https://www.techempower.com/benchmarks/previews/round14/r13-vs-r14p3.html).

One possible workaround (until we figure out

[2017-04-24 20:28] rpless commented on #768
I think we should probably roll it back and do a patch release. I tend to prefer UTF-8 as an encoding, so removing it as the default encoding is less than ideal.

[2017-04-24 20:31] vkostyukov commented on #768
Agreed. Let me prepare a branch.

[2017-04-24 21:41] #768 closed

[2017-04-24 22:33] rlazoti commented on #765
I was having the same issue you reported (Bad Request responses with no body content).
If I understood correctly, it's caused because there're 2 encoders for Exception type.

So there're two ways to "fix" it temporally:

1 - Removing your encoder (Encoder[Exception])
2 - Removing the default Encoder.
I ended up doing this with the following import:

[code]
Instead of

[code]

[2017-04-24 22:47] aroberts commented on #765
I created a minimal reproduction of the issue: https://github.com/aroberts/finch-14-errors

@rlazoti I hear what you're saying, but why would the compiler not resolve the implicit resolution according to precedence rules? Also, version 0.11 has an `Encoder[Exception]` instance, but does not exhibit this issue. I appreciate the workaround but I still think there's some underlying weirdness here tha

[2017-04-25 03:21] vkostyukov opened #770 "Put String-less encoding back"
It's been reverted in 0.14.1. The plan is to dig into Circe (https://github.com/circe/circe/issues/542) and figure if we can reduce the gap or maybe just opt-in.

[2017-04-30 01:00] vkostyukov commented on #770
Here the solution I submitted to Circe: https://github.com/circe/circe/pull/621

I think we can put the binary decoding back given we do some testing to make sure it's not regressing anymore.

[2017-05-01 22:21] #770 closed

[2017-05-06 11:25] vitorsvieira commented on #228
Seems like featherbed has problems to migrate to 2.12. Is Finch still recommending it?

[2017-05-06 20:28] vkostyukov commented on #228
@vitorsvieira You can try using vanilla Finagle HTTP clients then. Something like `Http.client.newSerivce("twitter.com:80")` should go a long way in consuming HTTP resources in a reliable way. It's not that type-safe and composable as Featherbed, but it's pretty robust and simple to use.

[2017-05-13 01:07] rpless commented on #765
My initial thought was that we should have been seeing an ambiguous implicit values error from the compiler. If you turn on the `-Xlog-implicits` compiler option you will see something like this:
[code]
This is being logged when the compiler attempts to summon `encodeCirce` (the Finch Encode from `finch-circe`). In order to do so successfully, it must summon a circe `Encoder`. I believe it cannot

[2017-05-13 01:51] vkostyukov commented on #765
Thanks @rpless! Do you think

- moving `encodeException` under `LowPriority*` and
- somehow lowering the priority of `encodeException` (from finch-circe)

would help here?

[2017-05-13 03:07] rpless commented on #765
I didn't think moving `encodeException` to `LowPriority*` would help, but I tried anyway just to confirm that it wouldn't.
I'm not sure how we would lower the priority of `encodeExceptionCirce` in finch-circe. There isn't anywhere to move it relative to a user defined Encoder that would change its `relative weight` as far as the [rules of static overloading resolution](http://www.scala-lang.org/fi

[2017-05-13 05:09] vkostyukov commented on #765
I like the first option. I think we should only provide a default instance from `Encode.encodeException` and don't try to be smart withing JSON sub-projects. I'm happy to open a PR that removes all those instances unless somebody else wants to volunteer?

[2017-05-13 16:08] vkostyukov commented on #737
I think it looks like a duplicate to #765

[2017-05-14 23:52] rpless commented on #765
@vkostyukov sounds good to me. We'll have to make sure to update the docs too on the next release. If you haven't already started in on removing them, I can start pulling them out.

[2017-05-16 19:39] vkostyukov commented on #765
Fixed in #775.

[2017-05-16 19:39] #765 closed

[2017-05-16 19:40] vkostyukov commented on #737
Closing as duplicated. Fixed in #775.

[2017-05-16 19:40] #737 closed

[2017-05-17 17:10] vkostyukov opened #777 "Move finch-oauth2 into its own project"
This would simplify releases. See https://github.com/finch/finch-oauth2

[2017-05-17 17:11] vkostyukov opened #778 "Move examples into their own project"
This would simplify releases quite a lot. See https://github.com/finch/finch-samples

[2017-05-17 17:15] vkostyukov commented on #669
I'm closing this given there is no reproducer. @nopper please feel free to reopen if you still see this problem.

[2017-05-17 17:15] #669 closed

[2017-05-17 17:20] vkostyukov commented on #715
Even though Finch promotes minimal/easy-to-reason-about endpoints, it looks like [tail extractors](http://finagle.github.io/finch/user-guide.html#endpoint-instances) can help here. I'm closing this as wont-fix for now. @adrice727 please feel free to reach out/open a PR if you think it deserves another discussion.

[2017-05-17 17:20] #715 closed

[2017-05-22 12:10] DieBauer commented on #778
What are the benefits of moving the examples to their own repository? The examples module doesn't get published right, but it still gets compiled making sure the code is compatible with the new release.

I think it would be harder to keep the samples up-to-date (out of sight, out of mind).

[2017-05-30 08:46] sergeykolbasov opened #781 "Metrics for endpoints"
Hey hey!

Could we use finagle-stats for reporting metrics of endpoints out-of-the-box?

**WHY**
To get http stats of individual endpoints for monitoring how performant they are

**HOW**
Use StatsReceiver provided by finagle-stats, since this project is dependant on finagle already

Of course, this could be achieved manually, adding some boilerplate, but I wonder if it's possible to make some endp

[2017-05-30 17:54] spockz commented on #781
I did something for this in our application. We add a metrics filter in finagle that puts a MetricContext case class on a local Context. Each endpoint definition is wrapped in a withEndpointMetrics method that used the toString to get the endpoint definition/path and put it in the metriccontext class. On the return in the metrics filter we used the metric context to lookup the name and used it for

[2017-06-01 07:55] ImLiar commented on #781
Well, I believe `Endpoint.transform` is a more natural way to measure things inside endpoints, but it's impossible to get response size with this method because I have to operate with `Output[A]`, not a `Response`..

[2017-06-01 21:12] BenWhitehead commented on #781
I created a filter to address this exact issue, and automatically add stats for any request that was handled by the finagle server in my finch-server project.

The finagle filter can be seen here: [StatsFilter](https://github.com/BenWhitehead/finch-server/blob/master/src/main/scala/io/github/benwhitehead/finch/filters/StatsFilter.scala) and can be woven into the server similar to the following:
[c

[2017-06-01 22:13] rpless commented on #781
One challenge I see with adding metrics at the endpoint level is that it is kinda difficult to choose a place in `Endpoint` or a single piece of boilerplate that makes sense given all of the different ways people use Finch (whether that's using finchrich, a controller style abstraction, or just sticking with functions). I don't know that there is a one size fits all solution in `Endpoint` or as bo

[2017-06-07 18:12] #637 closed

[2017-06-09 18:45] vkostyukov opened #784 "Support 405"
The idea is if the path is matched but the method is not we need to return 405 (we return 404 right now).

Just an implementation idea:

1. Extend `Input` to have a third member - `method`.
2. When the request comes in, set `Input.method` to request's method.
3. Change the implementation of `post`, `get`, etc combinators so they always match and update the `Input.method` member with their method v

[2017-06-09 19:59] vkostyukov commented on #781
`StatsReceiver` is defined in util-stats, which finagle-core depends on so we don't need any new dependency for this. Although I agree with @rpless I'm not yet sold this has to be part of finch-core.

I'd be happy to link the gist implementation from cookbook though.

[2017-06-09 21:41] vkostyukov commented on #784
I need to think about this more. Maybe things like `POST /users` and `GET /users` won't be working any more.

[2017-06-09 23:49] vkostyukov opened #786 "Deprecate .as[A] method for decoding"
The `.as[A]` method should only be supported for `HList => A` conversion (through the `Generic` instance). As far as the API changes go, I see the following migration schema:

- `param("foo").as[A]` becomes `param[A]("foo")`
- Should we do the same for headers? How popular is that to read non-string values out of headers?

[2017-06-09 23:51] vkostyukov opened #787 "Introduce Error.Source"
Basically a replacement for `RequestItem`.

This seems related to #581, but I still think we need both: `Error.Source` and `Endpoint.Meta`. We will use the first only in errors and we'll use the second for things like Swagger generation.

[2017-06-10 03:16] rpless commented on #581
I started a [branch](https://github.com/rpless/finch/tree/rpless/endpoint-meta) to implement this a few weeks back (sorry I probably should have mentioned it). I based it [the previous comment](https://github.com/finagle/finch/issues/581#issuecomment-243887768) Hopefully I'll have some time in the next week or so to follow up on it. The recent changes to endpoint (especially the one that removes `

[2017-06-11 04:20] vkostyukov opened #790 "Our Finch vs. Finagle benchmark isn't longer fair"
The problem is in the `Date` header. Finagle doesn't set it and we should fix it - make them both doing it.

[2017-06-11 17:19] vkostyukov commented on #790
Fixed in #791.

[2017-06-11 17:19] #790 closed

[2017-06-12 16:30] vkostyukov opened #793 "Forking Rerunnable"
I figured we should have an explicit discussion about that even though we chatted briefly several months ago. catbird-util is the only dependency of finch-core that also requires finagle-http, which means we usually have to publish it first (well, Travis has to). Shame on me, I completely forgot about that last time I did a release so we did it later (see #788).

I think having `Rerunnable` define

[2017-06-12 17:18] travisbrown commented on #793
This sounds reasonable to me, although if Finch ever wanted to use the Cats type class instances in catbird that would mean more duplicated code.

I know there are a few people using catbird outside of the context of Finch, but I'm not sure whether they're also using Finch and would need interop if there are two versions of this. I think it's safe to assume that's not the case, though.

Alternativ

[2017-06-12 17:24] vkostyukov commented on #793
Thanks @travisbrown! Sorry if I made it sound like you're guilty. It's totally me who wanted to get the release out of the door as fast as possible so this catbird dependency completely slipped my mind. Your dedication to the catbird releases, on the other hand, is unquestionable - catbird release happened before Finagle release was even announced (we're still working on a blog post).

[2017-06-12 17:25] vkostyukov commented on #793
@travisbrown Do you happen to know if people use `Rerunnable` outside of Finch context?

[2017-06-12 17:38] travisbrown commented on #793
It's at least possible that Stripe will be using it at some point before too long (outside the context of Finch). I'd be a little reluctant to have it in two places, especially since some Finch users are going to need a catbird dependency and then they'll have the confusion of two `Rerunnable`s floating around.

What do you think about moving all of catbird into Finch as a standalone root module (

[2017-06-12 17:51] vkostyukov commented on #793
Yeah, as much as I'd like to do that for the sake of simplifying Finch releases, I believe catbird deserves to be its own project.

What if we rename Finch's `Rerunnalbe` (I guess, `io.finch.internal.Rerunnable` is already a different name)? Do you think it would make a trick? It seems to me that `Rerunnable` is pretty standalone and isolated and I'm not seeing it interacting with other catbird ty

[2017-06-12 22:49] crispywalrus commented on #793
Rerunnable it  in catbird-util and depends on twitter-util not finagle-http, not that that changes the fact that upgrading the twitter eco-system requires publishing catbird first. That said we do use catbird outside of finch (we have some iteratee based processes) As long as I can have a Rerunnable effect from catbird that doesn't conflict with the finch version I don't see how this would cause i

[2017-06-12 23:06] vkostyukov commented on #575
I'm throwing this into the 0.16 milestone. The idea is to ship something similar to #583 (as an experimental API) and see if gets some adoption.

[2017-06-13 00:19] rpless commented on #793
Not a huge fan of the depulicating `Rerunnable`, but I do like the idea of dropping the dependency if we don't need it for anything else and our Rerunnable doesn't conflict with catbird-util. In the end, I think duplicating it as `io.finch.internal.Rerunnable` is probably the way to go. We'll just have to make a note in the release notes that anyone relying on the transitive dependency will need t

[2017-06-13 19:49] JoeEnnever opened #795 "bodyOption with a JSON output type 400's for an empty body"
We ran into this when upgrading from 0.12.0 to 0.15.0. Running this code:

[code]
And hitting the endpoint:

[code]

In 0.12.0, `bodyOption` would have `None` as the output.

[2017-06-13 21:21] vkostyukov commented on #795
Thanks @JoeEnnever! This is a bug in our body implementation that was surfaced by switching the transport over to Netty 4. As a workaround, you can stick to Netty 3 for now  (see release notes on how to do that).

Here is what happens. Netty 4 (when streaming is disabled) [sets `Content-Length` header to zero](https://github.com/netty/netty/blob/4.1/codec-http/src/main/java/io/netty/handler/codec/

[2017-06-14 17:43] #795 closed

[2017-06-14 18:09] vkostyukov commented on #795
The fix was published as [0.15.1](https://github.com/finagle/finch/releases/tag/0.15.1) patch release. Thanks again, @JoeEnnever for reporting this!

[2017-06-14 18:53] #575 closed

[2017-06-14 18:54] vkostyukov opened #797 "Add Bootstrap.includeDateHader and Bootstrap.includeServerHeader"
Both should be on by default.

[2017-06-14 19:59] vkostyukov commented on #793
From what I'm hearing, we're all on the same page. Let's fork it in 0.16 and see how things go. We can always bring the dependency back.

[2017-06-14 22:54] vkostyukov commented on #793
I opened a PR here: #798 798

[2017-06-15 00:41] vkostyukov opened #799 "Move ToResponse and ToService from internal"
They can live under `io.finch.*`. That's where they belong.

[2017-06-15 05:50] #799 closed

[2017-06-15 06:37] #797 closed

[2017-06-16 01:48] vkostyukov opened #806 "Update docs as of 0.16"

[2017-06-20 08:46] spockz commented on #778
As @DieBauer, I'm curious why this would be an improvement. It makes keeping the examples up-to-date harder, if things are in a different repository it is easier to forget them.

Also, how would this make releasing easier?

[2017-06-29 02:13] knasim opened #810 "wrk ?"
Great - I use wrk as well 👍

To stress test scala micro services built on finagle/finatra.

[2017-07-12 20:35] ImLiar commented on #667
I've picked it up and made some good progress. My approach is following:
- Get `AsyncStream[Buf]` from request
- Build `Enumerator[Future, Buf]` from it
- Use circe-streaming and transform `Buf` into `Json` and then `Json` into some `A`
- Use `Iteratee.fold` to build `AsyncStream[A]`

I guess it'll simplify life of potential users by hiding Iteratee/Enumeratee stuff under the hood.

[2017-07-12 21:12] vkostyukov commented on #667
Thanks @ImLiar! This is really cool!

One thought: I think we shouldn't try sticking to `AsyncStream[_]` API so hard. In fact, I'd prefer us using Circe/Iteratee abstractions instead (I honestly don't think `AsyncStream[_]` is a great tool for this job). I know we already support serving `AsyncStream[Foo]` (as a streaming JSON), but I really think we should reconsider that (and probably cut the su

[2017-07-12 21:35] ImLiar commented on #667
@vkostyukov

After dealing with Iteratee/Enumeratee for some time I have a feeling that it's complicated thing, so with exposing em outside this complexity will be shifted to finch users. Not sure about it.

Why `AsyncStream` can't be used for this in your oppinion?

[2017-07-12 21:39] vkostyukov commented on #667
We've been having lots of issues w.r.t. resource management in `AsyncStream` (also memory leaks just to mention a few). Speaking of performance, I'm quite confident it's way slower than Iteratee/Enumeratee abstractions (we can do some benchmarking if you will).

I think it's fine to expose Iteratee/Enumeratee powered endpoints withing a Circe context since it's what Crice uses itself. We'll see ho

[2017-07-14 00:27] #810 closed

[2017-07-23 09:50] marceloboeira commented on #631
My 2 cents:

That does not raise the warning:
[code]

However, this raises it:

<img width="458" alt="screen shot 2017-07-23 at 11 47 38" src="https://user-images.githubusercontent.com/1898225/28498397-da6303b0-6f9c-11e7-9568-e1c4f785f1d5.png">

And if I declare the params, it does not compile at all:

<img width="617" alt="screen shot 2017-07-23 at 11 49 07" src="https://user-images.githubusercon

[2017-07-23 10:16] marceloboeira commented on #631
It seems it was fixed on the Scala plugin version `2017.2.5`.
<img width="317" alt="screen shot 2017-07-23 at 12 16 04" src="https://user-images.githubusercontent.com/1898225/28498573-b9b3e0f4-6fa0-11e7-9543-76a56028897b.png">

[2017-07-28 14:47] ssenge commented on #631
@marceloboeira: I have the same setup but run into these issue, it is compilable though:

<img width="669" alt="screen shot 2017-07-28 at 16 42 10" src="https://user-images.githubusercontent.com/4066108/28722477-2b383416-73b4-11e7-8275-030393b3f714.png">
<img width="359" alt="screen shot 2017-07-28 at 16 42 35" src="https://user-images.githubusercontent.com/4066108/28722513-5245378e-73b4-11e7-9887

[2017-07-28 14:55] marceloboeira commented on #631
@ssenge they've disappeared after I updated the IDE/plugin. For me, it was compiling only over the terminal, but not from the IDE.

[2017-07-28 15:01] ssenge commented on #631
@marceloboeira: Compilable from IDE but wrong error highlighting :( Everything updated and rebuild.

[2017-08-09 15:11] kailuowang opened #818 "Can we mention finch in cats' README?"
in the list of cats ecosystem projects.

[2017-08-09 15:45] vkostyukov commented on #818
Yes, please (unless @rpless or @travisbrown has a different opinion)!

[2017-08-09 15:47] travisbrown commented on #818
👍 from me!

[2017-08-09 15:48] rpless commented on #818
:+1: as well

[2017-08-23 00:42] rpless opened #820 "Doc project no longer compiles and produces odd output."
Running `sbt docs/makeMicrosite` currently produces several TutExceptions. I've managed to clean up all of the exceptions in the doc snippets, but when I create the microsite I see a lot of warnings in the output code blocks, for example:
[code]
It seems the last time we pushed to the `gh-pages` branch was late March and then we updated 2 minor versions of sbt microsites that seem to have signific

[2017-08-23 21:36] vkostyukov opened #821 "ReuseWriters in finch-circe?"
As Circe now updated, we can think of enabling `reuseWriters` on its Printer. We should experiment.

[2017-08-23 21:37] vkostyukov commented on #667
I think we can close this now, after almost a year (h/t @ImLiar).

[2017-08-23 21:37] #667 closed

[2017-08-23 21:39] vkostyukov commented on #336
I vote we close this as we now have a first-class support for iteratee (our streaming story should be much mature now). Thanks again, @ImLiar, for the tremendous work!

[2017-08-23 21:39] #336 closed

[2017-08-23 21:48] vkostyukov commented on #793
I'm closing this for now. Based on the discussion here, we're not forking `Rerunnable` (at least, until 1.0).

[2017-08-23 21:48] #793 closed

[2017-08-23 21:49] vkostyukov opened #822 "Add docs for finch-iteratee"
We should add some basic docs around the new functionality.

[2017-08-24 08:06] ImLiar commented on #822
I'll pick it up as promised

[2017-08-24 10:45] ImLiar opened #823 "Update to finagle v7.0.0"
I think it's reasonable to update finch to finagle v7.0.0 before 0.16 (M2?) release

[2017-08-24 12:47] rpless commented on #823
I'm in favor of this too. Worst case I think we want to be using 7.0.0 by the full release of 0.16.

[2017-08-24 16:07] #818 closed

[2017-08-24 16:09] vkostyukov commented on #823
Yeah, I was hoping to get #804 merged so it's easier to update Finagle (catbird is already released against v7) from now on.

[2017-08-26 21:49] ImLiar commented on #786
Going to pick up this one if it's ok

[2017-08-27 05:19] spockz commented on #786
The only cases I know are authentication and.., just authentication.

[2017-08-27 19:04] vkostyukov commented on #823
This is now fixed in #826.

[2017-08-27 19:04] #823 closed

[2017-08-27 19:06] #777 closed

[2017-08-27 19:07] vkostyukov commented on #778
I think we should only move OAuth2 samples out of Finch (which is already done in #804). The rest of the samples will stay in Finch's main repository.

[2017-08-27 19:07] #778 closed

[2017-08-28 18:32] vkostyukov commented on #820
It's still a problem. We need to fix it and republish the docs.

[2017-08-28 18:43] ImLiar commented on #822
![closed](https://media.tenor.com/images/bee6a1a03fc6068588e88b61d421a956/tenor.gif)

[2017-08-28 20:01] #822 closed

[2017-08-29 04:42] nicosuave commented on #820
In case anyone needs access to the user guide & did not have previous exposure to tut (like me), you can view the guide [here](https://github.com/finagle/finch/blob/master/docs/src/main/tut/user-guide.md)

[2017-08-29 17:08] vkostyukov commented on #806
Also see #829, #820, #822.

[2017-08-29 17:08] #806 closed

[2017-08-29 17:09] vkostyukov commented on #820
Fixed now! Thanks a lot @rpless!

[2017-08-29 17:09] #820 closed

[2017-08-29 21:02] vkostyukov commented on #821
Also could be relevant: https://github.com/circe/circe/issues/738

[2017-08-31 02:56] rpless commented on #364
I'm kinda thinking we should close this. As much as I wanted scala-abide, it hasn't been touch since December of last year and as far as I can tell has never published to a public repository. I think we'll have to keep using `scalac` compiler options and Wartremover to lint our code.

[2017-08-31 03:00] vkostyukov commented on #364
Totally agree. Closing this.

[2017-08-31 03:00] #364 closed

[2017-08-31 03:00] rpless commented on #786
Yes, iirc, `.as` for `HList => A` should stay the same. I think we should include headers with this, because would be a more consistent API and there are use cases for numbers and (maybe UUIDs) being in headers.

[2017-08-31 03:03] vkostyukov commented on #786
Yeah, I guess the idea end state we want to be in is to keep `as[Foo]` as only a syntax extension for `HList => Foo` conversion.

I think I played with it in the past and turns out supporting a deprecation cycle would be a huge pain.

[2017-08-31 03:10] rpless commented on #787
I've been playing with an implementation of `Endpoint.Meta` and I see it working as a replacement for `RequestItems`, but I'm not quite sure about `Error.Source`. Was there some deeper modeling you were thinking of or was the idea to just change were `Error.scala` lives? I don't have a problem with either, just need more info to include that.

[2017-09-04 18:55] vkostyukov opened #832 "Deprecate old-style path matchers"
We should stick w/ a single style and deprecate `int`, `string`, etc matchers.

[2017-09-04 18:57] vkostyukov opened #833 "Deprecate implicit syntax"
It should be explicitly imported.

[2017-09-22 10:50] ChetanBhasin opened #836 "Context may be lost for error handlers in endpoints"
So, I came across an interesting problem:

Every action our application performs is the result of an HTTP request that came through a Finch endpoint. The contents of this request are propagated to other components of the application, which, in the end, returns a Future.

The problem with the Future is that it can fail, and this exception is handled by the `handle` function on endpoint that takes a

[2017-09-22 11:58] rpless commented on #836
Does the ID need to be passed around (in this case to `requestProcessor`? If not this seems like a good use case for [Filter](https://twitter.github.io/finagle/guide/ServicesAndFilters.html#filters). The Id can just be added on to the response from the filter.

If the ID is not application agnostic, then it seems like a good use case for [Finagle Contexts](https://twitter.github.io/finagle/guide/C

[2017-09-22 13:45] ChetanBhasin commented on #836
Yes, the ID would need to be passed around for it to be traced by other functions.

I don't understand how Finagle contexts are helpful here. The request here is converted to a case class object (`Something` here), and passed to other functions. The way `handle` is defined on endpoints, it still does not capture the context.

[2017-09-22 14:09] ChetanBhasin commented on #836
Ah, okay, I get what you mean now.

Sure, this gives us the ability to set the header. In case of an error however, you still can't log or do something else with this ID.

The context may also be used for customising the error message.

[2017-09-22 14:33] rpless commented on #836
I think you can still call `rescue` on the Future in the Filter and that will let you set an HTTP response with the event ID even if the service raises an error. Should let you return an event id and a custom error, in all but a few cases (like VM Errors and the things like that).

[2017-09-22 17:00] spockz commented on #836
Contexts are exactly designed for this and will chain properly over Future maps, handles etc.

[2017-10-02 20:00] vkostyukov commented on #422
Fixed in #834.

[2017-10-02 20:00] #422 closed

[2017-10-02 20:01] sergeykolbasov opened #839 "Documentation for ToTwitterFuture type class"
I think users would be glad to see that finch now supports different async models. But this feature should be documented first.

[2017-10-02 23:56] vkostyukov opened #841 "Upgrade to Finagle 7.1"
This would probably mean bumping Catbird to 0.18 as well.

[2017-10-06 18:03] #841 closed

[2017-10-08 19:59] #832 closed

[2017-10-09 17:37] vkostyukov opened #847 "ToTwitterFuture support in finch-iteratee"
As we now have `ToTwitterFuture`, can we abstract over a concrete IO primitive used in finch-iteratee? Right now it's fixed to Twitter Future.

/cc @ImLiar

[2017-10-10 10:51] ImLiar commented on #847
Yes, I'll take care of it

[2017-10-10 21:31] ImLiar commented on #847
Seems like it's not that trivial.

@vkostyukov How do you imagine an API of `finch-iteratee` with this abstract `M[_]`?
Because now it looks like:

[code]

[2017-10-19 03:29] s-nel opened #852 "Finch doesn't see request body with in-process client+server"
Problem: when I create a Finagle client and send a Post request directly to the `Service[Request, Response]` returned from `Endpoint.toService` the request body sent to the Finch service it isn't seen by Finch and I get 400 response "Required body not present in the request." This only happens when I send requests directly by method calling. It doesn't reproduce when I call `serve` on the service

[2017-10-19 07:49] ImLiar commented on #852
Hi @s-nel

Thank you for this detailed explanation! It seems you also have to specify content-length for request manually:
[code]

You could check sources [here](https://github.com/finagle/finch/blob/master/core/src/main/scala/io/finch/endpoint/body.scala#L24)

I guess in case when you start the full server, finagle (or may be even netty), handle this missing header on the fly, but I'm not sure ab

[2017-10-19 16:28] rpless commented on #852
Yeah we do this because of https://github.com/finagle/finch/issues/795. We have to in order to handle optional empty bodies correctly. As part of HTTP, if you have a content body you are kinda supposed to set Content-Length like @ImLiar said. In the case of the example `Service` that you created, its acting exactly as you defined it, because you aren't checking content-length, whereas we have to c

[2017-10-19 19:47] s-nel commented on #852
Thanks for the quick replies! After specifying content length it works.

[2017-10-19 19:47] #852 closed

[2017-10-24 22:35] #348 closed

[2017-10-24 22:36] #405 closed

[2017-10-24 22:37] vkostyukov commented on #621
Closing for now. If anyone ends up shipping this under its own project, let me know - I'd be happy to move it over the Finch org.

[2017-10-24 22:37] #621 closed

[2017-10-24 22:52] vkostyukov commented on #670
Thanks for the patience @od0!

I totally understand the struggle of defining 60+ endpoints with Finch. I'm really not saying it wasn't designed for "big" applications, but relying on types while composing endpoints has its flaws. It's pretty obvious when you think about it: in order to take advantage of types, you have to keep them around. This means pushing both the compiler and the IDE to the li

[2017-10-24 22:55] vkostyukov commented on #670
Oh, one more thing. `Bootstrap` (see https://github.com/finagle/finch/releases/tag/0.16.0-M1) should help you to break down endpoints even further. My guess is that you can define ~70 endpoints per `Bootstrap.serve`, which makes it effectively "unlimited" given you might call `serve` lots of times.

[2017-10-26 11:08] david1983 opened #857 "Error while importing SBT project"
I've tried both the stable and SNAPSHOT version but I keep getting this error:

Error:Error while importing SBT project:<br/>...<br/><pre>[info] Resolving org.spire-math#json4s-support_2.10;0.6.0 ...
[info] Resolving org.scala-sbt#io;0.13.16 ...
[info] Resolving com.thoughtworks.paranamer#paranamer;2.6 ...
[info] Resolving jline#jline;2.14.4 ...
[info] Resolving org.scala-sbt#classpath;0.13.16 ...

[2017-10-26 15:29] rpless commented on #857
It looks like the artifact you're trying to download is `finch-module` which doesn't exist. I think you probably want `finch-core` and possibly one of the other [modules](https://github.com/finagle/finch#modules).

[2017-10-26 22:36] #857 closed

[2017-10-27 08:33] david1983 commented on #857
Thank you :+1:

[2017-10-29 17:05] anatoliykmetyuk commented on #765
Can anyone please clarify on how exceptions are rendered now? Currently, when I return say a `BadRequest` of an exception with some text, on the client side it shows up as a response code `400` with no message.

[2017-10-30 13:40] rpless commented on #765
Hi @anatoliykmetyuk, it looks the rendering of the docs is a little messed up, but if you look at the bottom of [this section](https://finagle.github.io/finch/user-guide.html#errors), it shows that you can do this:
[code]
I'll try to fix those up later so its clearer how to render errors.

[2017-11-06 03:51] KumarWaghmode opened #860 "Error in post json request containing character '='."
Finch Version - 0.15.0
Random calls failing with exception in org.jboss.netty.handler.codec.http.multipart.HttpPostRequestDecode.
These calls working when I use HTTP PUT call with the same signature.
Observation-
Call fails when JSON contains '=' character.
Incidentally, these calls are working when JSON data is in the pretty format.
Is there any way by which I can disable multipart decoding for p

[2017-11-06 13:26] rpless commented on #860
Hi @KumarWaghmode could you post an example of the json and endpoint you are using? Also what Json library are you using? This information will make it easier for us to look into this issue.

[2017-11-06 18:55] KumarWaghmode commented on #860
@rpless
[code.txt](https://github.com/finagle/finch/files/1447409/code.txt)
Sample Request
[request.txt](https://github.com/finagle/finch/files/1447413/request.txt)
When I pass optional parameter 'worklog' or when I prettify JSON its working fine.
not working-http://localhost:8081/test
working-http://localhost:8083/test?worklog=true

[2017-11-06 21:10] ImLiar commented on #860
Hi @KumarWaghmode
Could you provide the full stack trace of an error?

[2017-11-06 23:57] rpless commented on #860
This is the stacktrace that I see https://gist.github.com/rpless/95eef11836c7806c7038595b8839ae1d.
One interesting thing I noted was that when I removed `:: paramOption("worklog")` from the endpoint, it works as expected with the `=`. I think this might be a finagle thing. Basically in 6.45.0, a requested is treated as multipart if its not chunked and is a POST (https://github.com/twitter/finagle/

[2017-11-07 00:44] vkostyukov commented on #860
Ugh. Multipart support in Finagle (and in Finch by this very reason) is just so bad.

I'm not sure why Netty decides to generate a file with a long name, but I think it's not right that multipart decoding is happening at all. I will try to look into that from the Finagle side as we're now in the middle of decoupling multipart decoding from Netty 3.

[2017-11-07 21:31] vkostyukov commented on #860
Besides fixing FInagle/Netty, how do people feel about stopping decoding multipart in `param`? Right now it's possible to access multipart attributes via `param` (as well as query string params and url-encoded POST params). Maybe we should just make it explicit. Something like `multipartAttribute()` (and make also rename `fileUpload` to `mtultipartFileUpload` to make it explicit)?

[2017-11-13 17:38] richiesgr opened #866 "Cannot compile class using Finch with Scala 2.11 (Maven)"
Hi

I'm trying to write this
[code]
The first Endpoint compile the second I get 3 errors

[code]

Working with 2.12

Totally lost Now
Thanks

[2017-11-13 21:07] ImLiar commented on #866
Hi @richiesgr

Could you provide a reproducible example of this failure? All the imports, the version you're using, ideally git repo?

Because it works for me normally

[2017-11-13 21:17] ImLiar commented on #866
Hi @richiesgr

Could you provide a reproducible example of this error? With all the imports, fixed version, ideally git repo?

Because for me it works fine on 2.11 and 2.12

[2017-11-14 09:04] richiesgr commented on #866
Hi
here is the github [repository](https://github.com/inneractive-opensrc/hermes)
look at the branch called inneractive-events
Thanks

[2017-11-14 17:34] vkostyukov commented on #866
So what's interesting is this is a Maven project. Do we know what Scala compiler Maven is using?

[2017-11-14 17:47] vkostyukov commented on #866
I actually can't compile it with `mvn` (assuming `mvn compile` is what need to do):

[code]

[2017-11-14 21:28] richiesgr commented on #866
Sorry about this I'll try to fix it and push tomorrow
Thanks for the support

[2017-11-15 14:55] richiesgr commented on #866
Hi
Sorry for the delay I've fixed all the dependency issue and now you can pull and see only the error relative to finch
Thanks

[2017-11-15 14:57] richiesgr commented on #866
By the way Maven use a Plugin to compile scala code in pom.xml file you can see

      <plugin>
        <groupId>net.alchim31.maven</groupId>
        <artifactId>scala-maven-plugin</artifactId>
        <version>3.2.1</version>
        <configuration>
          <args>

            <arg>-Xexperimental</arg>
          </args>
        </configuration>
        <executions>
          <execution>

[2017-11-15 17:42] ImLiar commented on #866
Huh, it sounds like SAM takes a precedence over implicit conversion (well, it should) and fails to compile. Could you try to disable `-Xexperimental`?

[2017-11-16 08:34] richiesgr commented on #866
Ok If I remove the flag the finch code compile but a lot of other stuff from other framework doesn't so this is not a good solution

[2017-11-16 13:51] ImLiar commented on #866
@richiesgr try to update Scala to 2.11.12

[2017-11-17 14:58] ImLiar commented on #847
Another problem is that now we need isomorphism between `M[_]` and Twitter Future because finagle reader returns `Future[Buf]`. It means that simple `ToTwitterFuture` is not enough anymore.

[2017-11-17 15:01] ImLiar commented on #631
This one should be solved now with #858

[2017-11-21 06:18] #860 closed

[2017-11-21 12:14] richiesgr commented on #866
@ImLiar
Already tried not working

[2017-11-21 23:58] vkostyukov commented on #821
We added `predictSize` in #868. I think we can close this one.

[2017-11-21 23:58] #821 closed

[2017-11-22 00:08] vkostyukov commented on #866
I tried it in SBT (including the `-Xexperimental` option) and everything works fine (so it seems like a Maven problem for me):

[code]

[2017-11-26 18:22] vkostyukov commented on #836
Contexts don't necessarily have to be used via `Request.ctx`. They are plain locals (think of `ThreadLocals` but for Futures) so you may access them directly. Here is a quick example:

[code]

As @rpless pointed out, it's possible to place a filter (before your endpoints) that assigns all the local/context pieces to a given request so it will keep following that request during its lifecycle.

[2017-11-26 18:23] #836 closed

[2017-11-27 05:24] vkostyukov commented on #786
Looks like we also need to add `multipartAttribute` to the list.

[2017-11-28 21:12] vkostyukov commented on #786
I'm closing this for now as I'm not sure we have to wait for `multipartAttribute` to support a new pattern. The `multipart*` API is quite new and I think it's actually quite fine to wait a couple of more iterations before evolving it.

[2017-11-28 21:12] #786 closed

[2017-11-28 21:45] vkostyukov opened #877 "Should we support method/verb matching w/o syntax"
As syntax is now should be explicitly enabled (see #876), I wonder if we should provide non-syntax versions of `get`, `post`, etc method matchers.

Some ideas:

[code]

Hello World examples:

A:
[code]

B:
[code]

[2017-11-30 17:22] #833 closed

[2017-12-06 00:44] rpless commented on #877
Another possibility could be:
[code]

[2017-12-06 16:33] vkostyukov commented on #877
Oh yeah, that's a good idea and and fits nicely into the current way of constructing endpoints w/o syntax.

[2017-12-27 10:36] ImLiar commented on #784
@vkostyukov
I have something in my mind. Going to take care of it

[2017-12-29 22:42] ImLiar opened #885 "Add documentation about Mapper capabilities"
I've been asked a lot if an endpoint could return `Future` or `A` or `B`.
Currently, it states that one could abstract over arity and apply function to Endpoint: https://github.com/finagle/finch/blob/master/docs/src/main/tut/user-guide.md#mapping-endpoints

The example is slightly incorrect, also it's worth to mention all possible types this function can return. On a side note, it could be useful

[2017-12-31 19:08] #587 closed

[2018-01-03 01:52] vkostyukov opened #890 "RequestItem doesn't have to be on Endpoint"
It's not used as of 0.16. Let's remove it for now. Ideally, it has to be replaced with something like `Error.Source` (see #787) or a metadata (see #581).

[2018-01-03 05:42] vkostyukov opened #891 "Remove circe-jackson dependency?"
I wonder how many people actually use. We should probably ask around and either extract it into its own project or just simply remove it.

[2018-01-03 05:54] vkostyukov commented on #890
Looks like we have to remove `should*` methods from the `Endpoint` first. This relates to #513.

[2018-01-03 05:56] vkostyukov commented on #513
I think what we should aim for is to have default endpoints (i.e., `param`, `header`) returning `Endpoint[ValidatedNel[Error, A]]` instead of `Endpoint[A]`. A very similar (yet simpler) approach is described in [this gist](https://gist.github.com/vkostyukov/6192a5280e485661d3d5f88dd5899f54).

[2018-01-03 09:51] ImLiar commented on #513
What about the composition of endpoints?
Let's say I have:
[code]

What is a type of `A?` and `B?` here?

[2018-01-03 21:38] vkostyukov opened #892 "Extract finch-jackson into its own project"
I wonder if we should extract it and keep our main project thinner.

[2018-01-05 18:18] mtomko opened #895 "import io.finch.syntax._ shadows _root_.scala._"
Changes from https://github.com/finagle/finch/pull/876 to support explicit syntax selection result in potential and undesirable package conflicts between the packages `io.finch.syntax.scala` and `_root_.scala`.

With syntax selection, we explicitly import a syntax by importing either `io.finch.syntax._` or `io.finch.syntax.future._`.

Since `io.finch.syntax` contains a package called `scala`, `imp

[2018-01-05 19:08] mtomko opened #896 "Deprecated definitions in io.finch conflict with new definitions in io.finch.syntax"
Conventionally, we tend to import `io.finch._` to pick bring things like `Endpoint`, `Output`, `Ok`, etc, into scope. Since https://github.com/finagle/finch/pull/876, the definitions of, eg,`io.finch.get` have been deprecated in favor of `io.finch.syntax.get`.

For certain draconian compiler settengs, at least, importing:
[code]
results in compiler errors:

[code]

For a simple repro case, clone h

[2018-01-05 19:20] ImLiar commented on #895
Thanks for report @mtomko

Yeah, it's a real bummer.
I think the most reasonable solution would be to rename `scala` package into something different.

I'll land a PR this weekend

[2018-01-05 20:23] mtomko commented on #895
made a PR: https://github.com/finagle/finch/pull/897

[2018-01-05 20:43] ImLiar commented on #896
@vkostyukov @mtomko

Seems that import shadowing is the only temporary solution till 0.17* release.

I propose to use cats-like approach and split everything to separate modules: `endpoints`, `validation`, `outputs`, `syntax` i.e. It'd help keeping namespace clean

[2018-01-05 21:18] mtomko commented on #896
I've been trying to work around this by explicitly importing things I need from `io.finch` and have gotten most things in, but there's something I'm still missing. I also tried importing the deprecated `get` and `post` methods out of the way, but my draconian compiler settings won't let it through. Without opening up that can of worms, I think I'm blocked on upgrading until this is resolved.

[2018-01-05 21:25] mtomko commented on #896
Specifically, I can't figure out what to import to get `::` to work correctly when composing endpoints:
[code]
[code]

[2018-01-05 21:42] vkostyukov commented on #896
I would probably vote against splitting the namespace (at least right now). As I mentioned in the Gitter room, it seems the only reasonable option (that also moves us towards a desirable end state) is just to remove syntax support from `io.finch._` and ask people to import it explicitly.

[2018-01-08 17:04] #895 closed

[2018-01-09 17:15] mtomko commented on #896
@vkostyukov https://github.com/finagle/finch/pull/889 fixes this issue.

[2018-01-10 19:24] vkostyukov commented on #896
I'm going to un-deprecate the `io.finch._` syntax in 0.16 as there is no reasonable way to fix it.

[2018-01-10 19:58] vkostyukov commented on #896
This is fixed in the [0.16.1 release](https://github.com/finagle/finch/releases/tag/0.16.1).

[2018-01-11 10:58] senthilvasan opened #901 "Composing endpoint where both use path doesn't seem to work"
Using finch 0.16.1 on java 1.8

Probably best to explain with this small scalatest:

    test("simple test") {
        val simpleAuth = header("Authorization").mapOutputAsync { _ =>
          Future(Ok("ID"))
        }

        val complexAuth = get(path("yyy") :: path[String] :: header("Authorization")).mapOutputAsync { case _ :: _ :: HNil =>
          Future(Ok("ID"))
        }

        val eSim

[2018-01-11 17:51] vkostyukov commented on #901
Yeah, this is expected. We talk about this a little in the [Understanding Enpdoints](https://finagle.github.io/finch/user-guide.html#understanding-endpoints) section. Essentially, an endpoint operates on a state of `Input` so it produces a new `Input` (a remainder of the path) after being applied.

[2018-01-14 00:45] matskoff opened #902 "path[String] parameters are URL-encoded"
Is it supposed to keep path[String] url-encoded?
Here is an example:

[code]

Opening the url: http://localhost:8080/hello/1%2B1?param=1%2B1
I see: Passed as path: 1%2B1. Passed as param: 1+1.

Is different behavior on decoding path and url parameters expected? What is the best way to decode path parameters?

[2018-01-17 21:24] senthilvasan commented on #901
Thanks for the quick answer!

[2018-01-17 21:24] #901 closed

[2018-01-18 22:23] vkostyukov commented on #902
Interesting. I'd expect this to be decoded in the output. What do you think @rpless, @ImLiar?

[2018-01-18 22:33] ImLiar commented on #902
Yea, I think it should be decoded.

RFC for URI says that

   component when that octet's corresponding character is outside the
   allowed set or is being used as a delimiter of, or within, the
   component.

Since path and query parts both are components here, I see no reason to apply different rules

[2018-01-19 19:00] vkostyukov commented on #866
@richiesgr Did you figure out how to unblock yourself?

[2018-02-05 19:53] vkostyukov commented on #510
Implemented in #905.

[2018-02-05 19:53] #510 closed

[2018-02-06 22:36] vkostyukov opened #911 "Do not decode multipart multiple times"
As of Finagle 18.2 (see #910), `Multipart` data type is no longer attached to a request so we have to do some sort of special plumbing to make sure two subsequent endpoints don't decode it twice:

[code]

[2018-02-07 22:45] vkostyukov commented on #911
Possible fix #912.

[2018-02-08 17:07] #911 closed

[2018-02-08 17:12] vkostyukov commented on #891
We'll deprecate it in 0.17 and remove in 0.18.

[2018-02-08 17:26] travisbrown commented on #891
👍

[2018-02-10 00:29] #891 closed

[2018-02-18 22:17] #902 closed

[2018-02-26 02:47] vkostyukov commented on #892
See https://github.com/finch/finch-jackson

[2018-02-26 17:11] #892 closed

[2018-03-06 09:29] joroKr21 opened #923 "toService with Circe takes forever to compile for large Coproducts"
Looks like `valueToResponse` might send the compiler on a wild goose chase to look for `Encoder` instances at each step of the `Coproduct` induction, but we never really want to do that!
I.e. `Encoder` instance of the `Coproduct` tails.

[2018-03-06 16:17] vkostyukov commented on #923
Thanks for the issue, @joroKr21! Sorry, I'm not sure I follow the part about not asking for an encoder for each coproduct part. What do you mean by that?

[2018-03-06 20:34] joroKr21 commented on #923
Sorry, I was in a bit of a hurry and I didn't phrase that well.

The problem I see is that `ToResponse` tries to do too much at once. It iterates over the elements of a `Coproduct` **and** it looks for an `Encoder` for each element. This would be the type-level equivalent of an imperative for-loop. Now that I say this, it occurs to me that I can probably make use of a type-level `foldLeft` or `fol

[2018-03-06 20:37] joroKr21 commented on #923
The worst compile times I experienced were ~4min for a single service (on my laptop). I can't check the number of endpoints right now, but I can follow up later.

Nitpick: this issue is not a question and not a bug per se. It can be classified as optimization or enhancement if you have any such labels.

[2018-03-06 23:08] vkostyukov commented on #923
I think Finch actually used  Shapeless' folder (`LeftFolder`?) as an initial implementation for its coproduct endpoints, but we decided to reimplement it as a simple induction for the sake of efficiency. If I remember correctly, a folder was slowing down compile times.

[2018-03-07 21:00] vkostyukov opened #926 "Adopt cats-effect type-classes?"
I figured we should consider this as a way to abstract over concrete IO type for `Endpoint`.

As @travisbrown mentioned, there is no way to provide law-full instances of effect type-classes for Twitter Futures. Maybe doing so for `Rerunnable` is a fine middle-ground?

[2018-03-08 21:19] sergeykolbasov commented on #926
I wonder how it'd affect performance

[2018-03-12 17:13] #923 closed

[2018-03-18 20:51] vkostyukov commented on #784
Fixed in #927.

[2018-03-18 20:51] #784 closed

[2018-03-19 21:41] vkostyukov commented on #631
I think we're in a good place to close this. We can always re-open if things get broken again. Huge thanks to @sergeykolbasov for taking a stub on fixing this!

[2018-03-19 21:41] #631 closed

[2018-03-19 21:42] vkostyukov commented on #866
Hey @richiesgr, I'm going to close this for now. Let us know if you're still blocked by this.

[2018-03-19 21:42] #866 closed

[2018-03-19 21:52] vkostyukov commented on #670
@od0 and others,

I'm going to close this for now given `Bootstrap` helps to mitigate this.

I wanted to take some time and reflect on @od0's comment from a year ago since I think we accomplished quite a lot since that time.

0.18 has quite significant compile time improvements (see #924). In addition to that, [circe-derivation](https://github.com/circe/circe-derivation) (assuming you use Finch wi

[2018-03-19 21:52] #670 closed

[2018-03-22 01:42] jsancio opened #929 "apply method for Header Endpoin should use headerNotParsed instead of paramNotParsed"
The following [code](https://github.com/finagle/finch/blob/master/core/src/main/scala/io/finch/endpoint/header.scala#L22) is calling [paramNotParsed](https://github.com/finagle/finch/blob/master/core/src/main/scala/io/finch/internal/Rs.scala#L60) when it should be calling a method called `headerNotParsed`. I noticed that such method is not implemented.

This results in`Finch` reporting header pars

[2018-03-22 15:36] vkostyukov commented on #929
Hey @jsancio! Sorry for the troubles. Any chance you want to open a PR with a fix?

[2018-03-22 16:57] jsancio commented on #929
I'll try to do this today or tomorrow. I don't have a lot of free time right now. Thanks!

[2018-03-23 22:12] vkostyukov commented on #929
Fixed in #930.

[2018-03-23 22:12] #929 closed

[2018-03-27 09:16] joroKr21 opened #931 "There is no way to handle Output.Failure"
`Output` is similar to `Try` in that it can carry captured exceptions but there is no way to handle them. Ideally there should be a `MonadError[Output, Throwable]` instance. I guess the same is true about `Output.Empty` but the type class for that is in cats-mtl - `FunctorEmpty`.

Is this a deliberate design choice or does it make sense to add the `MonadError` instance?

[2018-03-27 17:46] vkostyukov commented on #931
Interesting. Can you expand on handling the `Output.Failure`? What's the exact use case?

[2018-03-27 18:43] joroKr21 commented on #931
I have an `Endpoint[Foo]` that I would like to transform to an `Endpoint[Bar]`. I have combinators to deal with the happy path and with failures in the underlying `Future` (via `Endpoint.handle`). I can even look at the status code of the underlying `Output` but not at the `Exception` if it's a `Failure`. And in this case I want to look at the `Exception`.

You could say that I want to know too mu

[2018-03-27 18:48] vkostyukov commented on #931
Yeah, our initial design assumed users don't need to handle `Output` themselves. I'd assume you can workaround this limitation by replacing your `Output.Failure` with failed future (assuming you control that part).

The intention for `Output` is the be a placeholder for an actual HTTP response. It just happened to have `map`, `flatMap` (to simplify `Endpoint` internals) but neither of those indent

[2018-03-29 14:13] joroKr21 commented on #931
Ok then, I worked around the issue by special casing it.

[2018-03-29 14:13] #931 closed

[2018-04-12 05:34] prayagupd opened #933 "finagle finch endpoint multiple headers"
This is a help question not an issue.
I'm playing with twitter finch API to figure out if I can choose it to write my next REST API. (Know little bit of fp but coming from spring world)

I have a `GET` endpoint which takes [one header](https://finagle.github.io/finch/user-guide.html#headers) `X-CORRELATION-ID`; which is [working great](https://github.com/duwamish-os/chat-server/blob/master/src/mai

[2018-04-12 06:50] sergeykolbasov commented on #933
Hi

I think you forgot brackets in the last example:
[code]

It should work perfectly

[2018-04-12 17:43] prayagupd commented on #933
Thank you Sergey. I should have tried that but don't know why I missed. Appreciate helping on this basic question.

Here's working piece,

[code]

[code]

[2018-04-12 17:43] #933 closed

[2018-04-13 16:59] vkostyukov opened #934 "Extract finch-argonaut into its own project"
Based on downloads stats from Sonatype, only 1% of downloads account to finch-argonaut.

[2018-04-13 17:00] vkostyukov opened #935 "Extract finch-playjson into its own project"
Only 1% of downloads account to finch-playjson.

[2018-05-29 19:11] vkostyukov opened #941 "Get rid of paramExists and headerExists endpoints"
I'm not sure if these two endpoints are used by anybody so please speak up if your app relies on them.

These *exists endpoints complicate the evaluating logic quite significantly and, moreover, I'm not sure they promote a reasonable pattern. In my mind's eyes, `paramOption` and `headerOption` are better suited to handle optional values and the routing/matching should purely depend on the verb + p

[2018-05-30 02:44] spockz commented on #941
I need to check whether we use the `*exists` methods and agree that the `*Option` methods are more functional.
However, why should routing only be done on method+path? It is powerful to be able to route to different endpoints based header values or the existence of a parameter.

[2018-06-13 16:35] vkostyukov commented on #941
@spockz Right. I'm just not sure routing by header/param is neither something people do - nor should be available out of the box. These are quite easy to implement in an ad-hoc manner yet they complicate lots of internal machinery when built in.

[2018-06-13 18:05] spockz commented on #941
@vkostyukov I’m confused. If it is easy to implement as an endpoint by a application developer using finch without diving into internals, how can it complicate internals? Can’t we just offer that implementation the application developer would make?

[2018-06-16 21:49] vkostyukov commented on #941
I hear what you're saying. I'd be fine with decoupling those `*Exist` endpoints from the rest of the hierarchy I'm just not sure if it's worth it. I asked around on the Gitter channel and based on positive votes on this ticket, I think we're safe to remove them.

As a middle ground, I'd be open for a cookbook recipe that explains how to implement such endpoints. In my minds eyes, this would be way

[2018-06-19 22:44] vkostyukov opened #951 "Extract finch-json4s into its own project"
Only ~500 downloads (0% of total) accounted for it in May 2018.

[2018-06-19 22:47] vkostyukov opened #952 "Extract finch-sprayjson into its own project"
Only 350 downloads accounted for it (<1% of total) in May 2018.

[2018-06-19 23:01] #935 closed

[2018-06-20 17:17] vkostyukov opened #953 "EndpointResult.Matched may need to contain the "matched route""
See [Gitter room](https://gitter.im/finagle/finch?at=5b2a8a717d3bca737af5f4cf) for more details.

If we had that, we would be able to employ this information in `ToService` and

 - Extract the matched route into a Response context (see #855)
 - Export some useful metrics (see #845)

Obviously, this comes at the cost of extra allocations.

[2018-06-20 17:18] #941 closed

[2018-06-20 18:18] vkostyukov commented on #926
We could also try https://github.com/traneio/arrows as a drop-in replacement for `Rerunnable`.

[2018-06-21 10:52] travisbrown commented on #926
@vkostyukov I like this idea. I'm planning to add a catbird-arrows module with Cats and cats-effect instances for `Arrow` / `Task`, and I think it might make sense for Finch to replace the catbird dependency with arrows, and users who want Cats instances can pull in catbird themselves.

[2018-06-21 16:50] vkostyukov opened #954 "Rerunnable -> Arrow/Task"
As discussed in #926, we want to try replacing `Rerrunable` with `Arrow`/`Task` (https://github.com/traneio/arrows).

This is an internal API change and should not affect users.

[2018-07-02 16:28] vkostyukov opened #955 "A Cookbook recipe of using a Finagle client"
This has been asked several times and we should have a cookbook example already.

[2018-07-04 03:06] edvorg opened #956 "Optionally disable endpoints"
Hi, I have a service where parts of the final Endpoint can be disabled with configuration switch. Due to each Endpoint[A] having a different type I end up with code like this
[code]

It's quite ugly and has duplicated code, because I can't just store any service in a variable. I'm sure there should be a better way I'm not aware of, could you please help me with that?

[2018-07-04 03:29] rpless commented on #956
@edvorg I've been dealing with a similar problem to this quite recently. What I ended up with was creating multiple `App`s in a repository. Basically multiple executables that can be run. In a development, the dev can just pick the one they want via sbt. For deployments, its a little dependent if you're using something like sbt-pack or sbt-assembly, but the main class has to be specified anyway so

[2018-07-04 04:40] edvorg commented on #956
I think you got the idea correctly, on the very basic level I'd like to have switches in application.conf

- web frontend (on/off)
- apple authentication (on/off)

And in application code instead of snipped above I'd like to do somethink like
[code]
Though I can't due to type-safety of Endpoint

[2018-07-04 06:59] sergeykolbasov commented on #956
The simplest way would be to use `Either[TestEndpoints, ProdEndpoints]` returning `Right` or `Left` from corresponding branches and then fold it into `Service`

[2018-07-04 11:04] edvorg commented on #956
@sergeykolbasov that's interesting didn't think about it. I guess the end I would have something like
[code]
Then my problem would reduce to flattening this Either into some particular Service. I'm not quite sure if it's possible though

[2018-07-04 11:11] edvorg commented on #956
I tend towards some type-erasure / reflection magic though, because I don't really care about final type of my endpoint, all I need is to get an instance of Service no matter what combination of endpoints I had. It means that all the type-safety could happens somewhere under simple abstraction that allow me to call toService and get a service.

[2018-07-04 16:08] rpless commented on #956
I suspect it can't figure out what Decodes it needs to summon in order to make the toService call. I don't see it in  your example above, but I'm assuming you have `io.finch.circe._` and any circe decoders that you need imported somewhere in the file. Even with those I'm not sure if the compiler will be able to figure out the types of the endpoint correctly.
This might be a case where `Bootstrap`

[2018-07-05 20:38] vkostyukov opened #958 "Dispatching to a decoder based on Content-Type header"
This came out of [this Gitter discussion](https://gitter.im/finagle/finch?at=5b3e7ce0bd92d80782971b48).

As of now, Finch's `body*` endpoints don't really care about input's content-type as it's only being used to lookup decoders at compile time. It would be awesome if we can employ the fact we can resolve multiple decoders at compile time, and dispatch input to them later, when endpoint is being

[2018-07-06 13:43] edvorg commented on #956
Thanks, I'll give it a try next week. Seems similar to what I proposed above.

[2018-07-07 05:12] vkostyukov commented on #953
Implemented in #957.

[2018-07-07 05:12] #953 closed

[2018-07-12 21:14] vkostyukov commented on #958
That's good with me, @sergeykolbasov!

I want to aim to ship this in the next release. It /seems/ possible given we already did a very similar trick on the outbound path.

[2018-07-13 07:57] erikwj commented on #955
WIP

[2018-07-13 16:37] vkostyukov opened #963 "Add docs for Trace"
We can pretty much move release notes under the user guide.

[2018-07-14 18:51] #955 closed

[2018-07-14 18:51] vkostyukov commented on #963
Done in #965.

[2018-07-14 18:51] #963 closed

[2018-07-15 01:58] vkostyukov commented on #781
Implemented in #960 and #957.

[2018-07-15 01:58] #781 closed

[2018-07-15 18:01] vkostyukov opened #967 "Determine if we should inspect Content-Type before applying a (single) decoder"
See #966 for a discussion.

[2018-07-15 18:04] vkostyukov commented on #958
Implemented in #966.

[2018-07-15 18:04] #958 closed

[2018-07-23 06:00] edvorg commented on #956
Sorry, for such a long delay. Was occupied with other things. I gave Bootstrap a try and it seems to be very much like the class I introduced above. Though I hit the same problem decoders. I guess this is not something finch can solve for me, so I'm closing this issue.

[2018-07-23 06:00] #956 closed

[2018-07-23 06:11] edvorg commented on #956
Eventually refactored in something like this
[code]

[2018-07-23 20:33] vkostyukov commented on #954
This is implemented in #964. We'll release both Finch with Rerunnable and Finch with Arrows in 0.23 (under different artifacts but same version).

[2018-07-23 20:33] #954 closed

[2018-07-23 20:36] vkostyukov opened #968 "Collect feedback from early adopters of Arrows (instead of Rerunnable)"
Before making a decision of moving to Arrows completely, we want to release it under its own artifact and let people try it. Hopefully, we can migrate entirely in 0.24.

[2018-07-28 19:50] vkostyukov commented on #951
Done in #971.

[2018-07-28 19:50] #951 closed

[2018-08-08 16:02] vkostyukov commented on #926
@sergeykolbasov I was hesitant about doing this before 1.0 but maybe I'm being too conservative and it's just a perfect time to do that today. How about we tried to talk to our adopters and see how they feel about `Endpoint[F[_], A]`?

[2018-08-09 20:30] sergeykolbasov commented on #926
@vkostyukov I can land a PR with `experimental` API being under the separate subproject. In that case, there will be no need to keep 100% backward-compatibility.

[2018-08-10 15:32] vkostyukov opened #975 "Move finch under finch/finch (instead of finagle/finch)?"
This may help with discoverability. I don't a strong preference at the moment and eager to hear what people think.

[2018-08-10 22:26] vkostyukov commented on #847
If we end up adopting `cats-effect` (ses #926) we won't need this.

[2018-08-10 22:38] vkostyukov commented on #926
@sergeykolbasov I'm not sure we absolutely have to keep the API unchanged. It's one of those changes when the net positive impact in a long run may be worth breaking an API a bit.

I'm wondering if we can do this work in a separate branch for now and publish it under a separate artifact - so we give people time to opt-in (should they want to).

[2018-08-11 11:36] frgomes commented on #975
This would be a good opportunity to consolidate internal/external dependencies across the entire suite of projects. At the moment, a certain project A depends on X.x whilst a certain project B depends on X.y. We have to eye-ball several projects in order to avoid jar hell. Ideally, all internal/external version numbers should be sitting on a single place, shared across the entire suite.

[2018-08-12 05:44] sergeykolbasov commented on #847
Actually, it'll be required to turn endpoint into service, as it should
return Future.
On Sat, 11 Aug 2018 at 1.26, Vladimir Kostyukov <notifications@github.com>
wrote:

[2018-08-13 14:29] sergeykolbasov commented on #847
ah, wrong ticket.

nvm, closing it

[2018-08-13 14:29] #847 closed

[2018-08-13 16:55] chris-vale-ck commented on #975
@vkostyukov I don't see a lot of reason to prefer `com.github.finagle` to `com.github.finch` or `io.finch` as the groupId for new releases as long as there are warnings (and perhaps dual publishing) I personally like having `finagle` in some part of the the name but that's just due to me being used to it. If there ends up being wide agreement to move I'd prefer `io.finch` as it's what the code use

[2018-08-13 19:04] sergeykolbasov commented on #975
It'll damage SEO for some time, but in a long-term sense it should be better.

[2018-08-13 19:08] sergeykolbasov commented on #926
In that case I already started an experiment quite a while and could land a PR soon.

[2018-08-13 19:12] vkostyukov commented on #975
I created https://issues.sonatype.org/browse/OSSRH-41890 so we can register `io.finch` group id and start publishing Finch there (even before we move).

[2018-08-13 23:35] vkostyukov opened #977 "Simplify Artifacts Release"
I'm eager to see if we can adopt what @fwbrasil is doing for https://github.com/traneio/arrows (and perhaps other projects). The idea of being able to trigger a release via `git commit` to `version.sbt` seems quite appealing to me.

As of now, it takes about 10 mins in total for me to cut a release (no including writing release notes) -that's like 2h/year (12 releases) that I could have spent play

[2018-08-13 23:50] fwbrasil commented on #977
I think the benefit not only the time you save but also the fact that it enables other contributors to make releases. That's something essential to build a maintainers community that doesn't depend on you :)

Most of the changes were based on https://www.theguardian.com/info/developer-blog/2014/sep/16/shipping-from-github-to-maven-central-and-s3-using-travis-ci

[2018-08-14 17:14] vkostyukov commented on #968
I used the arrows artifacts in the TE benchmark: https://github.com/TechEmpower/FrameworkBenchmarks/pull/3992

[2018-08-20 15:48] d-s-d opened #978 "Fast Fail for andThen-composed Endpoints does not work"
# Description
When composing two endpoints with the *andThen* operator, if the first endpoint does not match, the second one is still evaluated. In particular, a json-body is parsed despite authentication has failed.

# Steps to reproduce
[code]
# Expected Behavior
In both cases, the result should be:
`Option[com.twitter.util.Try[String :: Body :: shapeless.HNil]] = Some(Throw(java.lang.Exception:

[2018-08-20 18:12] spockz commented on #978
Depending on which actions are being performed this could not be just wrong but also insecure.

[2018-08-21 02:12] vkostyukov commented on #978
@sergeykolbasov @rpless I'm thinking maybe we could do `flatMap` instead of a `join` within `Endpoint.product`. How do you feel about this?

[2018-08-21 02:29] rpless commented on #978
I feel like this happens because `::` is not really sequential, it is independent (and mostly Applicative). Part of me feels like Auth should happen in a Finagle Filter but only matched with a Context lookup in a Finch Endpoint. I _think_ this can be reformulated to be a different Endpoint (not a filter) and documented to work as expected, but its late for me right now. Any chance I can have until

[2018-08-21 02:36] rpless commented on #978
Oh also @d-s-d what version of Finch are you using?

[2018-08-21 06:52] d-s-d commented on #978
Sorry for omitting the version. The above was tested with 0.22.0.

[2018-08-21 09:27] d-s-d commented on #978
Considering the Finagle Filter, doesn't the fundamental issue remain? It does not make a difference on whether the decision is based on a context-object or the header itself, if both endpoints are "evaluated" even though the first one fails, the fundamental problem remains, no?

[2018-08-21 09:55] d-s-d commented on #978
Base on [Error Accumulation](https://github.com/finagle/finch/blob/master/docs/src/main/tut/user-guide.md#error-accumulation), I tried something else that does not work either. I understand that I might be mistaken about the API here:
[code]

[2018-08-21 12:40] rpless commented on #978
No problem. Given that we've changed to monthly releases the potential for version drift is higher, so we should probably have a template for github issues that includes this as a prompt.

A Finagle Filter might let you get around this, if you can reject invalid auth headers from the filter instead from the Endpoint. You could then set something on the `Context` and have the Endpoint pull a value

[2018-08-21 14:38] sergeykolbasov commented on #978
It shouldn't change anything if we lift it to Try. Also, from the original
example there will be no exception at all as the authorization endpoint is
handled already.

The true fail-fast behavior means that we flatMap next endpoint over the
Output and with the current signature it's impossible.
On Tue, 21 Aug 2018 at 17.24, Vladimir Kostyukov <notifications@github.com>
wrote:

[2018-08-22 16:55] vkostyukov commented on #978
We still should be able to implement `Endpoint.::` in terms of `flatMap` on `Rerunnable`. In fact, this is what an initial implementation of an endpoint looked like. We, however, decided to accumulate errors so we oped in for `liftToTry.product`. Consider an example:

[code]
With an empty request, this will fail with `Errors` containing both missing entities. If we go with `Rerunnable.flatMap`, on

[2018-08-22 20:15] spockz commented on #978
Instead of having something specific for authentication, could we have a short-circuiting variant of `::`?

I’m afraid it would still be easy to make a mistake. And we shouldn’t have to many operators. (Like sbt of yesteryear.)

[2018-08-22 22:54] vkostyukov commented on #978
Yeah, I'm not a huge fan of adding a specific combinator for this. I'd rather see us standardizing on either fail-fast of collect-errors approach. The later has been our default for quite a long time yet I'm starting to gain some skepticism around how important it is to accumulate those errors. It may be that people just use `body` most of the time and don't really worry about threading errors acr

[2018-08-22 23:25] rpless commented on #978
I'm not a big fan of combinator either.

As for whether error accumulation is useful, I am a heavy user of error accumulation especially in conjunction with `should` and our own version of `validate` (similar to what to the one in #808). We tend to use a lot of params and headers and we add additional validation to stop invalid requests from entering our service logic. Being able to see all of the

[2018-08-24 06:47] sergeykolbasov commented on #978
I feel that it should be the way how it's now with `Mapper` being executed if there were no errors during request processing through the composition, and we can gurantee that `Mapper` ain't executed if there was a single error.
So people still can use authorization endpoint i.e., but the real business logic should be executed only under the `Mapper`.

[2018-08-25 04:36] vkostyukov commented on #978
Maybe the obvious solution would be to structure finch-oauth2 (and, perhaps, other auth packages) differently? One idea is to move the auth logic somewhere under the derived service (`ToService`, although we'd need to make sure it's decoupled from the actual auth scheme) and populate a request context with `AuthInfo` on success such that `authInfo` combinator (from `finch-oauth2`) only extracts th

[2018-08-25 04:41] vkostyukov commented on #967
I'm giving this a shot.

[2018-09-06 09:38] sergeykolbasov commented on #978
@vkostyukov my another thought is to introduce new type `FailFastEndpoint <:< Endpoint` and do the pattern matching during request flow through `::`. In case if `self` is fail fast and returns error, immediately stop the evaluation and return currently accumulated errors.

[2018-09-06 18:13] #967 closed

[2018-09-07 21:26] #968 closed

[2018-09-15 19:32] vkostyukov commented on #952
See #982.

[2018-09-15 19:32] #952 closed

[2018-09-16 14:09] d-s-d opened #984 "Telemetry for unmatched Endpoints"
It would be convenient if it was possible to asses for what reason an endpoint did not match. For example: If part of your API is versioned, you might want to differentiate between a request that did not match any paths (in which case the API responds 404 or 405) and one that matched a path but the client's version was outdated (e.g., 410).

To further clarify what I'm aiming at, here is how I cur

[2018-09-16 15:27] sergeykolbasov opened #985 "Replace all occurrences of com.twitter.util.Duration with scala.concurrent.Duration"
As it was raised during the discussion around https://github.com/finagle/finch/pull/979

It should ease the use of our API since most of the people use scala duration anyway.

[2018-09-17 08:57] sergeykolbasov opened #986 "Migrate to Travis CI Github App"
https://docs.travis-ci.com/user/legacy-services-to-github-apps-migration-guide/

I've requested app activation for finagle/finch. Need someone from @finagle to approve

[2018-09-17 17:44] sergeykolbasov commented on #986
https://docs.travis-ci.com/user/open-source-on-travis-ci-com/#Existing-Open-Source-Repositories-on-travis-ci.org

It seems that automatic migration is not available yet. I couldn't find how to deactivate repo from `.org` and move it to `.com`

[2018-09-18 06:05] vkostyukov commented on #984
This is interesting. How popular is this HTTP 410 and the version header pattern?

We're generally trying not to be opinionated about certain decisions when it comes to structuring HTTP apps. While both 405 (MethodNotAllowed) and 415 (UnsupportedMediaType) seems to be generic enough to provide support from within a library, I don't feel so sure about 410 (Gone).

[2018-09-18 07:37] d-s-d commented on #984
I haven't seen any API that actually uses 410 in the wild. Versioning seems to be one of these infamous problems that everyone solves on his own. ;-)

However, there are opinions about this matter out there, e.g.: https://webmasters.stackexchange.com/questions/71152/what-is-the-correct-http-status-code-for-this-version-of-this-api-has-been-dis

[2018-09-21 22:33] prayagupd commented on #985
Curious what's the difference between duration api? Seems following are two places where `twitter.util.Duration` is being used
1) https://github.com/finagle/finch/blob/8d4399071570c787d7a8f72a42c0ad5abc61a9c5/core/src/main/scala/io/finch/EndpointResult.scala#L71

2) https://github.com/finagle/finch/blob/849b6bb343bda8141033341939f259da88cc36a4/test/src/main/scala/io/finch/test/ServiceSuite.scala#L

[2018-09-24 16:46] vkostyukov opened #987 "Bump Circe to 0.10"
It's out! https://twitter.com/travisbrown/status/1044264102363828230

[2018-09-25 04:11] vkostyukov commented on #926
As of now I'm thinking of several ways to deliver cats-effect integration to Finch's users:

 - Release separate artifacts in 0.25 (similar to finch-arrows) and wait several releases to allow people to migrate before switching to cats-effect indefinitely
 - Switch to cats-effect in 0.25 and never look back (users would need to migrate with the upgrade)

I'd be curious to hear what people think our

[2018-09-25 06:13] sergeykolbasov commented on #926
I vote for separate artifact release as for now. I personally know teams that have hundreds of endpoints codebase, so it might be tough for them to switch to the new approach in one night.

I think it'd be nice to start deprecating old codebase in favor of new artifact for 1-2 versions, so there will be warning during the compilation phase. Those who update dependencies will get ready.

[2018-09-27 04:51] vkostyukov commented on #877
This seems to no longer be a question after #979 lands.

[2018-09-27 04:51] #877 closed

[2018-09-27 15:58] vkostyukov commented on #926
I agree with that. Let me propose a strategy:

 - We merge #979 into a separate branch `effect` off master
 - Polish the remaining details there (on the `effect` branch) so it's easier to review
 - When things looking good - branch off master to `twitter` (this will be Finch with Twitter Futures); merge `effect` into master
 - We'll continue working on the master branch as we usually do to develop

[2018-10-02 15:20] #926 closed

[2018-10-02 17:10] vkostyukov commented on #196
I think we should do that now. Everybody seems to be using scalafmt nowadays.

[2018-10-02 17:35] vkostyukov opened #989 "Get rid of Twitter Try in the APIs"
As we're not polymorphic over the effect type, lets also drop the `Try` types in the API (use Scala's `Either` instead).

[2018-10-02 17:35] vkostyukov commented on #985
Also filed a ticket to get rid of `c.t.u.Try`: #989.

[2018-10-02 17:53] vkostyukov opened #990 "Should we always delay extracting endpoints?"
We use `Effect[F].pure` in several places (path matching and path extracting mostly). I wonder if it just makes sense to always delay evaluation in the endpoints. Even if it doesn't really change anything, it would probably make sense just for being consistent here and everywhere.

[2018-10-05 21:10] vkostyukov commented on #987
Implemented in #991.

[2018-10-05 21:10] #987 closed

[2018-10-06 14:55] arron-green opened #993 "Running tests locally results in OutOfMemoryError: Metaspace"
When i attempt to run `sbt test` locally i get the following error

[code]

[2018-10-06 18:58] arron-green commented on #977
@vkostyukov i've started working on this.

I will need your help when it comes to adding the encrypted GPG files required to perform the auto-release

[2018-10-06 18:58] #993 closed

[2018-10-06 19:08] vkostyukov commented on #977
@arron-green Glad to hear that and would be happy to assist you with anything!

[2018-10-07 04:07] prayagupd commented on #989
I see couple of usage of `twitter.Try` - https://github.com/finagle/finch/search?l=Scala&q=Try

With scala equivalent `scala.util.Try` or `Either[Throwable, A]`, I like `Either[E, A]` instead of `Either[Throwable, A]` but it might be lot of refactor that way.

[2018-10-07 18:02] vkostyukov commented on #989
For `Decode`, for example, we could probably use `Either[Error, A]`.

Also, try looking at `cats-effect` branch - there where we need to get rid of `Try`s (as that's the twitter-util-free branch).

[2018-10-09 18:28] vkostyukov opened #1001 "Support to fs2"
So we can parse/print stream Json (via Circe, for example) with it.

[2018-10-09 18:29] vkostyukov commented on #990
Yeah, I think you're right @sergeykolbasov. A convention of using `pure` for routing (manipulating with path) and `suspend` for everything else makes sense to me.

[2018-10-09 18:29] #990 closed

[2018-10-09 18:32] sergeykolbasov commented on #1001
Sure thing, I've been dealing with it for the last month or two. Will be happy to land a PR

[2018-10-09 20:15] vkostyukov opened #1002 "Auto-publish the website when release completes"
This would also mean we need to include docs type-checking on `sbt validate`.

[2018-10-10 03:40] vkostyukov commented on #977
I think it's done as of #1000. We'll follow up with any fixes/improvements.

[2018-10-10 03:40] #977 closed

[2018-10-10 17:55] vkostyukov commented on #989
Dine in #998.

[2018-10-10 17:55] #989 closed

[2018-10-12 20:38] vkostyukov commented on #839
It's no longer a thing as of Finch with Cats Effect.

[2018-10-12 20:38] #839 closed

[2018-10-15 07:00] sergeykolbasov commented on #513
@prayagupd Yes, status should be a part of an error.

In our project services always return `F[Either[Error, A]]` where `Error <: Throwable` is a super type that guarantees `status`, `description` etc. And then we just fold it into `Output` using `Output.payload` or `Output.failure`

[2018-10-20 20:20] vkostyukov opened #1009 "Bump minor version in auto-release, instead of patch"
Looks like we need to refer to these settings: https://github.com/sbt/sbt-release/blob/0d79966dfe65a60ac97d8084691ce396bbaaede7/README.md#custom-versioning

/cc @arron-green

[2018-10-20 21:56] arron-green commented on #1009
seems easy enough.  i'll have a PR for this shortly

[2018-10-21 00:32] #1009 closed

[2018-10-23 07:33] sergeykolbasov opened #1013 "Mapper conversions for Futures"
I had some thoughts on the easy migration to new `finchx` and one of them is to provide few additional implicit conversions for `Mapper` that will work with `Future` and automatically pack it into `E : Effect`.

So as an example:
[code]

What do you think people? Is there any need for it?

[2018-10-23 12:51] rpless commented on #1013
I think there is definitely a need for this for both Twitter and Scala Futures (assuming we can support both). Changing to Cats Effect is a big change and not everyone is going to be able to move all of their codebases to it immediately (or even over the 6 months or whatever time frame that we're still going to publish Finch with futures). Easing the migration path will be beneficial for everyone.

[2018-10-23 17:36] vkostyukov commented on #1013
I like that. I wonder if we can do this w/o exporting `io.finch.futures._` and just provide mapping from both Twitter Future and Scala Future to whatever is the current effect type.

[2018-10-24 18:49] sergeykolbasov commented on #1013
No, I think `Mapper` is enough atm

[2018-10-29 14:22] sergeykolbasov commented on #1013
Closed with #1016

[2018-10-29 15:14] #1013 closed

[2018-10-31 06:42] vkostyukov opened #1018 "Add more examples"
I'm reworking our TODO app and figured we need more end-to-end examples.

Here is a lis for inspiration (will update with more):

 - https://github.com/ktorio/ktor-samples

[2018-10-31 22:44] vkostyukov opened #1019 "Do we want to support `/foo/bar/baz` as a single path?"
Basically,

[code]

Very simple rule we can employ, if the path starts with a slash `/`, if can contain multiple (zero or more) segments that we need to match against.

This way `get("foo")` is effectively the same as `get("/foo")`. Moreover, we can make `get("/")` being the same as `get(pathEmpty)`.

[2018-11-04 06:31] vkostyukov opened #1021 "EndpointResult.output"
As I can tell, we can only support it via an implicit class.

[2018-11-05 12:15] octavz opened #1022 "Hello world not working"
Hi, I am sure I am doing something wrong, but Finch is very unfriendly with first time users.

I couldn't find any template that works out of the box so I adapted:

[code]

[code]

and I get

[code]

[2018-11-05 12:18] sergeykolbasov commented on #1022
Hi @octavz

What's the version of finch you're using?

[2018-11-05 13:04] rpless commented on #1022
I believe the issue is using the `finch-core` and `finch-circe` modules with `Module[IO]`. Per the README, you'll need to use `finchx-core` and `finchx-circe` (note the `x` after `finch` in the artifact name) . The `finch` artifacts are meant to support the old style of creating endpoints that are bound to the future implementation.

[2018-11-06 23:13] vkostyukov commented on #1022
Hey @octavz! Try looking at https://github.com/finch/finch.g8 that I compose today. It has an instruction on how to generate a barebones Finch project that compiles and runs.

[2018-11-07 10:13] octavz commented on #1022
@vkostyukov  ty, I tested with finchx and it builds, however i got the `netty` classpath issue.
I will check the gitter8 template, ty.

[2018-11-07 10:13] #1022 closed

[2018-11-14 16:20] vkostyukov opened #1035 "Use List[String] instead of Seq[String] internally"

[2018-11-14 16:33] erikwj commented on #1035
awesome use case for scalafix I played around with it see https://gist.github.com/erikwj/1c576d0f78a095dc7ff2e14ebb71c8a9 let me see what I can do

[2018-11-15 12:57] frgomes opened #1037 "Please add test cases for the sake of helping users of the library"
Test case``io.finch.iteratee.EnumerateEndpointSpec`` does not contain any useful test case from the users' perspective.

I'm trying to do something as simple as:
[code]
with a deadly simple test case as
[code]
and it does not work. So, it's clear that I'm doing something wrong... but what?

Looking for test cases, there's nothing which could provide any clue why things are going wrong.

So, please

[2018-11-15 15:12] sergeykolbasov commented on #1037
Hey @frgomes

The thing about chunked bodies, that it should specifically mention that request is chunked, otherwise `enumeratorBody` wouldn't match.

Also, as I can see from the test, you're trying to decode JSON, but your endpoint uses quite "low-level" API `enumeratorBody`.
I suggest to switch to `enumeratorJsonBody[IO, Foo]` in case if you need JSON decoding.

Here you can find example of how

[2018-11-15 16:16] vkostyukov commented on #1037
Related: looks like we also need to add support to streaming payloads in `Input`, to make this possible (easier). Something along the lines `Input.withChunkedBody`.

[2018-11-15 16:17] vkostyukov opened #1038 "Input should be able to create chunked requests"
See #1037 for a discussion.

[2018-11-15 16:26] vkostyukov commented on #1018
From [the Gitter discussion](https://gitter.im/finagle/finch?at=5bed841ffee6703aaf755438):

[2018-11-15 16:33] vkostyukov opened #1039 "Docs on accumulating decoders"
From [the Gitter discussion](https://gitter.im/finagle/finch?at=5bed9f634e7ca14520ae3415):

[2018-11-15 16:41] frgomes commented on #1018
I suggest a more some more work on the existing example employing iteratees.
Whilst the existing example is small (which is a good thing), it lacks certain aspects:
- [ ] SBT libraries dependencies should be mentioned;
- [ ] it would be great to have something a bit more complex, for example: receive a chunked JSON containing ``Person`` and return a. the quantity of ``Person`` received and b. the

[2018-11-15 17:01] rpless commented on #1019
Yeah I'm with @sergeykolbasov on this one. Maybe if we a construct like `compositePath` that would behave this way as opposed to the existing `path` that could work? But I think that still has the issues with `?` and `&`.

[2018-11-15 17:46] frgomes commented on #1037
@vkostyukov : maybe entirely off-topic, but Finch does not help with the client side. I understand that we can resort to Finagle for that, which is OK for me... but the point is that we should have somehow a smoother learning path for writing and entire application using Finch, including test cases and e2e tests. At the moment, some effort and imagination is required in order to put it all togethe

[2018-11-15 17:53] frgomes commented on #1037
@sergeykolbasov : Yes, I'm aware of the source files you've mentioned. Despite of being aware of that, SBT dependencies are not mentioned, which is an issue at the moment for people transitioning to 0.25.0.

After I've collected the necessary dependencies, I've struggled a lot until I've finally got something working for the use case I have. Even tough the example on iteratees works, it's a sort o

[2018-11-15 17:59] vkostyukov opened #1040 "Provide Enumerate.Text instance out of the box"
See #1037 for more context.

[2018-11-15 18:02] vkostyukov commented on #1037
@frgomes

- I filed #1040 which would ensure your server code compile (as written).
- There is #1038 that should help with testing it (would require some code changes in your test as the payload has to be chunked).
- Finally in #1018 we can add a g8 template that wires everything together

[2018-11-15 21:38] joroKr21 commented on #1037
On an unrelated note it would be nice to have fs2 support (is there an issue?)

[2018-11-15 23:00] vkostyukov commented on #1037
It's here #1001

[2018-11-16 21:28] vkostyukov opened #1041 "Can we get rid of Bootstrap.negotiateContentType option"
And, instead derive it fro what's passed into the `ContentType` type. See [this gitter discussion.](https://gitter.im/finagle/finch?at=5bef3371b86c70503f40ac40)

[2018-11-19 20:21] vkostyukov commented on #1019
I'm convinced. Let's cancel this for now. We can reopen should users ask for this.

[2018-11-19 20:21] #1019 closed

[2018-11-20 03:55] frgomes commented on #1018
@vkostyukov : Do you have a branch for this ticket?
I would like to contribute with an example like described above.
I could send a PR against your branch, if you prefer. Or send a separate PR. You decide.
Thanks

[2018-11-20 10:48] spockz commented on #1019
Whoops. It appears that my comment got lost. Jersey and Spring MVC support this feature and I haven’t seen any developers trying to enter query parameters in the path annotations. Just some anecdotal evidence. :)

[2018-11-26 06:16] jcouyang opened #1044 "add support for FunctionK"
previously finch support any data type that can be convert to `TwitterFuture` by typeclass `ToTwitterFuture`

but since 0.25 it only support typeclass `Effect`, `Future` and `TwitterFuture`, which is not very friendly to customize data type that can be converted to `Effect` or `Future`

e.g. I compose all business logic to `Free[Program, Unit]`, in old finch I can simply define `ToTwitterFuture[Fr

[2018-11-28 05:48] vkostyukov commented on #1044
@jcouyang In #1042 we're discussing to having a type-class to convert from both Scala Futures and Twitter Futures into `F[_]: Effect`. Presumably you would be able to use that extension point to lift your own stuff into `F[_]: Effect`.

[2018-11-29 08:49] sergeykolbasov commented on #1044
@jcouyang the nice thing about having your own type class is that some basic implicits could live in companion object and there will be no need to do any additional movements to enable them. In our case we're talking about scala and twitter futures transformations.

[2018-11-29 10:51] jcouyang commented on #1044
@sergeykolbasov I think you probably missed my point here
I'm not saying typeclass is bad idea
I'm saying

Since Finch already depends on cats, why border create your own typeclass instead of using the generic one cats already has
[code]

In the example implicit `futureToEffect` still live in Finch, user don't have to know about it
it's my custom type
[code]
that need to implement the typeclass `?

[2018-12-06 20:58] sergeykolbasov commented on #1021
Hmm, I'm curious about the reason

[2018-12-07 19:38] sergeykolbasov commented on #1044
Closed in #1045

[2018-12-07 19:38] #1044 closed

[2018-12-07 19:38] sergeykolbasov commented on #1041
Closed in #1050

[2018-12-07 19:38] #1041 closed

[2018-12-08 18:06] vkostyukov opened #1051 "Can/should Bootstrap.serve take a Finagle Filter?"
This is a very popular use-case: add a filter to certain endpoints wile leaving others. Here is the recent request [about auth](https://gitter.im/finagle/finch?at=5c0bda3126de6f0822a1924c).

Not sure about how API would look like and would love to hear others thoughts on this.

The sketch may look as:

[code]

This means, in addition to keeping track of endpoints in an `HList`, we also need to kee

[2018-12-09 17:40] sergeykolbasov commented on #1051
I'm curious about semantics. So the given filter should be applied to the whole `Service` output, or only to the endpoints, it was mentioned with?

[2018-12-10 06:06] prayagupd commented on #1051
Hi, my use case was all of the API endpoints are secured(`api/*`), except two which are`/heartbeat` (gives API health) and `/health` (overall health including connectivity to external dependent APIs), which will be pinged by kubernetes. (For ops purpose basically)

So, the secured endpoints are intercepted with the filter and make sure the clients are authorized to access. (Using `api-secret` http

[2018-12-10 09:44] sergeykolbasov commented on #1051
In my opinion, it's not that simple and I think we need to set up the common ground first.

Here is the logic on transforming endpoints to Finagle services:
https://github.com/finagle/finch/blob/master/core/src/main/scala/io/finch/ToService.scala#L102

1: Should we call any endpoint before applying a filter, or 2: should we just pass the resulting `Service` to the given filter?

The problem is the

[2018-12-10 19:41] vkostyukov commented on #1038
It should be easier to do when #1042 lands (as we would have all the needed abstractions in place).

[2018-12-10 19:41] vkostyukov commented on #1021
@sergeykolbasov The problem is in variance.

[2018-12-10 23:06] #1035 closed

[2018-12-14 21:53] vkostyukov commented on #1038
I'm thinking something along the lines:

[code]

Where stream is anything that has a `EncodeStream` instance (similar to `DecodeStream` from #1042).

[2018-12-15 23:01] sergeykolbasov commented on #1021
Oh, I see. It's quite elegant at the moment. We can close it

[2018-12-21 22:20] vkostyukov opened #1055 "Get rid of AsyncStream support"
There is better streaming APIs available.

[2018-12-21 23:29] vkostyukov opened #1057 "We should only run streams at the very last step in ToService"
Given the type signature of `ToResponse`, we have to run those streams out of band (not as part of the `IO` we run in `ToService`). Let's figure out how we can merge them together and run at once.

[2019-01-03 19:50] ThijsBroersen opened #1059 "Support a multi-valued Accept-header and add quality factors to content negotiation"
As a user I would like Finch to take into account a multi-valued Accept-header. Currently it ignores all values when the Accept-header is multi-valued.

I would also like quality factors within an Accept-header to be respected.
E.g.
[code]
Currently the quality factors are ignored.

[2019-01-03 20:01] vkostyukov commented on #1059
@ThijsBroersen Thanks for the ticket!

Not sure I follow the first part about being a multi-value. This should be supported (only qualities are ignored) and if not, it's a bug. Mind providing more details on this?

[2019-01-03 20:17] ThijsBroersen commented on #1059
@vkostyukov you are correct, it takes the first Content-Type that matches any value from the Accept-header. My tests were off...

[2019-01-08 21:00] sergeykolbasov opened #1061 "Effect-aware Service and Filter"
I have the following idea.

Introduce two additional abstractions that are aware of effect type:

[code]

At Zalando we have a case to run auth and tracing inside of the Finagle filters, but the functions we're calling might return `IO`, `Task` or some `F[_]` as a result instead of `Future`. Running effects in multiple places is a thing we'd like to avoid.

Having a `compose` method on `Service` a

[2019-01-09 05:56] vkostyukov commented on #1040
Done in #1056.

[2019-01-09 05:57] #1040 closed

[2019-01-09 05:57] vkostyukov commented on #1038
Done in #1056.

[2019-01-09 05:57] #1038 closed

[2019-01-09 05:57] vkostyukov commented on #1001
Done in #1042.

[2019-01-09 05:57] #1001 closed

[2019-01-09 19:42] vkostyukov commented on #1061
I've been thinking a lot about making auth (and, perhaps, tracing) easier to do with endpoints. Not super sure we need these abstractions for this though (not both of these for sure). It feels like when a user bootstraps their endpoint, they should be able to configure auth/tracing/logging for each of them separately. Technically, all of this is more or less possible via a simple wrapping `Endpoin

[2019-01-09 22:08] sergeykolbasov commented on #1061
If I understand correctly, we shall not invoke `underlying.apply` if
[code]

It would mean that this combinator is obliged to return `F[_]`, not an `Endpoint` or `EndpointResult`. This is probably would be a mess.

[2019-01-10 18:58] vkostyukov commented on #1037
I think we can close this. The upcoming 0.27 release has all the missing pieces outlined by this issue.

[2019-01-10 18:58] #1037 closed

[2019-01-10 18:59] vkostyukov commented on #1055
There is also an example we need to remove.

[2019-01-10 19:00] vkostyukov commented on #1018
I'm moving this under 0.28 milestone. We need a better, end-to-end, streaming example. I have some ideas in mind.

[2019-01-10 19:01] vkostyukov opened #1067 "Revisit LiftReader"
Maybe it doesn't have to take `process` as an argument. See what else we can do.

[2019-01-14 17:14] vkostyukov opened #1068 "finch-sse should support both fs2 and iteratee"
It's not defined in terms of `AscynStream`, which we want to get rid of (see #1055). We need to figure out how to reuse our existing streaming components for SSE.

[2019-01-14 17:40] rpless commented on #1068
Maybe we want to stop publishing `finch-sse` and provide the SseEvent model from core, and move the `ToResponse` Instances to fs2 and iteratee?

[2019-01-17 04:53] vkostyukov commented on #1068
Done in #1070.

[2019-01-17 04:53] #1068 closed

[2019-01-17 04:53] vkostyukov commented on #1055
Done in #1070.

[2019-01-17 04:53] #1055 closed

[2019-01-22 17:00] vkostyukov opened #1076 "Revisit our Effect requirements"
Many places would be fine with just `Sync` (or even simpler) instances. We might want to revisit these and see if we can use a simpler type-class.

[2019-01-25 04:46] #1057 closed

[2019-01-25 16:53] vkostyukov opened #1078 "Streaming with Monix's Observable"
Looks like we have all the pieces in place to make this happen.

[2019-01-25 22:44] sergeykolbasov commented on #1061
@vkostyukov Another issue we observe is the thread context propagation.
Things like `Trace` and `Context` cease to work correctly when they are mixed together between `Future` and i.e. monix `Task`.

[2019-01-25 23:33] vkostyukov commented on #1061
@sergeykolbasov Hm. Obviously `F[_]` doesn't propagate Finagle Context across async boundaries. `IO` doesn't really implement locals, but Monix does (as far as I remember). Is there a way for us to plugin into Monix's locals when `Task` is used as an effect.

This sounds like a separate issue and maybe we should file a new ticket for that?

[2019-02-12 11:34] acidghost commented on #631
I'm having issues with IntelliJ 2018.3.4 and finch 0.27.0. In the following snippet
[code]
the IDE wrongfully thinks that `dow` is of type `DeliveriesDayOfWeek :: HNil`, while is instead a `DeliveriesDayOfWeek`. The code compiles just fine.

[2019-02-13 20:39] vkostyukov commented on #631
@acidghost Thus is surprising to me. I was under the impression it was fixed quite some time ago. I'd recommend leaving a comment on a linked IJ ticket with your reproducer.

[2019-02-19 08:25] acidghost opened #1086 "Server hangs on endpoints"
[code]

Simple valid requests hang indefinitely with no output (`curl -vvvv http://localhost:1337/path/1` and `curl -vvvv -F "pic=@500.png;type=image/png" http://localhost:1337/path`).

Moreover if I change `endpoint` to `put(...)` I always get 400 missing `pic` param.

[2019-02-19 17:39] vkostyukov commented on #1086
Hm. @acidghost I tried your exact reproducer on master and it all works for me as expected:

[code]

Going to try this against 0.27 tag as well.

[2019-02-21 00:59] vkostyukov commented on #1086
@acidghost I tried tag v0.27.0 and it still works as expected. Maybe there is something else in your setup that gets in a way. What's your .png file size?

[2019-02-21 06:25] acidghost commented on #1086
@vkostyukov it's 1.5kb...

![500](https://user-images.githubusercontent.com/1787979/53148031-ad9cf280-35a9-11e9-822c-85fa2789e234.png)

[2019-02-21 16:48] vkostyukov commented on #1086
I tried this file as well - all fine on 0.27.0 tag. Are you sure there are no other endpoints in your service when you try to reproduce it locally? Any firewalls? Any chance you can wireshark your localhost interface to get a better idea what's going on?

[2019-02-21 23:01] vkostyukov opened #1087 "Allow users override maxInMemoryFileSize in multipartFileUpload"
It was asked [on Gitter](https://gitter.im/finagle/finch?at=5c6f1c2de5eeec0d9ba469f9). Here is the argument we need to wire: https://github.com/twitter/finagle/blob/develop/finagle-base-http/src/main/scala/com/twitter/finagle/http/exp/MultipartDecoder.scala#L20

[2019-02-24 10:16] sergeykolbasov commented on #631
Yep, I can reproduce it, though it's a different problem.
We have a custom `PairAdjoin` that for a composition with single element returns `A` instead of `A :: HNil`. I think IDEA fails to understand it.

[2019-02-25 08:48] sergeykolbasov opened #1090 "Make Mapper version of EndpointModule"
During playing over https://github.com/finagle/finch/pull/1089 , I found out that our Mapper implicits fail to resolve for cases of `A => F[Response | Output[B]]` when `F` is some complex type like:
- `StateT[F, State, ?]`
- `ReaderT[F, A, B]`
- `WriterT[F, Log, ?]`

I suspect it somehow relates to complex mapping we have for `F ~> G` in those cases and compiler fails to go that deep in the rabbit

[2019-02-25 08:52] sergeykolbasov commented on #1090
/cc @joroKr21

[2019-02-25 13:33] joroKr21 commented on #1090
:+1: for `mapK`, it's very useful.

I'm not sure about `Mapper` though. I think the core of the problem using the magnet pattern in the first place (esp. when type parameters are involved). It makes it difficult to understand what you can pass to a method expecting a `Mapper` and almost impossible for type inference to work correctly. Even using regular functions is difficult - you have to specify

[2019-02-25 17:59] vkostyukov commented on #1086
@acidghost Were you able to figure out what's going on with your server?

[2019-02-26 10:35] joroKr21 commented on #1090
Should we also have an `Endpoint` alias in `EndpointModule`? Might make migration easier. But on the other hand confuse users. Wdyt?

[2019-02-27 21:33] vkostyukov commented on #1086
@acidghost Please reach out again if that's still a problem for you.

[2019-02-27 21:33] vkostyukov commented on #1076
Done in #1089

[2019-02-27 21:33] #1076 closed

[2019-02-28 00:00] sergeykolbasov commented on #1090
Actually, I start thinking that probably we should make `Mapper` rather an optional thing that is available only via import, and encourage users to use corresponding `map*` functions instead.

@vkostyukov @rpless what are your thoughts on this?

[2019-02-28 00:03] sergeykolbasov opened #1092 "Example on using StateT monad as an effect"
We need a good example of how one could propagate information through the chain of filters to the very heart of customer functions using effect type and avoiding the use of `Request.ctx`

[2019-03-03 13:07] acidghost commented on #1086
@vkostyukov finally found some time to investigate a bit. No firewall or any particular configuration on Ubuntu 16.04.6, kernel 4.13.16.
Wireshark did non reveal anything in particular: the server acknowledges the http request and then remains silent (expects a query param that is not there and should return 400)

[2019-03-03 14:55] rpless commented on #1086
When we attempt to decode a multipart request we call Finagle's `MultipartDecoder.decode`, which in turn calls a function called`isMultipart` which seems only considers [POST requests to be multipart](https://github.com/twitter/finagle/blob/b8523a4541953d6bbc6a64b9409d75ff162afcd9/finagle-base-http/src/main/scala/com/twitter/finagle/http/exp/MultipartDecoder.scala#L39). I suspect `PUT` requests wo

[2019-03-04 01:47] vkostyukov commented on #1086
@acidghost Do you run the exact same code as in the REPL snippet in this ticket? Or is it just similar to that?

[2019-03-05 21:12] alexeygorobets commented on #1078
hi! What's a preferred implementation to address the issue that a monix Observable has a kind `F[_]`, but in Finch a stream needs to be `S[_[_], _]`?
Some `class ObservableWrapper[F[_]: Effect, A](val observable: Observable[A])` to mimic it?

[2019-03-05 21:17] vkostyukov commented on #1078
@alexeygorobets How does [`Iterant`](https://github.com/monix/monix/blob/master/monix-tail/shared/src/main/scala/monix/tail/Iterant.scala#L207) relate to `Observable`?  It seems to be in proper kind.

[2019-03-05 21:22] alexeygorobets commented on #1078
Sorry, somehow missing that we need Iterant.
Can you please explain then why this issue is called so?

[2019-03-05 21:24] vkostyukov commented on #1078
Oh the original plan I had in mind was to integrate with `Observable`, but, as you noted, it doesn't have the right kind. I was wondering if `Iterant` could serve as well as a replacement for `Observable`.

[2019-03-05 21:25] alexeygorobets commented on #1078
Thanks! I will take it then.

[2019-03-06 04:48] crispywalrus opened #1097 "Publishing finch artifacts is not happening"
I think there's a bug in the publish process. finchx artifacts where published for 0.28 but not finch artifacts and I think they should both have gone out.

[2019-03-06 12:50] acidghost commented on #1086
Exact same

[2019-03-06 16:21] vkostyukov commented on #1086
@acidghost I wish we could help you but it's somewhat hard without being able to reproduce it. If you can make some progress on your own (I know you already looked at the wireshark, so I'd probably try to attach a debugger and see where it hangs) and report back your findings, maybe we can help better.

I will close this for now but feel free to open when you find something.

[2019-03-06 16:21] #1086 closed

[2019-03-07 20:59] vkostyukov commented on #1097
Auto-releases weren't set up for normal artifacts, I was supposed to keep publishing them manually and, obviously, have been failing at this.

I'm cutting a release now. I don't have a strong opinion on whether or not we should set up autorelease for `rerrunable` branch so if somebody wants to put together a PR, I'd +1 it.

[2019-03-07 21:30] vkostyukov commented on #1097
I made some improvement to our `rerunnable` release process so it's just one command now (w/o the extra clicks at the Sonatype UI).

It fails with (not because of my changes, it was failing before):

[code]

I'm going to re-try again tonight before I dig deeper. Same credentials are used to publish `finchx` artifacts and it worked just fine a week ago.

[2019-03-09 22:13] vkostyukov commented on #1097
I figured it out. Release 0.28 just now.

I made some changes along the road to make it a little easier for me to release these next time.

[2019-03-09 22:13] #1097 closed

[2019-03-13 22:39] sergeykolbasov commented on #1051
Closed in favor of #1080

[2019-03-13 22:39] #1051 closed

[2019-05-16 02:59] hderms opened #1113 "Upgrade to Finagle 19.4.0"

[2019-05-16 17:15] #1113 closed

[2019-06-06 16:12] hderms commented on #1087
@vkostyukov I started working on this one but I think some guidance on how you want the API to look would be useful. As of right now I see three possible high level ways to make this change:

1. either add default values to API methods
https://github.com/hderms/finch/blob/master/core/src/main/scala/io/finch/EndpointModule.scala#L367
or adding additional method signatures (i.e. clone each api metho

[2019-08-17 21:52] Phill101 opened #1138 "effectless endpoint kills zio fiber"
Hi. Trying to use finch with zio.Task (through cats-interop). But I've met a problem.
[code]
This simple endpoint kills fiber, when we try divide by zero. `handle` block do nothing and client receive 500.
If we wrap expression in Task.effect constructor all works as expected.

Seems like it happens in Output.traverseFlatten:55 when Endpoint.mapOutputAsync:109.
In cats.IO, and monix.Task you can th

[2019-08-23 12:21] Phill101 commented on #1138
#1142

[2019-08-27 16:43] Phill101 commented on #1138
Added test. Probably it has not better name.

[2019-08-29 11:20] sergeykolbasov commented on #1138
Fixed in #1142

[2019-08-29 11:20] #1138 closed

[2019-09-01 15:00] EnesKorukcu opened #1145 "Example for returning Future[A] inside of mapOutput"
I've a question about returning Future inside of mapOutput.

I've this following code which extracts userToken and gets query params and passes them to the "getItems" endpoint.

[code]

This is working well. But i want to return Future[String] instead of String. Because it will be a async http call to remote system. So result will be Future[String].

So my attempt is below.
I'm encouraged by the m

[2019-09-01 22:07] sergeykolbasov commented on #1145
Hey @EnesKorukcu

I think what you're looking for is `Endpoint.mapOutputAsync`. Although, beware that it expects the same effect of type `F` as your endpoint is defined. In your example, it means that you would need to [lift Future to cats IO](https://typelevel.org/cats-effect/api/cats/effect/IO$.html#fromFuture[A](iof:cats.effect.IO[scala.concurrent.Future[A]])(implicitcs:cats.effect.ContextShift

[2019-09-02 12:47] EnesKorukcu commented on #1145
I changed the map function to `mapOutputAsync` and created IO from Future with
`cats.effect.IO.fromFuture(IO(getItemsWithFuture.map(Ok)))`

It works!

For the reference:

[code]
Future has to be scala future.
Too bad that i couldn't use twitter future for conversion.

Thank you @sergeykolbasov !

[2019-09-02 12:47] #1145 closed

[2019-09-02 19:47] sergeykolbasov commented on #1145
@EnesKorukcu if you'd like to have a conversion from Twitter Future, you could do it on your own.
[Here is an inspiration](https://github.com/finagle/finch/blob/21b143b44c8959b360b772cf8065560c82111a60/core/src/main/scala/io/finch/internal/ToAsync.scala#L19)

[2019-09-20 15:01] dkulichkin opened #1161 "Workaround for returning a validation error details back to browser?"
Currently validation in Finch is based on predicate functions, causing further a NonValid error to be thrown without a chance to add details to it in order to help people to correct it...
https://finagle.github.io/finch/user-guide.html#validation

One might of course throw his own typed exceptions from these boolean preicates but that would be a misusing of the initially supposed way. Is there any

[2019-09-20 16:19] rpless commented on #1161
Hi @dkulichkin. One approach is to use Cats' `Validated`. I had opened [this](https://github.com/finagle/finch/pull/808) awhile back to see about getting it into Finch as operators on `Endpoint`. This would let you do something like this:
[code]
Then returning the errors in the body of the response becomes a matter of formatting it the Exception Encoder. This approach is also nice because you can

[2019-10-04 12:50] dkulichkin commented on #1161
thanks @rpless, I've followed your suggestion by extending the Endpoint class with the help of an implicit class adding validate method on top of the endpoint. I didn't use Cats lib relying simply on Either constructions in this case.

My only uncertainty now is how to reply 422 with all that messages on board as a json payload, because currently the only way to do that in Finch is smth like `Unpr

[2019-10-11 10:03] iEAmi opened #1172 "grpc support"
Are there any plan to bring grpc into finch?

[2019-10-11 18:56] sergeykolbasov commented on #1172
Hi @iEAmi

What exactly do you expect from such support?

[2019-10-12 10:39] iEAmi commented on #1172
Hi @sergeykolbasov
I expect something like a custom RPC service generator for protoBuf files that makes grpc services and messages functional. I think now I would able to use grpc over finch but I am looking for better FP support and unified API for grpc and REST and ...

[2019-11-01 02:08] arron-green opened #1175 "Update example docs to use IO based endpoints"
Looking through the docs i noticed A bit of the example code doesn't use the `IO` based approach to crafting endpoints.

It would be awesome to fix some of these examples which could enable #1002

I wanted to start the discussion on this with the intent on slowly patching some of the docs myself

[2019-11-13 14:40] joroKr21 commented on #647
I'm not sure when but this has regressed at some point.

[2019-11-13 15:26] joroKr21 commented on #647
The second commit here should address this: #1179

[2019-11-24 22:06] zhenwenc commented on #923
I am also experiencing very bad compiling performance with those large (actually not too large) Coproducts, here is the flamegraph (profiled and generated with [scalac-profiling](https://github.com/scalacenter/scalac-profiling)):

![image](https://user-images.githubusercontent.com/5435340/69502320-cbe9b180-0f72-11ea-8a6d-c911fa8c6c7c.png)

All the crazy mountains on the right are caused by compile

[2019-11-24 23:36] joroKr21 commented on #923
@zhenwenc which version of Finch are you using?

This particular problem should have been alleviated (if not fixed completely) quite some time ago.
But it's also possible that you have a similar problem but with a different cause.

Are you using Circe "auto" derivation?

Also since I opened this issue I realized we rarely care about the coproducts at all.

So I created a small extension method:
[c

[2019-11-25 19:51] zhenwenc commented on #923
@joroKr21 Thanks a lot for the reply!

I am currently using `Finchx@0.29.0` and `Circe@0.11.1` with `io.circe.generic.JsonCodec` for case classes and custom Encoder/Decoder for enums (sealed trait + case object).

Thanks for letting me know the `coproduct` function, and very keen to use the improved version on your PR! I am wondering what import do I need to use the `endpoint1.json`? Thanks!

[2019-11-27 03:10] zhenwenc commented on #923
To follow up the problem I posted above, after refactoring the code to use `coproduct` as suggested by joroKr21, the improvement is very very significant!

![image](https://user-images.githubusercontent.com/5435340/69690315-3a27a300-1130-11ea-9630-3cf09329acbf.png)

[2019-11-27 08:35] joroKr21 commented on #923
Right, sorry I forgot to reply to your previous message, I guess you figured it out but the `json` method is one we have in our codebase at work, not coming from Finch.

[2019-11-27 11:29] sergeykolbasov commented on #923
@joroKr21 @zhenwenc have you tried https://github.com/circe/circe-magnolia ? Not that I have prior experience, but AFAIK it's the fastest derivation of type classes on the market so far.

[2019-11-27 17:53] joroKr21 commented on #923
We're not using circe "auto" derivation. The particular problem with `:+:` was already fixed for us but it is possible that it has regresses since.

[2019-12-19 17:59] ComFreek opened #1194 "Improve documentation on SBT dependencies"
I had to spent >= 30min to figure out that I needed the following dependencies to run [what the docs currently claim to only need finch-circe and 2 imports](https://finagle.github.io/finch/user-guide.html#circe):
[code]

I found the above dependencies in the [finch/finch.g8 repo](https://github.com/finch/finch.g8/blob/master/src/main/g8/build.sbt), however a) I had to look in a build.sbt in some s

[2020-02-04 11:28] xavji opened #1202 "Support Scala 2.13"
I think the title says it all. Having artefacts published to Maven Central for Scala 2.13 would help with adoption in up-to-date code bases.

[2020-02-04 11:53] sergeykolbasov commented on #1202
Hi @xavji

finagle-http was just recently published for 2.13, like couple of days ago.

We're going to update Finch to the latest version soon and likely drop support for 2.11

[2020-02-04 13:46] rpless commented on #1202
I tried to update Finch to 2.13 this weekend. I managed it, but with 1 caveat. `twitter-server` is not yet on 2.13 so the 2 projects that depend on that (docs and examples) can't be built. We could fiddle with their cross versions to only build on 2.12 for those projects but that doesn't feel great.

[2020-02-05 09:56] sergeykolbasov commented on #1202
@rpless I think we should ignore twitter-server for now, as it's not a core dependency for the Finch itself

[2020-03-09 15:04] #1202 closed

[2020-04-25 23:16] baughmann commented on #1194
Well, it's been just over three months and this is still the case. Not only that, but the dependencies that @ComFreek do not work anymore.

[2020-05-20 16:18] olib963 opened #1230 "Creating your own Services"
I cannot find in the docs a way to create a `Service[NotRequest, NotResponse]`, perhaps I am missing something obvious but I am wondering if you need to recreate the whole stack.

### Expected behavior

I would like to be able to extend the `Request` and `Response` types to create a `Service[AuthorisedRequest, MonitoredResponse]`.

### Actual behavior

I can implement a `Filter[Reqest, Response, A

[2020-06-10 07:39] hmhagberg opened #1237 "Publish latest release to Maven Central"
Latest version according to this repository is 0.32.1 but latest available in Maven Central is 0.31.0. Would it be possible to publish 0.32.1 as well?

[2020-06-10 07:43] sergeykolbasov commented on #1237
Hi @hmhagberg

If you're looking for `finch` artifact with `com.twitter.Future` then it's deprecated and not getting updates. Otherwise, `F[_]`-polymorphic finch is available under `finchx` name.

We're going to change `finchx` name in the next release to `finch` and by that finish the deprecation cycle.

[2020-06-10 07:47] hmhagberg commented on #1237
Alright, that explains. Thanks for the prompt reply!

[2020-06-10 07:47] #1237 closed

[2020-06-10 07:53] sergeykolbasov commented on #1230
Hi @olib963

Sorry for the late response. Finch can't generate a `Service` for anything that is not `Request/Response`

What I could suggest (and what we use in production) is to use a more complex monad instead, such as `Kleisli` or `StateT`, and store/update the information on the request as a part of the monad's algebra.

Sadly, I don't have any examples to demonstrate what I mean right away, b

[2020-06-13 11:21] olib963 commented on #1230
Hey, thank you for your response. That makes sense, I couldn't find a way to do so in the API.

Currently the process is to

- use a `headerOption` `Endpoint` to do RBAC on our endpoints. This works but leaves us in the position where you can send an aunauthenitcated request and we will parse the body anyway
- use another `Endpoint` type for monitoring

For example:

[code]

such that `withRole` w

[2020-06-29 20:07] MaximilianoFelice commented on #1237
Had been struggling with this same issue for a few hours. Why is this not documented on the main page until the deprecation cycle finishes?

[2020-07-28 08:28] ComFreek opened #1249 "Documentation mentions non-existing `io.finch.syntax._`"
The documentation mentions `import io.finch.syntax._` at multiple places even though that package doesn not exist anymore in the lastest Finch version.

[2020-08-01 16:32] ComFreek commented on #765
Note that <https://finagle.github.io/finch/user-guide.html#errors> (that @rpless referenced above) contains a much more elaborated code snippet now than the comment above.

[2020-08-02 13:29] rpless commented on #1249
This is because the published documentation is still for the the `finch` artifacts. The focus of the next release is documenting and cutting over the `finchx` artifacts into the mainline of the repository per the last release notes https://github.com/finagle/finch/releases/tag/v0.32.1. Sorry if its causing friction, but updating has been slow going.

[2020-08-12 10:24] KovaxG opened #1254 "Hello World example from readme seems not to work"
Hi, I really like the idea of finch, and I'm trying to test it out, but sadly I keep hitting obstacles.
First there was an issue with the versions, ( #1194) but I finally solved that. But now I can't get the example hello world to work either.

I'm trying
[code]
but all I get is
[code]
I'm not sure if the problem is on my side or with the example.

[2020-08-14 20:53] rpless commented on #1254
Hi @KovaxG I believe this is an issue with the docs. I think #1250 fixes it. I will try to take a look and merge it this weekend.
Basically, `Http.server.serve` is returning a future that represents the life time of the server. Because it is a future it returns immediately and then the program exits. You can wrap it in `Await.ready` to block it until the server shuts down like so:
[code]

[2020-09-15 14:02] hderms commented on #1254
I can confirm this is how we use Finch, as well

[2020-09-15 23:38] benjumanji opened #1262 "How to filter a group of endpoints but not others"
I'm sorry if this is a stupid question, but I have _tried_ reading and understanding what happened in #1080 and I cannot for the life of me see how it answers the question posed in #1051. The types just don't seem to line up, and the middleware example has a bunch of middleware attached to a single bootstrap. I still don't see any method to slap together endpoints in a coproduct and then apply mid

[2020-09-16 11:08] sergeykolbasov commented on #1262
Hello

PR #1080 does answer #1051 simply because of signature of middleware (compiled endpoint):
[code]

So you can compile your endpoints into `Endpoint.Compiled[F]` (Kleisli), and then create a "filter" which is going to be another Kleisli function with the similar signature, then slap them together and feed into `Bootstrap`.

Example could be find here: https://github.com/finagle/finch/blob/mas

[2020-09-16 17:30] benjumanji commented on #1262
I guess this is what had me confused because that seems to me to be what #1051 was about. In any case, I have been playing about more with, and I think I have a nice solution. Thanks for your help!

[2020-09-18 18:55] #1262 closed

[2020-10-01 08:41] Bernold1 commented on #347
@vkostyukov is this documented somewhere else now?

[2020-10-01 12:30] rpless commented on #347
@Bernold1 On the doc site it is [here](https://finagle.github.io/finch/cookbook.html#serving-static-content) and in the repo its currently [here](https://github.com/finagle/finch/blob/master/docs/mdoc/cookbook.md#serving-static-content).

[2020-10-01 12:54] Bernold1 commented on #347
Thanks @rpless!

[2020-10-20 16:48] DuncanHills opened #1278 "Publish 0.32.1 to Sonatype/Maven Central"
It seems this release was made in March but 0.31 is still the latest release on Sonatype/Maven Central.

[2020-10-30 10:51] ComFreek opened #1282 "Document where the Encoder[Exception] error handler needs to be implicitly declared at"
As far as I could test, it needs to be implicitly available at the point where you *compile* your endpoints.

I do have a pretty modular architecture in my app and not knowing where this needs to be available only led me to trial and error.

[2020-10-30 11:32] Yomanz opened #1283 "WebSocket support"
Are there any plans to support WebSocket handling?

I can't see any docs about it, I might be blind though

[2020-10-30 13:31] rpless commented on #1283
Hi @Yomanz, we do not currently have any plans to support websockets. Finagle (the underlying webserver) does not support websockets and its`Request => Future[Response]` model is not really suited to websockets.

There was an [attempt](https://github.com/finagle/finagle-websocket) to support them, but that has been abandoned for awhile. I believe some of the forks of the repository may still be ke

[2020-10-30 13:35] Yomanz commented on #1283
Alright thanks.

[2020-10-30 13:35] #1283 closed

[2020-12-10 01:47] laniakea-landscape commented on #347
@rpless Hello. Is that documentation outdated? `com.twitter.io.Reader` does not have `readAll` method. Or am I doing something wrong?

[2020-12-10 15:22] rpless commented on #347
Hi @laniakea-landscape the docs are still be updated to the latest. It seems `readAll` was removed from twitter/util in version [19.10.0](https://github.com/twitter/util/blob/develop/CHANGELOG.rst#breaking-api-changes-7). They suggest using `BufReader.readAll` or `Reader.readAllItems`. Can you try that?

[2020-12-23 17:32] mfirry commented on #1278
Any update on this?

[2020-12-23 20:34] mfirry commented on #1278
I actually found it now: https://search.maven.org/search?q=finchx-core

[2021-01-11 17:25] r2d2-94 commented on #544
@vkostyukov I know this is an old thread, but by any chance could i get to see the snippet? I am facing this in my own project
Getting 404 on the link

[2021-02-07 17:15] kubukoz opened #1319 "Cats Effect 3 migration"
Hi! Are there any plans in place to migrate to Cats Effect 3? If there are any blockers, it would be best to catch them before the RCs are being released. Asking for https://github.com/typelevel/cats-effect/issues/1330 :)

[2021-02-08 14:54] sergeykolbasov commented on #1319
Hello

Yes, however, this project needs some attention to update documentation first. I'll try to come back to it as soon as possible.

[2021-02-15 18:43] tpetillot opened #1322 "Connection closed on error response while consuming FS2 streaming body"
If an error occure, even if it is well caught and handled, connection is closed.
I suspect the reason being to write a response while body isn't fully consumed.

**Reproducer:** https://github.com/tpetillot/finch-fs2-issue/tree/main

[2021-02-17 20:50] renancaju opened #1327 "Incompatible versions of jackson with other libraries"
In the same project I have finch (0.32.1), zio-kafka (0.14.0) and awssdk (2.15.78), all of which depend on a different version of jackson. Digging the code up a little, I found out finch checks that the version it depends on (through finagle) is exactly the same version used in the build, otherwise it throws an exception on startup:

[code]

Is there a way to work around this? I don't quite grasp

[2021-02-17 22:34] sergeykolbasov commented on #1327
It's coming from twitter-server of finagle-stats if I recall. I suggest to update those dependencies.

[2021-02-18 01:51] rpless commented on #1327
Not quite (although twitter-server does use it a lot), Finagle uses jackson for ToggleMaps (which does get loaded by finagle-http). Finch does not use it directly so pinning to the version of Finagle the Finch is using might work.

We're not directly checking the versions in Finch or Finagle. It happens inside jackson itself: https://github.com/FasterXML/jackson-module-scala/blob/5293009454ea7fbe3

[2021-02-18 14:33] #1322 closed

[2021-02-18 23:51] renancaju commented on #1327
So your recommendation would be to wait for the next Finch release, @rpless?
Is there a release planned for the near future?

[2021-02-19 14:06] rpless commented on #1327
Its not ideal but that is a possible solution, I don't think we currently have an ETA on the next release.

Another option might be to try and downgrade the version of `jackson-module-scala` that you rely on to the version that Finagle is using. One way to do this would be with the `dependencyOverrides` directive in sbt. Even with that you may wind up with an issue with your other dependencies ver

[2021-04-27 23:27] DuncanHills commented on #1278
That's finchx, not finch.

[2021-05-11 12:51] kincsescsaba opened #1369 "No content with 400 and 500 responses"
Hi,

I created my custom BadRequest and InternalServerError responses for specific cases, I also pass the exception as a parameter but nothing is returned with the response, no content, it's empty.

What should I do if I want the details of the exception returned?

I tried the code below:
[code]
but it did not help, though I'm not sure where should I insert it to make things work.

Cheers,
Csaba

[2021-05-11 13:57] kincsescsaba opened #1370 "Decoding Instant"
Hi,

I'm unable to override Finch/Circe's default Instant decoder.

I tried to put this in the package objects containing the affected data structure and the part where I call decode[...].
[code]

Unfortunately, it does not work.

I get decoding exceptions like this:
`Instant: DownField(timestamp),DownArray,DownField(data)`

As you can see above, I'm using an epoch millis number, looks like Finch

[2021-06-28 17:16] benjumanji opened #1396 "Is finch dead?"
No value judgement, I currently rely on it for a few projects and I'm wondering if I should just move on? I'd be happy to merge scala-steward pulls etc to keep it ticking over.

[2021-07-05 13:41] rpless commented on #1396
Yea I get the sentiment, and I'd get it if you wanted to move on. We definitely haven't been very active over the last year or so. Sergey and I had talked earlier this year about the next release. The only real thing remaining is to update the docs which was half done in #1231. I think we'll be in a much better spot for getting back to a more regular-ish releases once we've released that. For my p

[2021-07-06 08:43] tpetillot commented on #1396
Finch is definitly very handfull and pleasant to use, we're glad to have migrated on it.
The only drawback we have meet is with the dependencies updates, on which we would be glad to help maintain as well.

[2021-07-08 12:24] benjumanji commented on #1396
As it stands I'm not dying for features. I think it works well as a library, I think it's more just keeping up with deps _shakes fist at jackson_.I think a docs refresh would be grand. I have a PR for last year targetting one tiny part of the docs #1274 and it's that kind of thing (references to removed code) I think that makes the project look unmaintained. I think the overall quality of the proj

[2021-11-02 09:08] mfirry opened #1417 "Issues with Scala 2.13.7"
Hi all,
I think it's a bit weird that my code is not compiling with [2.13.7](https://github.com/scala/scala/releases) but it does with 2.13.6.

Specifically with the following:

[code]

I now get
[code]

(the complete code can be found [here](https://github.com/mfirry/web-frameworks-templates/blob/main/finch/src/main/scala/WebServer.scala))

[2021-11-02 16:48] SethTisue commented on #1417
This would have been caught ahead of time (before 2.13.7 was released) if Finch were in the Scala 2 community build.

I've opened a PR to add it, here: https://github.com/scala/community-build/pull/1504

[2021-11-02 17:23] gabro commented on #1417
FWIW there seems to be something odd with https://github.com/finagle/finch/blob/master/core/src/main/scala/io/finch/internal/Mapper.scala#L79-L81

Given the error message, I would have expected the implicit conversion Output => Mapper to kick in, but it's clearly not happening

[2021-11-06 15:22] mfirry commented on #1417
I was wondering if there is any way to trace and log implicit resolution (I think there is) and the check it with 2.13.7 and 2.13.6

[2021-11-06 16:11] joroKr21 commented on #1417
You can use `-Xlog-implicits` for that

[2021-11-17 18:44] stephen-lazaro commented on #1319
Would a PR that executed this migration be welcomed?

[2021-11-22 23:47] SethTisue commented on #1417
Note that we're aiming to build 2.13.8 circa Dec 10, so time is running short for a minimized bug report if you were hoping this might get fixed in that release.

[2021-11-23 13:53] rpless commented on #1417
@SethTisue what would you consider ideal for a minimized bug report? Would extracting the failing finch examples from @mfirry's repo into a smaller self contained one be enough for a bug report on the Scala bug tracker? Or would it need to minimized further to exclude Finch entirely?

[2021-11-23 14:15] SethTisue commented on #1417
It’s strongly preferable to have a reproduction without an external JAR involved, so that we can turn it directly into a regression test.

[2021-11-23 14:34] mfirry commented on #1417
@rpless, happy to help. Let me know if this is useful => https://github.com/mfirry/finch-repro-1417

[2021-11-23 16:27] rpless commented on #1417
Thanks @mfirry. I'm hoping we can get a repro without dependencies, but we'll see.

Did a little digging this morning. One thing I noticed is that this still compiles:
[code]
Which kinda tells me that any Mapper that needs to summon a `FnToProduct.Aux` from shapeless still works. I suspect that means the only ones that are affected are the instances that get a raw `Output` or are a single arity fu

[2021-12-11 16:02] monksy commented on #1022
With the example I'm seeing + updated dependencies:

[code]

[2021-12-11 17:27] joroKr21 commented on #1417
Perhaps scala/scala#9691 surfaced a diverging implicit error

[2021-12-11 17:36] joroKr21 commented on #1417
This would fix it:
[code]

Now all we need is a minimal reproduction and a ticket in scala/bug

[2021-12-11 17:56] joroKr21 commented on #1417
What I missed in that PR was that if we are already typechecking an implicit view we can't recover with another implicit view.

[2021-12-11 20:57] monksy commented on #1249
It does not look like this release is in maven central for scala 2.13.

https://mvnrepository.com/artifact/com.github.finagle/finch-core

finchx-core 0.32.1 is in there for scala 2.13.

@sergeykolbasov

[2021-12-20 14:32] joroKr21 commented on #1417
I think we can safely close that now - it was a regression in Scala 2.13.7 and the fix will be released with 2.13.8

[2022-01-04 18:50] jianshu93 opened #1432 "a native rust implementation of murmurhash3"
Hell Finch Team,

I noticed that the new murmurhash3 implemented in Rust is available. Could be used to replace the original one right?

https://github.com/stusmall/murmur3

Thanks,

Jianshu

[2022-01-11 08:24] mfirry commented on #1417
I confirm 2.13.8 fixes it for me. Thanks everyone!

[2022-01-27 17:18] hderms commented on #978
To clarify, this does appear to not run the mapper if `withAuth` returns an error
[code]
but for example:
[code]
the mappers on fooEndpoint or barEndpoint will run for the first of fooEndpoint and barEndpoint that matches, regardless of the output of `withAuth`

I'm not sure if this is a super realistic use case, but it appears to subvert the notion that the Mapper *only* runs when the previous en

[2022-02-16 11:54] benjumanji commented on #1396
Well, it's gotten to the point where I can't update key dependencies (shapless / circe), adios amigos. Thanks for the ride :)

[2022-02-16 12:43] joroKr21 commented on #1396
Can we just onboard new maintainers? I would be happy to help, even if it's just updating dependencies and cutting new releases.

[2022-03-07 08:37] tpetillot commented on #1396
@rpless yes, still interested!

[2022-03-29 07:54] tpetillot commented on #1396
Any update?

[2022-03-29 08:41] joroKr21 commented on #1396
Yes, I'd be interested. I hope we can release by just publishing a tag - if not automating releases would be the single most important thing for me.

[2022-04-03 18:15] rpless commented on #1396
Sorry for the delay, I have invited both @joroKr21 and @tpetillot to the repo.

So we do have an automated release process, however its not tag based. What we do to trigger the release process is push a commit like [this](https://github.com/finagle/finch/commit/9af514af5582d0f87999c42b3b3a6c80c4010790), that removes the `-SNAPSHOT` part of the version and then CI kicks and handles the release.

[2022-04-04 07:39] joroKr21 commented on #1396
Does it mean right after the release you need another commit to add `-SNAPSHOT` again?

[2022-04-04 07:51] tpetillot commented on #1396
@joroKr21 seems like CI add it back  https://github.com/finagle/finch/commit/78b2f15f62dbaaa89529f4132d315d3f4f4b85c2

[2022-04-04 12:18] tpetillot commented on #1396
@joroKr21 if you're up to, we may discuss the takeover of the updates on https://gitter.im/finagle/finch

[2022-04-04 12:20] rpless commented on #1396
Correct, CI will also cut a new snapshot version for you.

[2022-04-04 16:48] tpetillot commented on #1396
Started with https://github.com/finagle/finch/pull/1446 to allow IntelliJ proper indexing.
Next updates will be: finagle, shapeless and circe on which I've not detected any breaking change.

CE3 is not a priority for us ATM, so I guess I'll update as much as possible dependencies under `0.32.2`, then bring CE3 under `0.33.0` if you're ok with it?

Let me know if you wish keep an eye from distance,

[2022-04-04 21:36] joroKr21 commented on #1396
There are a bunch of scala-steward PRs we can merge

[2022-04-04 22:11] #1417 closed

[2022-04-05 16:51] #1396 closed

[2022-04-06 12:45] tpetillot commented on #1396
@rpless 756cea1a61ae82418ba7c3413f05448d71dde402 release doesn't seems to be triggered, as it's not a Github Action I don't think I have any visibility neither other control on it... Any hint?

[2022-04-06 13:42] rpless commented on #1396
Uh I did not realize we were on github actions. Last I checked the we released via Travis CI. It looks like the github action does not invoke `./build/build.sh` which is whats needed to release. That also requires some secrets that I don't think I have, I can't move those over to github actions. We might need to delete the github actions setup and go back to Travis CI.
It looks like @sergeykolbaso

[2022-04-06 14:52] tpetillot commented on #1396
I'm not sure of which github actions setup you're talking about (currently, on this repository, GA only handle tests).
Indeed, it definitly look like everything is configure for Travis CI.

Hope we'll be able to release soon🙏

[2022-04-06 16:48] rpless commented on #1396
I think we may just need to revert this [commit](https://github.com/finagle/finch/commit/298889b2d4663e821516b63c67f10cd52a8451b5) for now. I know most people tend to prefer Github Actions these days, but I'm not really sure whats involved in porting the release process to it.

[2022-04-07 08:09] tpetillot commented on #1396
@rpless not sure to understand what you mean.
Is Travis CI still setup? Does it ignore finch repository because of the github actions folder? If removed, would the tests be triggered elsewhere?

[2022-04-07 13:36] rpless commented on #1396
Sorry if I was not clear. My guess is that the travis build is not happening due to the github actions folder being there. My guess is that removing it will allow the travis build process to happen. As far as I can tell travis is still configured and has access to the repo.

[2022-04-07 16:00] tpetillot commented on #1396
thank you for your clarifications, just tried and nothing seems to happend. I'm not familiar with travis, but while checking under https://app.travis-ci.com/github/finagle/finch I've a a danger alert at top indicating:

Last build was https://app.travis-ci.com/github/finagle/finch/builds/249090088 on https://github.com/finagle/finch/commit/117129bb2c7089250cb227842e5c05cf579e3ec7 (which seems to b

[2022-04-07 16:43] tpetillot commented on #1396
I'm also familiar with github actions, so would be perfect for me.
Hope secret is still in hand! 🙏

[2022-04-07 17:38] rpless commented on #1396
Ok so the good news is that Vladimir had the password. I've confirmed that it works and have uploaded it as a Github Actions Secret. Its name is `ENCRYPTION_PASSWORD` to keep inline with what the script calls it.
I'm not terribly familiar with Github actions, but it does seem like the best way forward. I think if we could get a Github Action that calls the current `./build/build.sh` file that woul